{% block subject %}
    {% autoescape false %}
    {# titre #}
Votre annonce : {{location.titre}} n’est plus en ligne depuis 90 jours
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <h4>Bonjour {{user.firstname| capitalize}} {{user.lastname| upper}} ,</h4>
            <br/>
            <div>
                <p>Votre annonce est suspendue et n’est plus en ligne depuis 90 jours.</p>
                <p>Pour la remettre en fonction il vous suffit de vérifier la validité de votre planning, tarifs, descriptif, et photo avec le lien ci-dessous.</p>
                <p>Lien de mise à jour de l’annonce</p>
                <p>
                    <a href="{{url('admin_lef_data_location_edit', {'id':location.id})}}">Mettre à jour votre annonce</a>
                </p>
                <p>Sans action de votre part sous 3 jours votre annonce sera supprimer du serveur</p>
                <p>Nous vous remercions de votre compréhension,</p>
                <br/>
                <p>Cordialement,</p>
                <br/>
                <p>Hubert</p>
                <p>Administration de Louer-en-France.com</p>

                <p>Pour nous contacter :</p>
                <p>
                    <a href="{{url('location')}}">Contactez-nous</a>
                </p>
            </div>
        </div>
    </body>
</html>
{% endblock %}
