
{# construction du mél #}
{% block subject %}
{% autoescape false %}
{# set variables #}
{% set new_sex = user.gender %}
{% if new_sex == 'u' or new_sex == ''%}
{% set new_civilite = '' %}
{% endif %}
{% if new_sex == 'f' %}
    {% set new_civilite = 'Mme.' %}
{% endif %}
{% if new_sex == 'm' %}
    {% set new_civilite = 'M.' %}
{% endif %}

{% if user.roles[0] == 'ROLE_ANNONCEUR' %}
    {{new_civilite}} {{user.firstname | capitalize}} {{user.lastname | upper}} a modifié l'annonce : {{location.titre}}, Ref : {{location.reference}}
{% endif %}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}#}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <div id="div-liens">
                <p>
                    <a href="{{url('admin_lef_bo_user_list', {'filter[id][value]': user.id})}}">Mettre hors ligne de l'annonceur</a>
                </p>
                <p>
                    <a href="{{url('admin_lef_data_location_list', {'filter[reference][value]': location.reference})}}">Mettre hors ligne de l'annonce</a>
                </p>
                <p>
                    <a href="{{url('admin_lef_data_location_edit', {'id':location.id})}}">Modifier des données de l'annonce</a>
                </p>
                <p>
                    <a href="{{url('admin_lef_bo_user_edit', {'id':user.id})}}">Modifier des données de l'annonceur</a>
                </p>
                <p>
                    <a href="{{url('admin_send_email', {'to': user.email})}}">Envoyer un message à l'annonceur</a>
                </p>
                <p>
                    <a href="{{url('location_show', {'id': location.id})}}">Voir l'annonce en ligne</a>
                </p>
            </div> 
            <div id="div-infos">
                
            </div> 
        </div>
    </body>
</html>
{% endblock %}
