{% block subject %}
    {% autoescape false %}
    {# titre #}
Veuillez penser à mettre à jour votre annonce : {{location.titre}}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <h4>Bonjour {{user.firstname| capitalize}} {{user.lastname| upper}} ,</h4>
            <br/>
            <div>
                <p>Votre planning n’a pas été modifié depuis 30 jours, merci de bien vouloir le vérifier et le valider,
                    La précision des plannings est un des atouts majeurs de Louer-en-France.com</p>
                <p>Nous vous remercions de votre compréhension, sans action de votre part votre annonce sera suspendu dans 3 jours.</p>
                <p>Lien de mise à jour du planning:</p>
                <p>
                    <a href="{{url('location')}}">Mettre à jour votre planning</a>
                </p>
                <br/>
                <p>Cordialement,</p>
                <br/>
                <p>Hubert</p>
                <p>Administration de Louer-en-France.com</p>

                <p>Pour nous contacter :</p>
                <p>
                    <a href="{{url('location')}}">Contactez-nous</a>
                </p>
            </div>
        </div>            
    </body>
</html>
{% endblock %}
