{% block subject %}
    {% autoescape false %}
    {# titre #}
Votre annonce : {{location.titre}} est a été supprimée du serveur
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <h4>Bonjour {{user.firstname| capitalize}} {{user.lastname| upper}} ,</h4>
            <br/>
            <div>
                <p>Votre annonce suspendue n’était plus en ligne depuis 93 jours et n’a pas été remise à jour.</p>
                <p>Elle a été supprimée du serveur.</p>
                <p>Vous pouvez à tout moment repasser une annonce gratuite</p>
                <p>Nous vous remercions de votre compréhension,</p>
                <br/>
                <p>Cordialement,</p>
                <br/>
                <p>Hubert</p>
                <p>Administration de Louer-en-France.com</p>

                <p>Pour nous contacter :</p>
                <p>
                    <a href="{{url('location')}}">Contactez-nous</a>
                </p>
            </div>
        </div>
    </body>
</html>
{% endblock %}
