{% block subject %}
    {% autoescape false %}
    {# titre #}
        Votre annonce : {{location.titre}} a été modifiée
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <h4>Bonjour {{user.firstname| capitalize}} ,</h4>
            <br/>
            <div>
                <p>
                    <a href="{{url('location')}}">Accéder au BackOffice</a>
                </p>
                <p>
                    <a href="{{url('credit')}}">Commander un crédit suplémentaire de promotion</a>
                </p>
                <p>
                    <a href="{{url('location_show', {'id': location.id})}}">Voire mon annonce</a>
                </p>
            </div>
            <p>
                <br/>
                <br/>
                Cordialement,
                <br/>
                Louer en France.
            </p> 
        </div>
    </body>
</html>
{% endblock %}
