{% block subject %}
    {% autoescape false %}
    {# titre #}
Votre annonce : {{location.titre}} est suspendue
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <h4>Bonjour {{user.firstname| capitalize}} {{user.lastname| upper}} ,</h4>
            <br/>
            <div>
                <p>Votre planning n’a pas été modifié depuis notre dernier message,
                    Votre annonce est suspendue et n’est plus en ligne.</p>
                <p>Pour la remettre en fonction il vous suffit de vérifier la validité de votre planning et tarifs avec le lien ci-dessous.</p>
                <p>Lien de mise à jour du planning:</p>
                <p>
                    <a href="{{url('location')}}">Mettre à jour votre planning</a>
                </p>
                <br/>
                <p>Cordialement,</p>
                <br/>
                <p>Hubert</p>
                <p>Administration de Louer-en-France.com</p>

                <p>Pour nous contacter :</p>
                <p>
                    <a href="{{url('location')}}">Contactez-nous</a>
                </p>
            </div>
        </div>
    </body>
</html>
{% endblock %}
