{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mapping list</h1>

    <table class="records_list table table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Xpath</th>
                <th>Refto</th>
                <th>Filename</th>
                <th>Partner</th>
                <th>Options</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mapping_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.xpath }}</td>
                <td>{{ entity.refto }}</td>
                <td>{{ entity.filename }}</td>
                <td>{{ entity.partner }}</td>
                <td>{{ entity.options }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('mapping_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('mapping_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
