{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mapping</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Xpath</th>
                <td>{{ entity.xpath }}</td>
            </tr>
            <tr>
                <th>Refto</th>
                <td>{{ entity.refto }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ entity.filename }}</td>
            </tr>
            <tr>
                <th>Partner</th>
                <td>{{ entity.partner }}</td>
            </tr>
            <tr>
                <th>Options</th>
                <td>{{ entity.options }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mapping') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mapping_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
