{% extends '::base.html.twig' %}
{% block title %} {{parent()}} Erreur 404 {% endblock %}
{% block body -%}
	<div class="jumbotron alert alert-danger">
		<h1>Erreur 404</h1> 
		{% if page is defined  %}
			La page <strong>" {{page}} "</strong> n'existe pas !
		{% else %}
			La page que vous chercher n'existe pas !
		{% endif %}
	</div>
{% endblock %}