{% set pageTitle = "Inscription" %}
{% extends '::base.html.twig' %}
{% block body %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div class="row">
    <div class="span10 col-lg-10">
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    </div>
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="panel panel-info panel-connexion">

            <div class="panel-heading">
                <h2 class="panel-title">Connexion</h2>
            </div>
            <div class="panel-body">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" id="password" name="_password" required="required" />

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                    <input type="submit" class="btn btn-block btn-login" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </form>
                <a href="{{ path("fos_user_registration_register") }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                 | 
                <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
