{% block subject %}
{% autoescape false %}
{# titre #}
Votre compte a été modifié sur louer en france
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <h4>Bonjour ,</h4>
            <br/>
            <p>Vos informations: </p>
            <table>
                <tr>
                    <th>Nom</th>
                    <td>{{user.lastname | upper}}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{user.firstname | capitalize}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th>Identifiant</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <td>Numéro téléphone</td>
                    <td>{{user.phone}}</td>
                </tr>
                {% if user.roles[0] == 'ROLE_ANNONCEUR' %}
                <tr>
                    <td>Raison sociale</td>
                    <td>{{user.raisonsociale}}</td>
                </tr>
                {% endif %}
            </table>
            <p>
                <br/>
                <br/>
                Cordialement,
                <br/>
                Louer en France.
            </p> 
        </div>
    </body>
</html>
{% endblock %}
