
{# construction du mél #}
{% block subject %}
{% autoescape false %}
{# set variables #}
{% set new_sex = user.gender %}
{% if new_sex == 'u' or new_sex == ''%}
{% set new_civilite = '' %}
{% endif %}
{% if new_sex == 'f' %}
    {% set new_civilite = 'Mme.' %}
{% endif %}
{% if new_sex == 'm' %}
    {% set new_civilite = 'M.' %}
{% endif %}

{% if user.roles[0] == 'ROLE_ANNONCEUR' %}
    {{new_civilite}} {{user.firstname | capitalize}} {{user.lastname | upper}} a modifié son profil annonceur
{% endif %}
{% if user.roles[0] == 'ROLE_VISITEUR' %}
    {{new_civilite}} {{user.firstname | capitalize}} {{user.lastname | upper}} a modifié ces données Visiteur
{% endif %}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}#}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <div id="div-liens">
                <p>
                    <a href="{{url('admin_lef_bo_user_list', {'filter[id][value]': user.id})}}">Opérations rapides</a>
                </p>
                <p>
                    <a href="{{url('admin_lef_bo_user_edit', {'id':user.id})}}">Editer ses données</a>
                </p>
                <p>
                    <a href="{{url('admin_send_email', {'to': user.email})}}">Envoyer un message</a>
                </p>
            </div> 
            <div id="div-infos">
                <p>Ses infos:</p>
                <table>
                    <tr>
                        <th>Nom</th>
                        <td>{{user.lastname | upper}}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{user.firstname | capitalize}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <th>Identifiant</th>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>Numéro téléphone</td>
                        <td>{{user.phone}}</td>
                    </tr>
                    {% if user.roles[0] == 'ROLE_ANNONCEUR' %}
                    <tr>
                        <td>Raison sociale</td>
                        <td>{{user.raisonsociale}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div> 
        </div>
    </body>
</html>
{% endblock %}
