{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Media creation</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group row">
        <div class="col-md-3 col-sm-3">
                      {{ form_errors(form.file) }}
                      {{ form_widget(form.file, { 'attr': {'class': 'form-control', 'placeholder': 'Choisissez image', 'required': true} }) }}
        </div>
        <div class="col-md-3 col-sm-3">
                      {{ form_errors(form.titre) }}
                      {{ form_widget(form.titre, { 'attr': {'class': 'form-control', 'placeholder': 'titre image', 'required': true} }) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('media') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
