<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                {% block title %}
                    {% if is_front is defined %}
            Location de vacances en France et dans le monde entier avec Louer-en-France.com
                    {% elseif titrePage is defined %}
            Louer-EnFrance.com | {{titrePage|capitalize}}
                    {% else %}
            Louer-EnFrance.com
                    {% endif %}
                {% endblock %}
        </title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet" media="screen">
        <link href='//code.jquery.com/ui/1.11.2/jquery-ui.min.js' rel="stylesheet" media="screen">

        <!-- Bootstrap -->
        {#<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">#}
        <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel="stylesheet" media="screen">
        <link href="{{ asset('css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" media="screen">
{#        <link href="{{ asset('css/bootstrap-slider.css') }}" rel="stylesheet" media="screen">#}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ asset('css/main.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/chosen.min.css') }}" rel="stylesheet">            {# Added le 150814 par Jian #}
        <link href="{{ asset('css/easydropdown.min.css') }}" rel="stylesheet">      {# Added le 090914 par Jian #}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% if is_front is defined %}
        <div class="container">
            <div class="entete">

                    {# ========== Inclusion ========== #}
                    {% include 'header-home.inc' %}

                <div class="bande1">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-link btn-lg btn-block btn-go-contact">Une question? contactez-Nous | <i class="fa fa-envelope-o"></i></a>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-primary btn-lg btn-block btn-go-new-account" href="{{path('fos_user_registration_register')}}">Création de compte</a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="{{ path('location_new') }}" class="btn btn-warning btn-lg btn-block btn-go-new-annonce">Poster votre annonce</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="entete">
                <div class="header header-lef">
                    <div class="top-bann">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="{{ path('home') }}" class="link-site-name">
                                    <h2 class="site-name">Louer-en-France.com <br> <small class="slogan">Et dans le monde entier</small> </h2>
                                </a>
                            </div>
                            <div class="col-sm-8">
                                <ul class="nav nav-pills nav-pills-lef" style="margin-left: 123px;">
                                    <li class="reseaux-lef">
                                        <a href="https://twitter.com/LouerEnFrance"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.facebook.com/LouerEnFrance"><i class="fa fa-facebook"></i></a>
{#                                            <a href="#google"><i class="fa fa-google-plus"></i></a>#}
                                    </li>
                                    <li><a href="{{ path('fos_user_security_login') }}">Inscrivez-vous/Connectez-vous</a></li>
                                    <li><a href="{{ path('static', {'page':'qui-sommes-nous'}) }}">Qui sommes nous?</a></li>
                                    <li><a href="{{ path('static', {'page':'nos-partenaires'}) }}">Nos Partenaires</a></li>
                                        {#<li><a href="{{ path('contact') }}">Contactez-nous</a></li>#}
                                </ul>
                                <br>
                                <div class="row">
                                    <div class="col-sm-4">
                                            {# <a class="btn btn-lef-default btn-primary btn-block btn-go-new-search">Nouvelle recherche</a> #}
                                    </div>
                                    <div class="col-sm-4">
                                        <a class="btn btn-lef-default btn-warning btn-block btn-go-wish-list" href="{{path('location_favoris')}}">Vos favoris</a>               {# Modified le 130814 par Jian #}
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="{{ path('location_new') }}" class="btn btn-lef-default btn-warning btn-block btn-go-new-annonce">Poster votre annonce</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        {# ========== Inclusion ========== #}
                        {% include "menu-header-default.inc" %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container main-container">
            <div class="main-content">
                {% block body %}

                    {% block pub1 %}
                        {% include "pub.inc" %}
                    {% endblock %}

                    {% block pub3 %}
                        {% include "pub3.inc" %}
                    {% endblock %}

                    {% block whyus %}
                        {% include "why-us.inc" %}
                    {% endblock %}

                    {% block offre %}
                        {% include "offre.inc" %}
                    {% endblock %}

                    {% block pub2 %}
                        {% include "pub2.inc" %}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
        <div class="container">
            <div class="footer-wrap">
                <footer class='footer-top'>
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="nav-footer">
                                <h5>Louer en France</h5>
                                <li><a href="{{ path('static', {'page':'qui-sommes-nous'}) }}">Qui sommes nous ?</a></li>
                                <li><a href="{{ path('static', {'page':'nos-engagements'}) }}">Nos engagements,</a></li>
                                <li><a href="{{ path('static', {'page':'nos-partenaires'}) }}">Nos partenaires.</a></li>
                            </ul>
                        </div>
                        {#<div class="col-sm-3">
                            <ul class="nav-footer">
                                <h5>Nos services personnalisés</h5>
                                <li><a href="{{ path('static', {'page':'comment-sinscrire'}) }}">Comment s’inscrire,</a></li>
                                <li><a href="{{ path('static', {'page':'comment-deposer-une-annonce'}) }}">Comment déposer une annonce? </a></li>
                                <li><a href="{{ path('static', {'page':'guide-de-location'}) }}">Comment réserver une location?</a></li>
                            </ul>
                        </div>#}
                        <div class="col-sm-4">
                            <ul class="nav-footer">
                                <h5>Informations légales</h5>
                                <li><a href="{{ path('static', {'page':'conditions-generale-de-vente'}) }}">Conditions générale de vente,</a></li>
                                <li><a href="{{ path('static', {'page':'mentions-legales'}) }}">Mentions légales,</a></li>
                                <li><a href="{{ path('static', {'page':'charte-de-confidentialite'}) }}">Charte de confidentialité.</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="nav-footer">
                                <h5>Contact et partage</h5>
                                <li><a href="{{ path('static', {'page':'demande-d-information'}) }}">Demande d’informations,</a></li>
                                <li><a href="{{ path('static', {'page':'demande-de-partenariat'}) }}">Demande de partenariat,</a></li>
                                <li><a href="{{ path('static', {'page':'faq'}) }}">FAQ clients.</a></li>
                            </ul>
                            <p class="pull-center">
                                <a href="https://twitter.com/LouerEnFrance" class="btn btn-link btn-xs"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/LouerEnFrance" class="btn btn-link btn-xs"><i class="fa fa-facebook"></i></a>
{#                            <a href="#google" class="btn btn-link btn-xs"><i class="fa fa-google-plus"></i></a>#}
                            </p>
                        </div>
                    </div>
                    <br>
                    <p class="copy">
                        &copy; 1992-2014 louer-en-france.com Annonces immobilières © PressImmo Online, S.A.S. au capital de 1.350.000€ • 65 rue Ordener 75880 Paris Cedex 18 • RCS Paris B 425 074 481 <br>
                        iProperty.com   -   India Rumah123.com  -   GoHome.com.hk <br>
                        <a href="{{ path('partners') }}">Gestion Partenaires</a>
                        {#
                        <a href="{{ path('annonces') }}">Annonces</a> -
                        <a href="http://www.localnomad.com/fr/" target="blank">http://www.localnomad.com/fr/</a>#}
                    </p>
                </footer>
                <footer class='footer-bottom'>
                    <p class="credit">Réalisé par <strong>UMANTEAM SAS</strong></p>
                </footer>
            </div>
        </div>
        {% block javascripts %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
            {#<script src="{{ asset('js/bootstrap.min.js') }}"></script>#}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
{#        <script src="{{ asset('js/bootstrap-slider.js') }}"></script>#}
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/jquery.cookie.min.js') }}"></script>          {# added le 130814 par Jian #}
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&language=fr&libraries=geometry,places,visualization'></script>
        <script src="{{ asset('js/search.js') }}"></script>
{#        <script src="{{ asset('js/search-top-seo.js') }}"></script>#}
{#        <script src="{{ asset('js/search-top-seo-more.js') }}"></script>#}
        <script src="{{ asset('js/wish-list.js') }}"></script>              {# added le 130814 par Jian #}
        <script src="{{ asset('js/chosen.jquery.min.js') }}"></script>      {# added le 150814 par Jian #}
        <script src="{{ asset('js/jquery.easydropdown.min.js') }}"></script>    {# added le 090914 par Jian #}
{#            <script src="{{ asset('js/search-left-ajax-display.js') }}"></script>#}{# added le 100914 par Jian #}
        <script>
            $(document).ready(function() {
                $('form label').each(function() {
                    $(this).next().andSelf().wrapAll('<div class="form-group">');
                    $(this).next().addClass('form-control');
                });
                $('form *[type=submit]').addClass('btn');
            });
        </script>
        {% endblock %}
        <script>
            $(document).ready(function() {
                /* Toggle search form for more critics */
                $('.toggle-advanced-form').click(function() {
                    $('.advanced-form').slideToggle('slow');
                });
                /* Slider radius for geoloc */
                $("#slider-geo-radius").slider({
                    animate: true,
                    step: 500,
                    range: true,
                    min: 0,
                    max: 10000,
                    value: 0,
                    create: function(event, ui) {
                    },
                    slide: function(event, ui) {
                    }
                });
            });
        </script>
    </body>
</html>