{# LefFoBundle:Comparaison:modal.html.twig #}
{% if items is defined %}
    {% for item in items %}
        <div class="thumbNailUnit" id="{{item.id}}">
            <div class="media">
                <img src="{{ asset('img/no-photo.min.jpg') }}">
            </div>
            <div>{{item.titre}}</div>
        </div>
    {% endfor %}
{% endif %}
