{# LefFoBundle:Comparaison:panier.html.twig #}
{% if items is defined %}
    {% for item in items %}
        <div class="thumbNailUnit" id="{{item.id}}">
            <div class="media">
                <img src="{{ asset('img/no-photo.min.jpg') }}">
            </div>
            <div>{{item.titre}}</div>
            <button type="button" class="close cross-remove-compa" id="{{item.id}}">
                <span aria-hidden="false" >×</span>
                <span class="sr-only">Close</span>
            </button>
        </div>
    {% endfor %}
    <P>Items : {{items|length}}</p>
{% endif %}