{% set pageTitle = "Configuration Partenaire" %}
{% extends '::base.html.twig' %}

{% block body -%}
<a href="{{ path('partners') }}" class="btn btn-primary">Revenir à la liste des partenaires</a>

<hr>

<h1>Configuration du partenaire {{ partner.name|upper }}</h1>

<p class="btn-group">
    <a class="btn btn-info btn-sm" href="{{ path('partners_show', { 'id': partner.id }) }}">
        <i class="glyphicon glyphicon-search"></i> Voir</a>
    <a class="btn btn-info btn-sm" href="{{ path('partners_config', { 'id': partner.id }) }}">
        <i class="glyphicon glyphicon-cog"></i> Configurer le mappage</a>
    <a class="btn btn-info btn-sm" href="{{ path('partners_sync', { 'id': partner.id }) }}">
        <i class="glyphicon glyphicon-download-alt"></i> Télécharger le(s) fichier(s)</a>
    <a class="btn btn-info btn-sm" href="{{ path('partners_unpack', { 'id': partner.id }) }}">
        <i class="glyphicon glyphicon-log-out"></i> Dézipper le(s) fichier(s)</a>
    {#<a class="btn btn-info btn-sm" href="{{ path('partners_save_raw', { 'id': partner.id }) }}" title="Fichiers -> BDD">
        <i class="fa fa-database"></i> Fichiers -> BDD</a>#} 
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalSaveRawIc">
        <i class="fa fa-database"></i> Fichiers -> BDD
    </button>
    {#<a class="btn btn-info btn-sm" href="{{ path('partners_data_maj', { 'id': partner.id }) }}" title="Mettre à jour la base de données">
        <i class="glyphicon glyphicon-refresh"></i> MAJ base de données</a> #}
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalUpdate">
        <i class="glyphicon glyphicon-refresh"></i> MAJ base de données
    </button>
</p>

<div class="row">
    <div class="col-md-9">
        <div class="form-wrap">
				{{ form(config_form) }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="files-list">
				{% if link != null %}
            <h2>{{link.msg}}</h2> <a class="btn btn-info btn-sm" href="{{ path(link.action, { 'id': partner.id }) }}">
                <i class="glyphicon {{link.icon}}"></i> {{link.name}}</a>
				{% else %}
            <h1>Fichiers XML</h1>
				{% endif %}
            <hr>
            <ul>
					{% for file in files %}
                <li>
                    <span><i class="glyphicon glyphicon-file"></i> {{ file }}</span>
                    <a href="{{ path('mapping_new', { 'filename': file, 'partner': partner.id }) }}">
                    </a>
                </li>
					{% endfor %}
            </ul>

        </div>
    </div>
</div>


{# Modals #}
<!-- Button trigger modal: save raw IC -->
<!-- Modal Ic save raw -->
<div class="modal fade" id="myModalSaveRawIc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Interchalet - Import les infos</h4>
            </div>
            <div class="modal-body">
                    {# Contents #}
                <fieldset>
                    <legend>Cocher la/les case(s)</legend>
                    <input type="checkbox" class="opt-chkbox raw" id="md-chbx-loc-raw" name="saveRaw" value="loc" /> <label for="md-chbx-loc-raw">Locations</label> <br />
                    <input type="checkbox" class="opt-chkbox raw" id="md-chbx-img-raw" name="saveRaw" value="img" /> <label for="md-chbx-img-raw"> Images</label> <br />
                    <input type="checkbox" class="opt-chkbox raw" id="md-chbx-prix-raw" name="saveRaw" value="prix" /> <label for="md-chbx-prix-raw">Tranche-prix</label> <br />
                    {% if partner.name|lower in ['interchalet', 'interhome'] %}
                    <input type="checkbox" class="opt-chkbox raw" id="md-chbx-dispo-raw" name="saveRaw" value="dispo" /> <label for="md-chbx-dispo-raw">Disponibilité</label> <br />                    
                    <input type="checkbox" class="opt-chkbox raw" id="md-chbx-geo-raw" name="saveRaw" value="geo" /> <label for="md-chbx-geo-raw">Geo infos</label> <br />
                    {% endif %}
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary act-link ic raw" disabled="disabled">
                        <a class="act-link raw" style="color:inherit;" href="#">Importer</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ic update -->
<div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Interchalet - Mettre à jour</h4>
            </div>
            <div class="modal-body">
                    {# Contents #}
                <fieldset>
                    <legend>Cocher la/les case(s)</legend>
                    <input type="checkbox" class="opt-chkbox update" id="md-chbx-loc-updt" name="update" value="loc" /> <label for="md-chbx-loc-updt">Locations</label> <br />
                    <input type="checkbox" class="opt-chkbox update" id="md-chbx-img-updt" name="update" value="img" /> <label for="md-chbx-img-updt"> Images</label> <br />
                    <input type="checkbox" class="opt-chkbox update" id="md-chbx-prix-updt" name="update" value="prix" /> <label for="md-chbx-prix-updt">Tranche-prix</label> <br />
                    {% if partner.name|lower in ['interchalet', 'interhome'] %}
                    <input type="checkbox" class="opt-chkbox update" id="md-chbx-dispo-updt" name="update" value="dispo" /> <label for="md-chbx-dispo-updt">Disponibilité</label> <br />
                    {% endif %}
                </fieldset>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary act-link ic raw" disabled="disabled">
                        <a class="act-link ic update" style="color:inherit;" href="#">MAJ</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        var form = $('#mappingForm');
        $('#mappingForm button#valider').click(function() {
            var xmlFilePropertiyVal = form.find('input[name=xmlFilePropertiy]:checked').val();
            var bddFieldVal = form.find('input[name=bddField]:checked').val();
            form.find('input[name=xmlFilePropertiy]:checked').parent().parent().parent().detach();
            form.find('input[name=bddField]:checked').parent().parent().parent().detach();
            $('#lef_databundle_partners_mapping').append('"' + xmlFilePropertiyVal + '": "' + bddFieldVal + '",<br>')
            return false;
        });

        // Construct dynamic links
        $('.opt-chkbox').change(function() {
            var link;

            var opts = getCheckedOptions();
            if (opts.length > 1) {
                if ($(this).hasClass('raw')) {
                    link = "{{ path('partners_save_raw', { 'id': partner.id }) }}";
                }
                if ($(this).hasClass('update')) {
                    link = "{{ path('partners_data_maj', { 'id': partner.id }) }}";
                }
            } else {
                link = '#';
            }
            link = link + opts;
            $('.act-link').attr('href', link);
        });

        // Hide modal when button clicked
        $('.act-link').on('click', function() {
            $('.modal').modal('hide');
        });

        /**
         * Get selected options' string with prefix "?"
         * @returns {string}
         */
        function getCheckedOptions() {
            var optStr = '';
            var isChecked = $('.opt-chkbox:checked').length;
            if (isChecked > 0) {
                optStr = '?opt=';
                enDisableElement('button.act-link', 'enable');
                $.each($('.opt-chkbox'), function(index, chkbox) {
                    if ($(chkbox).is(':checked')) {
                        optStr += $(chkbox).val() + ',';
                    }
                });
            } else {
                optStr = '';
                enDisableElement('button.act-link', 'disable');
            }
            // Return and remove last commer
            return optStr = $.trim(optStr.slice(0, -1));
        }

        /**
         * Enable / disable an element
         * @param {string} selector
         * @param {string} property enable or disable
         * @returns {null}             */
        function enDisableElement(selector, property) {
            var isDisabled = $('' + selector + '').attr('disabled');
            if (isDisabled === 'disabled' && property === 'enable') {
                $('' + selector + '').removeAttr('disabled');
            } else if (typeof isDisabled === 'undefined' && property === 'disable') {
                $('' + selector + '').attr('disabled', 'disabled');
            }
        }

    });
</script>
{% endblock %}
