{% set pageTitle = "Partenaire " %}
{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-8">
            <h1>Gestion des partenaires</h1>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-primary btn-lgt" href="{{ path('partners_new') }}"><i class="glyphicon glyphicon-plus"></i> Create a new entry </a>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get("syncsuccess") %}
        <div class="alert alert-dismissable alert-info"> 
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{flashMessage|raw}} </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get("syncfail") %}
        <div class="alert alert-dismissable alert-warning"> 
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{flashMessage|raw}} </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get("unzipOk") %}
        <div class="alert alert-dismissable alert-info"> 
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{flashMessage|raw}} </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get("unzipFail") %}
        <div class="alert alert-dismissable alert-warning"> 
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{flashMessage|raw}} </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get("updateSs") %}
        <div class="alert alert-dismissable alert-success "> 
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{flashMessage|raw}} </div>
    {% endfor %}

    <br>
    <div class="list-group">
    {% for k, entity in entities %}
        <div class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    <h4 class="list-group-item-heading"> <a href="{{ path('partners_show', { 'id': entity.id }) }}">{{ k+1 }} : {{ entity.name|upper }} </a> </h4>
                </div>
                <div class="col-xs-9">
                    <p class="btn-group">
                        <a class="btn btn-default btn-sm" href="{{ path('partners_show', { 'id': entity.id }) }}">
                            <i class="glyphicon glyphicon-search"></i> Voir</a>

                        <a class="btn btn-default btn-sm" href="{{ path('partners_config', { 'id': entity.id }) }}">
                            <i class="glyphicon glyphicon-cog"></i> Configurer le mappage</a>

                        {#<a class="btn btn-default btn-sm" href="{{ path('partners_sync', { 'id': entity.id }) }}">
                            <i class="glyphicon glyphicon-download-alt"></i> Télécharger fichiers</a>
                            
                        <a class="btn btn-default btn-sm" href="{{ path('partners_unpack', { 'id': entity.id }) }}">
                            <i class="glyphicon glyphicon-log-out"></i> Dézipper fichiers</a>
                        
                        {% if entity.name|upper in ['INTERCHALET','INTERHOME'] %}
                        <a class="btn btn-default btn-sm" href="{{ path('partners_save_raw', { 'id': entity.id }) }}" title="Fichiers -> BDD">
                            <i class="fa fa-database"></i> Fichiers -> BDD</a>
                        {% endif %}
                            
                        <a class="btn btn-default btn-sm" href="{{ path('partners_data_maj', { 'id': entity.id }) }}" title="Mettre à jour la base de données">
                            <i class="glyphicon glyphicon-refresh"></i> MAJ base de données</a>#}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
