{% set pageTitle = "Configuration Partenaire" %}
{% extends '::base.html.twig' %}

{% block body -%}
	<a class="btn btn-primary" href="{{ path('partners_config', { 'id': entity_id }) }}">Séléctionner un autre fichier</a>
	<hr>
		<div class="row">
			<form role="form" id="mappingForm">
				<div class="col-xs-6">
					<div id="xmlFilePropertiy" class="xmlFilePropertiy">				
						{% for key,property  in xml_file_propertis %}
							<div class="radio">
								<label>
									<input type="radio" name="xmlFilePropertiy" id="xmlFilePropertiy" value="{{ property }}">
									<small>{{ property }}</small>
								</label>
							</div>
						{% endfor %}
					</div>
					<hr>
					<h3>Fichier "{{file}}"</h3>
				</div>
				<div class="col-xs-3">
					<div id="bddField" class="bddFields">				
						{% for entities_attrs in entities_attrs_array %}
							{% for entity_name, entitiy_attrs in entities_attrs %}
							{% if entitiy_attrs %}
								<h3> {{entity_name}} </h3>
								{% debug entitiy_attrs %}
							{% endif %}
								{% for attr in entitiy_attrs %}							    
									<div class="radio">
										<label>
											<input type="radio" name="bddField" id="bddField" value="{{entity_name}} // {{ attr }}">
											{{ attr | trans({}, "messages") }}
										</label>
									</div>
								{% endfor %}
							{% endfor %}
							<hr>
						{% endfor %}
					</div>
					<hr>
					<h3>Champs de la BDD</h3>
				</div>
				<div class="col-xs-1">
					<hr><hr>
					<button type="submit" class="btn btn-primary btn-xs" id="valider">Ajouter <i class="glyphicon glyphicon-chevron-right"></i></button>
					<hr>
					<hr>
				</div>
			</form>
			<div class="col-xs-2">
				<div id="resultMapping" class="resultMapping">
					{{ form(file_map_form) }}
				</div>
			</div>
		</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function(){
			var form = $('#mappingForm');
			$('#mappingForm button#valider').click(function(){
				var xmlFilePropertiyVal = form.find('input[name=xmlFilePropertiy]:checked').val();
				var bddFieldVal = form.find('input[name=bddField]:checked').val();
				form.find('input[name=xmlFilePropertiy]:checked').parent().parent().parent().detach();
				form.find('input[name=bddField]:checked').parent().parent().parent().detach();
				$('#lef_databundle_partners_mapping').append('"'+xmlFilePropertiyVal+'": "'+bddFieldVal+'",<br>')
				return false;
			});
		})
	</script>
{% endblock %}
