{% set pageTitle = "Ajout Partenaire FTP" %}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Partners creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('partnersftp') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
