{% set pageTitle = "Vue Partenaire FTP" %}
{% extends '::base.html.twig' %}

{% block body -%}
    <a href="{{ path('partners') }}" class="btn btn-primary">Revenir à la liste des partenaires</a>
    <hr>
    <h1>Partner {{ entity.name|upper }}</h1>
    <p class="btn-group">
        <a class="btn btn-info btn-sm" href="{{ path('partners_show', { 'id': entity.id }) }}">
            <i class="glyphicon glyphicon-search"></i> Voir</a>
        <a class="btn btn-info btn-sm" href="{{ path('partners_config', { 'id': entity.id }) }}">
            <i class="glyphicon glyphicon-cog"></i> Configurer le mappage</a>
        <a class="btn btn-info btn-sm" href="{{ path('partners_sync', { 'id': entity.id }) }}">
            <i class="glyphicon glyphicon-download-alt"></i> Télécharger le(s) fichier(s)</a>
        <a class="btn btn-info btn-sm" href="{{ path('partners_unpack', { 'id': entity.id }) }}">
            <i class="glyphicon glyphicon-log-out"></i> Dézipper le(s) fichier(s)</a>
        <a class="btn btn-info btn-sm" href="{{ path('partners_data_maj', { 'id': entity.id }) }}" title="Mettre à jour la base de données">
            <i class="glyphicon glyphicon-refresh"></i> MAJ base de données</a>
    </p>
    <div class="row">
        <div class="col-xs-5">
            <h3>Infos FTP</h3>
            <hr>
            <p><strong>Host : </strong>{{ entity.host }}</p>
            <p><strong>Username : </strong>{{ entity.user }}</p>
            <p><strong>Password : </strong>{{ entity.password }}</p>
            <p><strong>Port : </strong>{{ entity.port }}</p>
        </div>
        <div class="col-xs-7">
            {% if entity.files!="" %}
                <h3>Fichiers à télécharger du server <small>"{{entity.srcDirectory}}"</small></h3>
                <hr>
                <p>{{ entity.files }}</p>
            {% endif %}
{#             {% if entity.fluxUrl!="" %}
                <h4>Url du flux</h4>
                <hr>
                <p>{{ entity.fluxUrl }}</p>
                <p><strong>Type de flux : </strong> {{ entity.dataType }} </p>
            {% endif %} #}
        </div>
    </div>
    <hr>
    {{ form(delete_form) }}
{% endblock %}
