
{# construction du mél #}
{% block subject %}
    {% autoescape false %}
Commande de crédit de promotion, Ref: {{token}}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}#}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
{# set variables #}
{% set new_sex = user.gender %}
{% if new_sex == 'u' or new_sex == ''%}
{% set new_civilite = '' %}
{% endif %}
{% if new_sex == 'f' %}
    {% set new_civilite = 'Mme.' %}
{% endif %}
{% if new_sex == 'm' %}
    {% set new_civilite = 'M.' %}
{% endif %}
<html> 
    <body>
        <div>
            {% if user.roles[0] == 'ROLE_ANNONCEUR' %}
                {{new_civilite}} <b>{{user.firstname | capitalize}} {{user.lastname | upper}}</b> a demandé <b>{{nbrCredit}}</b> crédit(s) de promotion
            {% endif %}
            <br/>
            <div id="div-infos">
                <table>
                    <tr>
                        <th>Nombre ADM demandé: </th>
                        <td><b>{{nbrCredit}}</b></td>
                    </tr>
                    <tr>
                        <th>Prix: </th>
                        <td><b>{{prix}} € TTC</b></td>
                    </tr>
                    <tr>
                        <th>Ref commande: </th>
                        <td><b>{{token}}</b></td>
                    </tr>
                </table>
            </div>
            <br/>
            <div id="div-liens">
                <p>
                    <a href="{{url('admin_lef_bo_user_edit', {'id':user.id})}}">Créditer l'annonceur</a>
                </p>
                <p>
                    <a href="{{url('admin_lef_data_facture_create')}}">Facturation</a>
                </p>
                <p>
                    <a href="{{url('admin_lef_bo_user_list', {'filter[id][value]': user.id})}}">Mettre hors ligne de l'annonceur</a>
                </p>
                <p>
                    <a href="{{url('admin_send_email', {'to': user.email})}}">Envoyer un message à l'annonceur</a>
                </p>
            </div>  
        </div>
    </body>
</html>
{% endblock %}
