
{# construction du mél #}
{% block subject %}
    {% autoescape false %}
        {# set variables #}
        {% set new_sex = user.gender %}
        {% if new_sex == 'u' or new_sex == ''%}
        {% set new_civilite = '' %}
        {% endif %}
        {% if new_sex == 'f' %}
            {% set new_civilite = 'Mme.' %}
        {% endif %}
        {% if new_sex == 'm' %}
            {% set new_civilite = 'M.' %}
        {% endif %}

        {% if user.roles[0] == 'ROLE_ANNONCEUR' %}
            Vous avez demandé {{nbrCredit}} crédit(s) de promotion
        {% endif %}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}#}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <div id="div-liens">
                
            </div> 
            <div id="div-infos">
                <h2>Détails de votre demande: </h2>
                <table>
                    <tr>
                        <th>Nombre ADM demandé: </th>
                        <td><b>{{nbrCredit}}</b></td>
                    </tr>
                    <tr>
                        <th>Prix: </th>
                        <td><b>{{prix}} € TTC</b></td>
                    </tr>
                    <tr>
                        <th>Code commande: </th>
                        <td><b>{{token}}</b></td>
                    </tr>
                </table>
                <br/>
{#                <p>Veuillez envoyer un chèque de <b>{{prix}}€</b> à xxx en mentionant le code: <b>{{token}}</b>.</p>#}
                <p>Votre commande est enregistrée et sera validée à réception de votre règlement.</p>
            </div> 
        </div>
    </body>
</html>
{% endblock %}
