{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "profile.menu.credit.main" | trans({}, 'LefBoBundle')}}
{% endblock %}

{% block sonata_profile_content %}
<div class="panel panel-info">

    <div class="panel-heading">
        <h2 class="panel-title">Vous avez <u>{{ entity.creditPromo }}</u> credit de promotion disponnible</h2>
    </div>
    <div class="panel-body">
        
        <div id="div-demande-credit">
            <div id="div-demand-credit-form">
                <h4>Commander des ADM**</h4>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group row">
                    <div class="col-md-6 col-sm-6">
                      {{ form_errors(form.choiceNbrCredit) }}
                      {{ form_widget(form.choiceNbrCredit, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre de crédit'} }) }}
                    </div>
                </div>
                <div>
                    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            <br/>
            <div id="div-demande-credit-note-2">
                <p class=""><font size="2"><b>** Nota :</b> ADM = annonce de dernière minute<br>
                    Comme les annonces, sur Louer-en-France, les ADM s'achète sous forme d'unités rattachées à votre
                    compte. Elles peuvent ensuite être utilisées à votre gré pour n'importe laquelle de vos annonces passées
                    sur votre compte. <br></font>
                    <font size="2" color="red"><b>ATTENTION :</b> Une ADM ne peut être passée que si vous avez déjà une annonce en ligne.<br> Elle ne peut servir à renouveler une annonce</font><br>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
