{% set pageTitle = "Partenaire List" %}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des partenaires
    <a class="btn btn-primary pull-right" href="{{ path('partnerslist_new') }}"><i class="glyphicon glyphicon-plus"></i> Create a new entry </a>
    </h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('partnerslist_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    <span class="btn-group">
                        <a class="btn btn-default btn-sm" href="{{ path('partnerslist_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Show</a>
                        <a class="btn btn-default btn-sm" href="{{ path('partnerslist_edit', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
