{% set pageTitle = "Ajout Partenaire" %}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PartnersList creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('partnerslist') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
