
{# construction du mél #}
{% block subject %}
    {% autoescape false %}
        {# set variables #}
        {% set new_sex = user.gender %}
        {% if new_sex == 'u' or new_sex == ''%}
        {% set new_civilite = '' %}
        {% endif %}
        {% if new_sex == 'f' %}
            {% set new_civilite = 'Mme.' %}
        {% endif %}
        {% if new_sex == 'm' %}
            {% set new_civilite = 'M.' %}
        {% endif %}

        {% if user.roles[0] == 'ROLE_ANNONCEUR' %}
            Votre annonce {{location.titre}} a été passée en promotion
        {% endif %}
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}#}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<html> 
    <body>
        <div>
            <div id="div-liens">
                <p>
                    <a href="{{url('fos_user_profile_show')}}">Accéder au BackOffice annonceur</a>
                </p>
                <p>
                    <a href="{{url('credit')}}">Commander un crédit supplémentaire de promotion</a>
                </p>
            </div> 
            <div id="div-infos">
            </div> 
        </div>
    </body>
</html>
{% endblock %}
