{#{% extends "::base.html.twig" %}#}
{% extends base_template %}
{% block sonata_header %}
    {{parent()}}
    {% block sonata_breadcrumb %}
    <ol class="nav navbar-top-links breadcrumb">

        <li>

            <a href="{{path('sonata_admin_dashboard')}}">Dashboard</a>
        </li>

        <li class="active"><span>Email</span></li>

    </ol>
    {% endblock sonata_breadcrumb %}
{% endblock %}
{% block side_bar_nav %}
{{parent()}}
    
{% endblock %}
{% block sonata_admin_content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Envoyer Email</h4>
    </div>
    <div class="panel-body">
        {#    form starts    #}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
                De: {{from}}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
                {% if form.to is defined%}
                          {{ form_errors(form.to) }}
                          {{ form_widget(form.to, { 'attr': {'class': 'form-control', 'placeholder': 'Destinataire', 'required': true} }) }}
                {% else %}
                    à: {{to}}
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
{#                          {{ form_label(form.object, 'Objet') }}#}
                          {{ form_errors(form.object) }}
                          {{ form_widget(form.object, { 'attr': {'class': 'form-control', 'placeholder': 'Objet', 'required': true} }) }}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
{#                          {{ form_label(form.content, 'Contenu') }}#}
                          {{ form_errors(form.content) }}
                          {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'placeholder': 'Vos message', 'required': true} }) }}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
                {{ form_row(form.send, { 'label': 'Envoyer' }) }}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>


        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

</div>

{% endblock %}
      
