{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "profile.menu.contact.email" | trans({}, 'LefBoBundle')}}
{% endblock %}
    
{% block sonata_profile_content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Envoyer Email</h4>
    </div>
    <div class="panel-body">
        {#    form starts    #}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {#<div class="form-group row">
            <div class="col-md-6 col-sm-6">
                De: {{from}}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>#}
        {#<div class="form-group row">
            <div class="col-md-6 col-sm-6">
                {% if form.to is defined%}
                          {{ form_errors(form.to) }}
                          {{ form_widget(form.to, { 'attr': {'class': 'form-control', 'placeholder': 'Destinataire', 'required': true} }) }}
                {% else %}
                    à: {{to}}
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>#}

        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
{#                          {{ form_label(form.object, 'Objet') }}#}
                          {{ form_errors(form.object) }}
                          {{ form_widget(form.object, { 'attr': {'class': 'form-control', 'placeholder': 'Objet', 'required': true} }) }}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
{#                          {{ form_label(form.content, 'Contenu') }}#}
                          {{ form_errors(form.contents) }}
                          {{ form_widget(form.contents, { 'attr': {'class': 'form-control', 'placeholder': 'Vos message', 'required': true} }) }}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 col-sm-6">
                {{ form_row(form.submit, { 'label': 'Envoyer' }) }}
            </div>
            <div class="col-md-6 col-sm-6"></div>
        </div>


        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

</div>

{% endblock %}
