{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FileMap</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Partnerid</th>
                <td>{{ entity.partnerId }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ entity.fileName }}</td>
            </tr>
            <tr>
                <th>Mapping</th>
                <td>{{ entity.mapping }}</td>
            </tr>
            <tr>
                <th>Fileattrubuts</th>
                <td>{{ entity.fileAttrubuts }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('filemap') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('filemap_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
