{% set pageTitle = "AJout de map" %}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Map creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('map') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
