{% set pageTitle = "Vue map" %}
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Map</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ftpid</th>
                <td>{{ entity.ftpId }}</td>
            </tr>
            <tr>
                <th>Targettable</th>
                <td>{{ entity.targetTable }}</td>
            </tr>
            <tr>
                <th>Targetfield</th>
                <td>{{ entity.targetField }}</td>
            </tr>
            <tr>
                <th>Xmlfile</th>
                <td>{{ entity.xmlFile }}</td>
            </tr>
            <tr>
                <th>Xmlpath</th>
                <td>{{ entity.xmlPath }}</td>
            </tr>
            <tr>
                <th>Xmlattr</th>
                <td>{{ entity.xmlAttr }}</td>
            </tr>
            <tr>
                <th>Xmloption</th>
                <td>{{ entity.xmlOption }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('map') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('map_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
