{% set pageTitle = "Inscription" %}
{% extends '::base.html.twig' %}
{% block body %}
{% block stylesheets %}
	{{parent()}}
<style>
    .panel-connexion {margin-top: 10%;}
</style>
{% endblock %}
	{# {% include "FOSUserBundle:Registration:register_content.html.twig" %} #}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="panel panel-info panel-connexion">

            <div class="panel-heading">
                <h2 class="panel-title">Inscription</h2>
            </div>
            <div class="panel-body">
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
                    {{ form_start(form) }}
                    {#{{ form_widget(form) }}#}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3" id="form-div-role">
                            {{ form_errors(form.roles.0) }}
                            {{ form_widget(form.roles.0, { 'attr': {'class': 'form-control select', 'placeholder': 'Rôle'} }) }}
                        </div>
                    </div>
                    <div class="form-group onlyAnnonceur">
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.raisonsociale) }}
                            {{ form_widget(form.raisonsociale, { 'attr': {'class': 'form-control', 'placeholder': 'Raison sociale' } }) }}

                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.typesociete) }}
                            {{ form_widget(form.typesociete, { 'attr': {'class': 'form-control', 'placeholder': 'Type de société'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.gender) }}
                            {{ form_widget(form.gender, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="col-md-6 col-sm-12"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.Lastname) }}
                            {{ form_widget(form.Lastname, { 'attr': {'class': 'form-control' , 'placeholder': 'Nom'} }) }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.Firstname) }}
                            {{ form_widget(form.Firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
                        </div>
                    </div>
                    <div class="form-group onlyAnnonceur">
                        <div class="col-md-12 col-sm-12">
                            {{ form_errors(form.adresse) }}
                            {{ form_widget(form.adresse, { 'attr': {'class': 'form-control' , 'placeholder': 'Adresse'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.phone.first) }}
                            {{ form_widget(form.phone.first, { 'attr': {'class': 'form-control', 'placeholder': 'Numéro téléphone' } }) }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.phone.second) }}
                            {{ form_widget(form.phone.second, { 'attr': {'class': 'form-control', 'placeholder': 'Vérification n° téléphone'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.email.first) }}
                            {{ form_widget(form.email.first, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse mail' } }) }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.email.second) }}
                            {{ form_widget(form.email.second, { 'attr': {'class': 'form-control', 'placeholder': 'Vérification Adresse mail'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Identifiant' } }) }}
                        </div>
                        <div class="col-md-6 col-sm-12"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{ form_errors(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Vérification mot de passe'} }) }}
                        </div>
                    </div>
                    <div class="form-group onlyAnnonceur">
                        <div class="col-md-12 col-sm-12">
                            <label>Voulez vous recevoir des nouvelles?</label>
                            {{ form_errors(form.newsletter) }}
                            {{ form_widget(form.newsletter, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <input type="submit" value="S'inscrire" class="btn btn-block btn-register"/>
                        </div>
                    </div>
                    <!--<div class="form-actions">
                                                    
                    </div>-->
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </form>

            </div>

        </div>
    </div>
</div>
{% endblock %}
{# block js #}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/lefbo/js/register.js') }}"></script>

{% endblock %}
