.main-content{
    border: solid #f3f3f3;
    border-width: 1px 1px 0;
    min-height: 300px;
    padding: 15px;
    background: #fff;
    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.list-annonces{
    margin: 0px auto 20px;
}

.alert-why-us{
    background-color: #e9f5fd;
    border: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.alert-why-us>.row>.col-sm-3{
    text-align: center;
    position: relative;
}
.alert-why-us>.row>.col-sm-3:nth-child(1):after,
.alert-why-us>.row>.col-sm-3:nth-child(2):after,
.alert-why-us>.row>.col-sm-3:nth-child(3):after{
    position: absolute;
    content: " ";
    display: block;
    height: 100%;
    width: 20px;
    top: 10%;
    right: -8px;
    /*background: url(../img/sep-vertical.png) no-repeat top center;*/
    background: url(../img/image_sprite.png) no-repeat top center;
    background-position: -240px 0;
}
.alert-why-us>.row>.col-sm-3>.why-us-content{
    padding: 10px 15px 20px;
    color: #258dd1;
}
.alert-why-us>.row>.col-sm-3>img{
    margin-bottom: 30px;
}
.alert-why-us>.row>.col-sm-3 p{
    font-size: .8em;
    text-align: left;
}
.alert-why-us h2{
    text-align: center;
    text-transform: capitalize;
    margin:10px auto 30px !important;
    font-size: 22px;
}
.alert-why-us>.row>.col-sm-3 strong{
    text-transform: uppercase;
    clear: both;
    display: block;
    width: 100%;
    color: #153e58;
}

.panel-offre{
    position: relative;
    border:1px solid #eee;
    overflow: hidden;
}
.panel-offre img{
    width: 100%;
    height: auto;
}
.panel-offre .btn{
    position: absolute;
    right: 30px;
    bottom: 10px;
    text-align: left;
    border: 0;
    border-radius: 4px 0 0 4px;
}
.panel-offre .btn strong{
    font-size: 1.6em;
}
.panel-offre .btn:after{
    display: block;
    content: "";
    position: absolute;
    width: 25px;
    height: 100%;
    /*background: #f87b00 url(../img/fleche.png) no-repeat center;*/
    background: #f87b00 url(../img/image_sprite.png);
    background-position: 0 141px;
    top: 0;
    right: -25px;
    border-radius: 0 4px 4px 0;
}