.footer-wrap{

}
footer{
	/*font-size: .75em;*/
	/*font-family: 'caviar_dreamsregular', sans-serif;*/
	font-size: .8em;

}
footer.footer-top{
	padding: 20px;
	border-top: 3px solid #5eb9f5;
	background-color: #dbeffc;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
/*    margin: 20px auto;
    border-radius: 4px;*/
}
footer.footer-top .copy{
	text-align: center;
	font-size: .885em;
	color: #3a3b35;
}
footer.footer-top .nav-footer{
	/*margin: 0;*/
	padding-left: 10px;
}
footer.footer-top .nav-footer h5{
	color: #5eb9f5;
	margin: 0;
	padding: 0 0 10px;
	font-size: 16px;
}
footer.footer-top .nav-footer li{
	margin: 0;
	padding: 0;
}
footer.footer-top .nav-footer li a{
	color: #3a3b35;
	text-decoration: none;
	/*font-family: 'caviar_dreamsbold', sans-serif;*/
}
footer.footer-bottom{
	background-color: #2525cf;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    /*border-radius: 4px 4px 0 0;*/
}
footer.footer-bottom .credit{
	padding: 10px 0;
	text-align: center;
	color: #5eb9f5;
	margin: 0;
	font-size: 1.2em;
}
#div-thumbnail-compa{

}
#div-thumbnail-compa .thumbNailUnit.thumbnail-compa{
	padding: 15px;
	/*float: left;*/
	display: inline-block;
}
#div-thumbnail-compa .thumbNailUnit.thumbnail-compa .media{}
#div-thumbnail-compa .thumbNailUnit.thumbnail-compa .media img{
	width: 150px;
	height: auto;
}