.entete{
/*    border: solid #eee;
    border-width: 0 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
}
.header.default-header{
    background-color: #3333cc;
}
.header-home{
    overflow: hidden;
/*    background-image: -webkit-gradient(
        linear,
        right bottom,
        left bottom,
        color-stop(0.5, #E9E9E9),
        color-stop(0.5, #2525CF)
    );
    background-image: -o-linear-gradient(left, #E9E9E9 50%, #2525CF 50%);
    background-image: -moz-linear-gradient(left, #E9E9E9 50%, #2525CF 50%);
    background-image: -webkit-linear-gradient(left, #E9E9E9 50%, #2525CF 50%);
    background-image: -ms-linear-gradient(left, #E9E9E9 50%, #2525CF 50%);
    background-image: linear-gradient(to left, #E9E9E9 50%, #2525CF 50%);*/

    background: #e9e9e9 url(../img/bg-header-home.jpg) no-repeat;
    padding: 0 15px;
}
.block-top-left{
    /*background: url(../img/bg-top-left.png) no-repeat;*/
    text-align: right;
    text-transform: capitalize;
    color: #fff;
    padding-top: 12px;
}
.block-top-left *{
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.site-name{
    text-align: right;
    text-transform: capitalize;
    color: white;
}
.site-name small{
    color: #5eb9f5;
    font-weight: bold;
}
.link-site-name,
.link-site-name:hover{
    text-decoration: none;
}
.block-top-right{
    background: #e9e9e9 url(../img/bg-top-right.png) top right no-repeat;
    padding-top: 30px;
    padding-bottom: 37px;
}
.block-top-right form{
    /*text-align: center;*/
    margin-top: 100px;

}
.block-top-right form .input-container{
    background-color: rgba(183,222,247,.75);
    border-right: 3px solid #f87b00;
    padding: 20px;
    padding-bottom: 40px;
}
.block-top-right form .btn2{
    /*margin-top: -30px;*/
}
.bande1{
    background-color: #b7def7;
    padding: 20px;
}
.bande1.btn-go-new-account{
    background: #f87b00 url(../img/add_user.png) no-repeat 96% center;
}
.bande1.btn-go-new-annonce{
    background: #f87b00 url(../img/add_annonce.png) no-repeat 96% center;
}
.bande1.btn-go-contact{}

.header-lef .top-bann{
    color: white;
    padding: 0 10px;
    background-color: #2525cf;
    /*border-radius: 0 0 4px 4px;*/
}
.header-lef .top-bann .contact-btn-div{
    text-align: right;
    margin: 5px auto;
}
.header-lef .top-bann .btn-go-contact{}
.header-lef .top-bann .btn-go-new-search{
    background: #f87b00 url(../img/go_search.png) no-repeat 96% center;
}
.header-lef .top-bann .btn-lef-default{
    border-radius: 4px 4px 0 0;
}
.header-lef .top-bann .btn-go-wish-list{
    background: #f87b00 url(../img/add_wish_list.png) no-repeat 96% center;
    color: white;
}
.header-lef .top-bann .btn-go-new-annonce{
    background: #f87b00 url(../img/add_annonce.png) no-repeat 96% center;
}

#inputNbPers, #inputDuree{
    position: relative;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #fcfcfc 80%, #1717a1 80%, #1717a1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(80%,#fcfcfc), color-stop(80%,#1717a1), color-stop(100%,#1717a1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#fcfcfc 80%,#1717a1 80%,#1717a1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#fcfcfc 80%,#1717a1 80%,#1717a1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#fcfcfc 80%,#1717a1 80%,#1717a1 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 0%,#fcfcfc 80%,#1717a1 80%,#1717a1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1717a1',GradientType=1 ); /* IE6-9 */
    border: 0;
}

.advanced-form{
    position: relative;
    display: none;
    text-align: left;
}