.annonce-content{
	padding-bottom: 20px;
	position: relative;
}
.annonce-content.even{
	border-left: 1px dotted #ddd;
}
.annonce-content.even:last-child{
	padding-bottom: 0;
}
.annonce-intern.even{
	border:0;
}
.annonce-intern:after,
.annonce-content:after{
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	clear: both;
	content: " ";
	display: table;
	position: relative;
	margin: 10px auto 5px;
	border-top: 1px dotted #5eb9f5;
}
.annonce-intern:after{
	border-color: #5eb9f5;
}
.annonce-content.prelast:after,
.annonce-intern.last:after,
.annonce-content.last:after{
	border-top: 0 !important;
}
.annonce-content .media{
	display: block;
	line-height: 1.42857143;
	overflow: hidden;
	position: relative;
	z-index: 10;
	border-right: 3px solid #0e7abc;

}
.annonce-content .media.no-media{
	background-color: #fbfbfb;
}
.annonce-content .media.no-media img{
	/*opacity: .5;*/
}
.annonce-content .media img{
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
	z-index: -10;
	/*position: absolute;*/

}
.annonce-content .titre-location{
	font-size: 20px;
	margin-top: 0;
	text-transform: capitalize;
}

.annonce-content .prix-label,
.annonce-content .ref-location{
	font-size: 12px;
	color: #0e7abc;
	width: 100%;
	display: block;
}
.annonce-content .sqmpax-location{
	font-size: 14px;
	color: #0a0a8c;
}
.annonce-intern .item-loc{
	display: block;
	margin: 5px auto;
}
.annonce-intern .note-location .fa-star{
	color: #2525cf
}
.annonce-intern .note-location .fa-star-o{
	color: #5eb9f5;
}
.annonce-intern .desc-location{
	font-size: 13.5px;
	color: #888;
	/*font-family: "caviar_dreamsregular", sans-serif;*/
}
.annonce-content .prix{
	color: #0a0a8c;
	font-size: 1.5em;
}
.annonce-content .prix-devise{
	font-size: 14px;
}

.btn-go-wish-list {
    background: #f87b00 url(../img/add_wish_list.png) no-repeat center;
    color: transparent;
}
.btn-go-wish-list:hover {
    background: #1717a1 url(../img/add_wish_list.png) no-repeat center;
    color: transparent;
    border: 1px solid #1717a1;
}
.btn-warning:hover{
    background-color: #1717a1 !important;
    border: 1px solid #1717a1 !important;
}
.btn-primary:hover{
    background-color: #f87b00 !important;
    border-color: #f87b00 !important;
}

form.form-horizontal{
	color: #333;
	font-size: 13.5px;
}
form.form-horizontal label{
	font-weight: normal;
	vertical-align: top;
}
form.form-horizontal h5{
	color: #848484;
	text-transform: uppercase;
	margin: 20px auto 5px;
}
.form-group li{
	list-style: none;
}
li .form-group{
	margin-bottom: 0;
}
.one-location .couv-location{
	background-color: #e2f0f9;
	text-align: center;
	padding: 0;
	margin: -15px; 
	margin-bottom: 15px;
}
.one-location .titre-location{
	color: #2525cf;
}
.one-location .titre-location small{
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin-top: 10px;
}

.titre2{
	color: #f87b00;
}
.shwo-loc.note-location .fa{
	font-size: 30px;
}