@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700);

@import url(menu.css);
@import url(header.css);
@import url(footer.css);
@import url(content.css);
@import url(location.css);


[class*="primary"]{
    background-color: #1717a1 !important;
    border-color: #1717a1 !important;
}
[class*="warning"]{
    background-color: #f87b00;
    border-color: #f87b00;
}

.btn{
    border: 0 !important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.08) !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.08) !important;
}
.btn:hover{
    border: 0 !important;
}
.btn-default{
    background-color: #f6f6f6;
}
.footer-top .btn-link{
    background-color: #fff;
}
body, html{
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    background-color: #f6f6f6;
    color: #3a3b35;
}

strong,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
}
small{
    font-family: 'PT Sans', sans-serif !important;
}
img{
    max-width: 100% !important;
    height: auto !important;
}

.xmlFilePropertiy.well,
.bddFields.well{
    height: 250px;
    overflow-y: scroll;
}

.pagination>li>a{
    padding: 5px;
}

.pagination>li>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a{
    border-color: transparent;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus{
    background-color: #f87b00;
    border-color: #f87b00;
}
.content-align-right{
    text-align: right;
}
.content-align-left{
    text-align: left;
}
.breadcrumb{
    font-size: 13px;
    background-color: transparent;
    margin: auto;
    padding-left: 0;
}
.breadcrumb>li>a{
    color: #888;
}
.breadcrumb>.active{
    font-weight: 700;
    color: #333;
}
.breadcrumb>li+li:before{
    content: ">";
    color: #f88626;
    padding: 0 3px;
}
.navbar{
    border-radius: 0 !important;
}

// For google map
#map_canvas img {
    max-width: none !important;
}