.navbar {
    margin: 0px auto;
}

.nav-top-left {
    text-transform: capitalize !important;
}
.nav-top-left li{
}
.nav-top-left li a{
    color: #eee;
}
.nav-top-left li a:hover{
    background-color: #b7def7;
    color: #1717a1;
}

.nav-top-left li.cm-item *{
    display: inline-block;
}
.nav-top-left li.cm-item span{

}
.nav-top-left li.cm-item span a{
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #b7def7;
    margin-left: -4px;
    color: #1717a1;
}
.nav-top-left li.cm-item span span{
    padding: 10px 30px;
    background-color: #f87b00;
}
.nav-top-left li.cm-item span a:hover{
    text-decoration: none;
    color: #f87b00;
}



ul.reseaux{
    margin-top: 15px;
}
ul.reseaux li{
    display: inline-block;
}
ul.reseaux li a{
    display: block;
}
ul.reseaux li a i{
    background-color: #fff;
    padding: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50% !important;
    text-align: center;
}
ul.reseaux li a i.fa-twitter{
    color: #239fff;
}
ul.reseaux li a i.fa-facebook{
    color: #0b74c5;
}
ul.reseaux li a i.fa-google-plus{
    color: #c81515;
}

.header.default-header .navbar-default{
    background-color: transparent !important;
    border: 0 !important;
}
.navbar-lef{
    background-color: #5fb9f7;
    border: 0;
    border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.navbar-lef ul.nav li a{
    color: #194e70;
}
.navbar-lef ul.nav li{
    /*display: table-cell;*/
}

.nav-pills-lef{
    font-size: 12px;
}
.nav-pills-lef li.reseaux-lef a{
    display: inline-block;
    padding: 10px;
}
.nav-pills-lef li.reseaux-lef a i{
    font-size: 18px;
}
.nav-pills-lef li{}
.nav-pills-lef li a{
    color: #5eb9f5;
}
.nav-pills-lef li a:hover{
    background-color: transparent;
}
.navbar-lef .navbar-nav>.open>a,
.navbar-lef .navbar-nav>.open>a:hover,
.navbar-lef .navbar-nav>.open>a:focus,
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
    background: transparent !important;
    color: #000;
}
.navbar-lef .dropdown-menu{
    background-color: #5fb9f7;
    border-color: #44a1de;
}
.navbar-lef .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background: transparent !important;
    color: #000;
}
