<div>
    <div>
        <p>Nous vous remerçons de nous contacter, ci-dessous est votre message: </p>
        <br/>
        <table>
            <tr>
                <td>Sujet: </td>
                <td>{{sujet}}</td>
            </tr>
            <tr>
                <td>Message: </td>
                <td>{{message}}</td>
            </tr>
        </table>
    </div>
    <br/>
    <div>
        <p>Louer-en-France</p>
    </div>
</div>