{# set variables #}
{% set new_sex = user.gender %}
{% if new_sex == 'u' or new_sex == ''%}
{% set new_civilite = '' %}
{% endif %}
{% if new_sex == 'f' %}
    {% set new_civilite = 'Mme.' %}
{% endif %}
{% if new_sex == 'm' %}
    {% set new_civilite = 'M.' %}
{% endif %}
<div>
    <div>
        {{new_civilite}} {{user.firstname | capitalize}} {{user.lastname | upper}} nous a contacté.
    </div>
    <br/>
    <div>
        <table>
            <tr>
                <td>Sujet: </td>
                <td>{{sujet}}</td>
            </tr>
            <tr>
                <td>Message: </td>
                <td>{{message}}</td>
            </tr>
        </table>
    </div>
    <br/>
    <p>Lui répondre: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
</div>
