{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "profile.menu.facture.main" | trans({}, 'LefBoBundle')}}
{% endblock %}

{% block sonata_profile_content %}
<h1>Liste facture</h1>

<table class="records_list table table-responsive table-striped">
    <thead class="btn-primary">
        <tr>
            <th>Libelle</th>
            <th>Date</th>
            <th>Montant</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {# table body #}
        {% for facture in entities %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ facture.libelle }}</td>
            <td>{% if facture.date %}{{ facture.date|date('Y-m-d H:i') }}{% endif %}</td>
            <td>{{ facture.Montant }}€</td> 
            <td>
                <ul>
                    <li>
                        <a href="{{ path('facture_show', { 'id': facture.id }) }}">voire</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
</tbody>
</table>
{# display navigation #} 
<div class="navigation">
        {{ knp_pagination_render(entities) }} 
</div>

    {% endblock %}
