{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "profile.menu.facture.show" | trans({}, 'LefBoBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    <h1>Détail facture</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ entity.montant }}€</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('facture') }}">
            Revenir vers la liste facture
        </a>
    </li>
</ul>
{% endblock %}
