{% set pageTitle = "Mapping" %}
{% extends '::base.html.twig' %}

{% block body -%}
    
    {#{% for k, fileRow in filesRow  %}

        {% for k2, file in fileRow  %}
            {% if  %}
                {{file}}
            {% endif  %}
        {% endfor %}

    {% endfor %} #}

    <hr>
    <h1>Map list
    <a class="btn btn-primary pull-right" href="{{ path('map_new') }}"><i class="glyphicon glyphicon-plus"></i> Create a new entry </a>
    </h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ftpid</th>
                <th>Targettable</th>
                <th>Targetfield</th>
                <th>Xmlfile</th>
                <th>Xmlpath</th>
                <th>Xmlattr</th>
                <th>Xmloption</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entityMap in entitiesMap %}
            <tr>
                <td><a href="{{ path('map_show', { 'id': entityMap.id }) }}">{{ entityMap.id }}</a></td>
                <td>{{ entityMapMap.ftpId }}</td>
                <td>{{ entityMap.targetTable }}</td>
                <td>{{ entityMap.targetField }}</td>
                <td>{{ entityMap.xmlFile }}</td>
                <td>{{ entityMap.xmlPath }}</td>
                <td>{{ entityMap.xmlAttr }}</td>
                <td>{{ entityMap.xmlOption }}</td>
                <td>
                    <span class="btn-group">
                        <a class="btn btn-default btn-sm" href="{{ path('map_show', { 'id': entityMap.id }) }}"><i class="glyphicon glyphicon-search"></i> Show</a>
                        <a class="btn btn-default btn-sm" href="{{ path('map_edit', { 'id': entityMap.id }) }}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
