{% extends sonata_block.templates.block_base %}

{% block block %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Crédit</h3>
    </div>
    <div class="box-body">
        <hr/>
        {#    form send email    #}
        <a class="btn btn-link btn-flat" href="{{path('admin_send_email')}}">
            <i class="glyphicon glyphicon-envelope"></i>
            Envoyer email
        </a>
    </div>
</div>
{% endblock %}