{% extends sonata_block.templates.block_base %}

{% block block %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Crédit</h3>
    </div>
    <div class="box-body">
        <hr/>
        <p>vous possédez {{credits}} crédits.</p>
        <a class="btn btn-link btn-flat" href="{{path('credit')}}">
            <i class="glyphicon glyphicon-shopping-cart"></i>
            Demander crédits
        </a>
    </div>
</div>
{% endblock %}