{% set pageTitle = "Annonces-liste" %}


    {# Liste d'annonce #}
    {# total items count #}
    <div class="count">
        <h4>-- <strong>{{ pagination.getTotalItemCount }}</strong> annonces en total --</h4>
    </div>
        {% for entity in pagination %}
        <div>
            <a href="{{ path('annonces_show', { 'immoid': entity.immoid }) }}">
                <h4>{{entity.typelog}}</h4> {{entity.surflog}} m&sup2;
            </a>
            <p>{{entity.cp}} {{entity.ville}} {{entity.pays}}</p>
        </div>
        {% endfor %}

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
