{% set pageTitle = "Annonces" %}
{% extends '::base.html.twig' %}

{% block body -%}
    {# Search / Filter #}
<div class="row">
    <div class="col-sm-3">    
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label>Type de logement</label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx0" value="0"> Maison de campagne
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx1" value="1"> Studio
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx2" value="2"> Appartement
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx3" value="3"> Chalet
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx4" value="4"> Demeure
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx5" value="5"> Maison de village
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx6" value="6"> Chambre d'hôte
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx7" value="7"> Bungalow
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx8" value="8"> Villa
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx9" value="9"> Mobil home
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx10" value="10"> Château
                    </label>
                    <label class="checkbox cbx-typelog">
                        <input type="checkbox" id="typelog-cbx11" value="11"> Péniche
                    </label>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">Pays</label>
                    <input type="text" id="filter_pays" class="form-control" placeholder="Pays"/>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">CP</label>
                    <input type="text" id="filter_cp" class="form-control" placeholder="CP"/>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">Ville</label>
                    <input type="text" id="filter_ville" class="form-control" placeholder="Ville"/>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">Surface</label>
                    <input type="number" id="filter_surflog_min" class="form-control" placeholder="min"/>
                    à
                    <input type="number" id="filter_surflog_max" class="form-control" placeholder="max"/>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <button type="button" id="btn-filter-typelog" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>

    <div class="col-sm-9">
        {# Inclure la liste #}
        <div id="div-liste-annonces">
                {% include 'LefFoBundle:Annonces:__listeAnnonces.html.twig' %}
        </div>
    </div>
    

</div>


{% endblock %}

{# block js #}
{% block javascripts %}
    {{parent()}}
<script>
    $(document).ready(function() {


        $('#btn-filter-typelog').click(function() {
            // initial critère array
            var arryCritere = new Array();
            // initial typelog array and give it a blank value
            var arryTypelog = new Array('');
            // initial surface array
            var arrySurflog = new Array();

            // assign value to typelog array
            arryTypelog = getTypesLogement(arryTypelog);
            // assign value to surflog array
            arrySurflog = getSurfLogement(arrySurflog);

            // declaire critère array
            arryCritere = {typelog:arryTypelog, surflog:arrySurflog};
            // pass critère array to the ajax function
            filtrerAnnonces(arryCritere);
        });

        /**
         * Function search filter annonces
         * @param {type} criteres
         * @returns {undefined}
         */
        function filtrerAnnonces(criteres) {
            $.ajax({
                url: '{{path('annonces_search_filter')}}',
                data: {
                    criteres: criteres
                },
                //dataType: 'JSON',
                type: 'POST',
                success: function (data, textStatus, jqXHR) {
                    $('#div-liste-annonces').empty();
                    $('#div-liste-annonces').append(data);
                }
                        
            });
        };
        
        /**
         * Function get all types logement
         * @param {type} arryTypelog
         * @returns {jQuery}         */
        function getTypesLogement(arryTypelog){
            // iterate typelog checkbox group, store their values in an array (numeric)
            $('.cbx-typelog > input:checked').each(function(k, v) {
                arryTypelog[k] = $(this).val();
            });
            return arryTypelog;
        };
        
        /**
         * Function returns surface array with min and max values
         * @param {type} arrySurflog
         * @returns {jQuery}         */
        function getSurfLogement(arrySurflog) {
            // put min and max to the surface array
            arrySurflog[0] = $('#filter_surflog_min').val();
            arrySurflog[1] = $('#filter_surflog_max').val();
            return arrySurflog;
        };

    });
</script>
{% endblock %}    
