{% extends '::base.html.twig' %}

{% block body -%}
    <div class="list-annonces">

		<ol class="breadcrumb">
            {% if pays != null %} <li><a href="{{ path('location_show', {'pays':pays?:'pays'}) }}"> {{pays}} </a></li>{% endif %}
            {% if region != null %} <li class="active"> {{region}}</li>{% endif %}
        </ol>
        
        <!-- <div class="alert alert-warning">{% block pub1 %} {{parent()}} {% endblock %}</div> -->
        <hr>

        <div class="row">
            <div class="col-sm-4">
                <div class="alert alert-info" role="alert">
                    <h4>Emplacement</h4>
                    <!--  -->
                    <h4>Affiner votre recherche</h4>
                    <form action="" class="form-horizontal" role="form">

                        <!-- =================== -->
                        <!-- Surface de la location -->
                        <!-- =================== -->                        
                        <h5><i class="fa fa-angle-right"></i> Superficie</h5>
                        <ul class="form-group">
                            <li class="col-xs-5">
                                <input type="text" class="form-control" id="sqmMin" name="sqmMin" placeholder="min (²)">                       
                            </li>
                            <li class="col-xs-5">
                                <input type="text" class="form-control" id="sqmMax" name="sqmMax" placeholder="max (²)">                        
                            </li>
                        </ul>
                        <div class="border-bottom"></div>  

                        <!-- =================== -->
                        <!-- Prix de la location -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Prix location</h5>
                        <ul class="form-group">
                            <li class="col-xs-5">
                                <input type="text" class="form-control" id="prixMin" name="prixMin" placeholder="min (€)">                       
                            </li>
                            <li class="col-xs-5">
                                <input type="text" class="form-control" id="prixMax" name="prixMax" placeholder="max (€)">                        
                            </li>
                        </ul>
                        <div class="border-bottom"></div>  

                        <!-- =================== -->
                        <!-- Type de la location -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Type de logement</h5>
                        <ul>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="studio" name="typeLoc">
                                    Studio
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="maison" name="typeLoc">
                                    Maison
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="apprt" name="typeLoc">
                                    Appartement
                                </label>
                            </li>
                        </ul>
                        <div class="border-bottom"></div>  

                        <!-- =================== -->
                        <!-- Caracteristique de la location -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Caracteristiques du logement</h5>
                        <ul>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    TV
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Sauna
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Animaux accéptés
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    Lave vaissele
                                </label>
                            </li>
                        </ul>
                        <!--  -->
                        <button type="submit" class="btn btn-default btn-sm">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="annonce">
                    {% for entity in entities1 %}
                        <div class="annonce-content annonce-intern{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}">
                            <div class="row">
                                <div class="col-sm-4">
                                    {% if entity.medias_p %}
                                        {% for media in entity.medias_p %}
                                            {% if loop.last  %}
                                            <div class="media">
                                                <img src="{{ media.src }}">
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="media">
                                            <img src="{{ asset('img/no-photo.min.jpg') }}">
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-5">
                                    <div class="body">
                                        <h4 class="heading titre-location"> {{entity.ville}} {{entity.titre}} </h4>
                                        <span class="ref-location"> Ref : {{entity.reference}} </span>
                                        <p class="teaser-location">
                                            <span class="item-loc sqmpax-location"> {{entity.surfaceHabitable}} m² / {{entity.nombreDePersonne}} personnes </span>
                                            <span class="item-loc note-location">
                                                {% if entity.nombreEtoiles %}
                                                    {% for start in 1..entity.nombreEtoiles %}<i class="fa fa-star"></i> {% endfor %}
                                                    {% set restEtoiles = 5 - entity.nombreEtoiles %}
                                                    {% if restEtoiles > 0 %}{% for start in 1..restEtoiles %}<i class="fa fa-star-o"></i> {% endfor %}{% endif %}
                                                {% else %}
                                                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                                {% endif %}
                                            </span>
                                            <span class="item-loc desc-location">
                                                Accenderat super his incitatum propositum ad nocendum aliqua mulier vilis, quae ad palatium ut poposcerat intromissa insidias ei latenter obtendi prodiderat a militibus obscurissimis...
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <span class="prix-label">à partir de</span>
                                    <span class="prix">{% if entity.rentalprice != null %} {{entity.rentalprice}} {% else %} ---- {% endif %} <sup class="prix-devise">&euro;</sup></span>
                                    <!--  -->
                                    <a href="{{ path('location_show', {'pays':entity.pays?:'pays', 'region':entity.region?:'region', 'ville':entity.ville?:'ville', 'reference':entity.reference }) }}" class="btn btn-block btn-warning">Voir</a>
                                    <button class="btn btn-block btn-warning btn-go-wish-list" valref="{{entity.reference}}">------</button>               {# modified le 130814 par Jian #}
                                    <button class="btn btn-block btn-primary btn-add-compa btn-xs" id="btn-add-compa-{{entity.id}}" value="{{entity.id}}">Comparer</button>
                                    <div class="btn-group-vertical">
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom"></div>
                            <div class="hidden div-compa-hidden">
                                <td>{{entity.getPays()}}</td>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <ul class="pagination pagination-sm">

                    {% if current_page == 1 %}
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="disabled"><a href="#">&lsaquo;</a></li>
                    {% else %}
                        <li><a href="{{ path('location', { 'page': 1 }) }}">&laquo;</a></li>
                        <li><a href="{{ path('location', { 'page': previous_page }) }}">&lsaquo;</a></li>
                    {% endif %}

                    {% for page in 1..last_page %}
                        {% if page == current_page %}
                            <li class="active"><a href="#">{{ page }}</a></li>
                        {% else %}
                            {% if current_page <= page - 1 or current_page >= page + 1 %}
                                <li><a href="{{ path('location', { 'page': page }) }}">{{ page }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if current_page == last_page %}
                        <li class="disabled"><a href="#">&raquo;</a></li>
                        <li class="disabled"><a href="#">&rsaquo;</a></li>
                    {% else %}
                        <li><a href="{{ path('location', { 'page': next_page }) }}">&rsaquo;</a></li>
                        <li><a href="{{ path('location', { 'page': last_page }) }}">&raquo;</a></li>
                    {% endif %}

                </ul>
        
<!--         <div class="pagination_desc"><strong>{{ total_articles }}</strong> articles dans la page
            {% if last_page > 1 %} - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}
        </div>   -->                                                                                                                   
            </div>
        </div>
        
        <div class="alert alert-warning">{% block pub2 %} {{parent()}} {% endblock %}</div>

    </div>

    <div class="footer alert alert-info">
        <hr/>
        <div id="div-panier-comparaison">
            <p id="p-nbr-item-compa-authorise" class="hidden" value="{{ nbrItemCompa }}"></p>
            
            <div id="div-location-comparator">
                Panier de comparaison, {{ nbrItemCompa }} annonces maximum. 
                <div id="div-thumbnail-compa" class="row"></div>
                <br/>
                <button id="btn-clear-item-compa" class="btn btn-default" >Vider</button>
                <button id="btn-comparer-item-compa" class="btn btn-primary" data-toggle="modal" data-target="#dialog-panier-compa">Comparer</button>
            </div>
            
        </div>
    </div>

    {#modal comparaison#}
    <div id="dialog-panier-compa" class="modal fade" 
         tabindex="-1" role="dialog" aria-labelledby="modalPanierCompa" aria-hidden="true">
        
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Panier de comparaison</h4>
              </div>
               <div id="div-modal-body" class="modal-body">
                <table class="table"></table>
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        </div>
      
    </div>
{% endblock %}

{#inclure js#}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/default-compa.js') }}"></script>
{% endblock %}
