<div class="row">
    <div class="col-sm-6 content-align-right">
        <small><strong>{{ total_articles }}</strong> articles trouvés</small>
        <span class="pagination_desc">{% if last_page > 1 %} - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}</span>
    </div>
    <div class="col-sm-6 content-align-right">
        <ul class="pagination pagination-sm" style="margin:auto;">
            {% if current_page == 1 %}
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="disabled"><a href="#">&lsaquo;</a></li>
            {% else %}
                {% if niveauLocalisation == 'region' %}
                    <li><a href="{{ path('locations_by_region', {'pays':pays, 'region':region, 'page':1}) }}{{ rqstVar }}">&laquo;</a></li> 
                    <li><a href="{{ path('locations_by_region', {'pays':pays, 'region':region, 'page':previous_page}) }}{{ rqstVar }}">&lsaquo;</a></li> 
                {% elseif niveauLocalisation == 'ville' %}
                    <li><a href="{{ path('locations_by_ville', {'pays':pays, 'region':region, 'ville':ville, 'page':1}) }}{{ rqstVar }}">&laquo;</a></li> 
                    <li><a href="{{ path('locations_by_ville', {'pays':pays, 'region':region, 'ville':ville, 'page':previous_page}) }}{{ rqstVar }}">&lsaquo;</a></li> 
                {% elseif niveauLocalisation == 'pays' %}
                    <li><a href="{{ path('locations_by_pays', {'pays':pays, 'page':1}) }}{{ rqstVar }}">&laquo;</a></li> 
                    <li><a href="{{ path('locations_by_pays', {'pays':pays, 'page':previous_page}) }}{{ rqstVar }}">&lsaquo;</a></li> 
                {% else %}
                    <li><a href="{{ path('location', {'page':1}) }}{{ rqstVar }}">&laquo;</a></li>  
                    <li><a href="{{ path('location', {'page':previous_page}) }}{{ rqstVar }}">&lsaquo;</a></li>  
                {% endif %}
            {% endif %}
            
            {% for page in 1..last_page %}
                {% if page == current_page %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                {% else %}
                    {% if current_page > page - 5 and current_page < page + 5 %}

                        {% if niveauLocalisation == 'region' %}
                            <li><a href="{{ path('locations_by_region', {'pays':pays, 'region':region, 'page':page}) }}{{ rqstVar }}">{{ page }}</a></li> 
                        {% elseif niveauLocalisation == 'ville' %}
                            <li><a href="{{ path('locations_by_ville', {'pays':pays, 'region':region, 'ville':ville, 'page':page}) }}{{ rqstVar }}">{{ page }}</a></li> 
                        {% elseif niveauLocalisation == 'pays' %}
                            <li><a href="{{ path('locations_by_pays', {'pays':pays, 'page':page}) }}{{ rqstVar }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="{{ path('location', {'page':page}) }}{{ rqstVar }}">{{ page }}</a></li> 
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if current_page == last_page %}
                <li class="disabled"><a href="#">&rsaquo;</a></li>
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% else %}
                {% if niveauLocalisation == 'region' %}
                    <li><a href="{{ path('locations_by_region', {'pays':pays, 'region':region, 'page':next_page}) }}{{ rqstVar }}">&rsaquo;</a></li>
                    <li><a href="{{ path('locations_by_region', {'pays':pays, 'region':region, 'page':last_page}) }}{{ rqstVar }}">&raquo;</a></li>
                {% elseif niveauLocalisation == 'ville' %}
                    <li><a href="{{ path('locations_by_ville', {'pays':pays, 'region':region, 'ville':ville, 'page':next_page}) }}{{ rqstVar }}">&rsaquo;</a></li>
                    <li><a href="{{ path('locations_by_ville', {'pays':pays, 'region':region, 'ville':ville, 'page':last_page}) }}{{ rqstVar }}">&raquo;</a></li>
                {% elseif niveauLocalisation == 'pays' %}
                    <li><a href="{{ path('locations_by_pays', {'pays':pays, 'page':next_page}) }}{{ rqstVar }}">&rsaquo;</a></li>
                    <li><a href="{{ path('locations_by_pays', {'pays':pays, 'page':last_page}) }}{{ rqstVar }}">&raquo;</a></li>                    
                {% else %}
                    <li><a href="{{ path('location', {'page':next_page}) }}{{ rqstVar }}">&rsaquo;</a></li>
                    <li><a href="{{ path('location', {'page':last_page}) }}{{ rqstVar }}">&raquo;</a></li>                    
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
<hr>

