<div class="row">
    <div class="col-sm-6 content-align-right">
        <small><strong>{{ total_articles }}</strong> articles trouvés</small>
        <span class="pagination_desc">{% if last_page > 1 %} - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %}</span>
    </div>
    <div class="col-sm-6 content-align-right">
        <ul class="pagination pagination-sm" style="margin:auto;">
            {% if current_page == 1 %}
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="disabled"><a href="#">&lsaquo;</a></li>
            {% else %}
                    <li><a href="{{ path('location_favoris', {'page':1}) }}">&laquo;</a></li>  
                    <li><a href="{{ path('location_favoris', {'page':previous_page}) }}">&lsaquo;</a></li> 
            {% endif %}
                    
            {% for page in 1..last_page %}
                {% if page == current_page %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                {% else %}
                    {% if current_page <= page - 1 or current_page >= page + 1 %}
                            <li><a href="{{ path('location_favoris', {'page':page}) }}">{{ page }}</a></li> 
                    {% endif %}
                {% endif %}
            {% endfor %}
                            
            {% if current_page == last_page %}
                <li class="disabled"><a href="#">&rsaquo;</a></li>
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% else %}
                    <li><a href="{{ path('location_favoris', {'page':next_page}) }}">&rsaquo;</a></li>
                    <li><a href="{{ path('location_favoris', {'page':last_page}) }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<hr>

