{% set urlParams =  app.request.query.all %}
{% set GET_RADIUS =  null %}
{% set GET_DATE_ARRIVEE =  null %}
{% set GET_DATE_DEPART =  null %}
{% set GET_DUREE =  null %}
{% set GET_NBRPERSO =  null %}
{% set GET_NBRCHAMBRE =  null %}
{% set GET_NBRETOILE =  null %}
{% set GET_NBRSDB =  null %}
{% set GET_SURFACE_MIN =  (sliderRanges['surface_min']/10)|round(0, 'floor')*10 %}
{% set GET_SURFACE_MAX =  (sliderRanges['surface_max']/10)|round(0, 'ceil')*10 %}
{% set GET_PRIX_MIN =  (sliderRanges['prix_min']/10)|round(0, 'floor')*10 %}
{% set GET_PRIX_MAX =  (sliderRanges['prix_max']/10)|round(0, 'ceil')*10 %}
{% set GET_TYPE_LOGE =  null %}
{% set GET_PISCINE =  null %}
{% set GET_DISTANCE_MER =  null %}
{% set GET_DISTANCE_LAC =  null %}
{% set GET_DISTANCE_REMONTEE =  null %}
{% set GET_DISTANCE_CENTRE_VILLE =  null %}
{% set GET_CARAC =  null %}

{% for param, val in urlParams %}
    {% if param == 'radius' %}{% set GET_RADIUS = val %}{% endif %}
    {% if param == 'datearrivee' %}{% set GET_DATE_ARRIVEE = val %}{% endif %}
    {% if param == 'datedepart' %}{% set GET_DATE_DEPART = val %}{% endif %}
    {% if param == 'duree' %}{% set GET_DUREE = val %}{% endif %}
    {% if param == 'nbrperso' %}{% set GET_NBRPERSO = val %}{% endif %}
    {% if param == 'nbrchambre' %}{% set GET_NBRCHAMBRE = val %}{% endif %}
    {% if param == 'nbretoile' %}{% set GET_NBRETOILE = val %}{% endif %}
    {% if param == 'nbrsdb' %}{% set GET_NBRSDB = val %}{% endif %}
    {# sqm et prix here #}
    {% if param == 'surfacemin' %}{% set GET_SURFACE_MIN = val %}{% endif %}
    {% if param == 'surfacemax' %}{% set GET_SURFACE_MAX = val %}{% endif %}
    {% if param == 'prixmin' %}{% set GET_PRIX_MAX = val %}{% endif %}
    {% if param == 'prixmax' %}{% set GET_PRIX_MAX = val %}{% endif %}
    {# Continue #}
    {% if param == 'typeloge' %}{% set GET_TYPE_LOGE = val %}{% endif %}
    {% if param == 'piscine' %}{% set GET_PISCINE = val %}{% endif %}
    {% if param == 'distancemer' %}{% set GET_DISTANCE_MER = val %}{% endif %}
    {% if param == 'distancelac' %}{% set GET_DISTANCE_LAC = val %}{% endif %}
    {% if param == 'distanceremontee' %}{% set GET_DISTANCE_REMONTEE = val %}{% endif %}
    {% if param == 'distancecentreville' %}{% set GET_DISTANCE_CENTRE_VILLE = val %}{% endif %}
    {% if param == 'carac' %}{% set GET_CARAC = val %}{% endif %}
{% endfor %}

<form role="form" action="{{path('locations')}}" id="search-form" 
      class="form-horizontal srch_left" method="post">
    <div class="alert alert-info" role="alert">
        <!--  -->
        <!-- ============ -->
        <!-- Localisation -->
        <!-- ============ -->
        <h5><i class="fa fa-angle-right"></i> Emplacement</h5>
        <div class="filter" style="width: 80%;">
            <input type="text" class="form-control input-lg autocomplete" 
                   searchby="localisation" id="search-input-geo" 
                   placeholder="Ville, région, pays"
                {% if adresse is defined %}value="{{adresse}}"{% endif %}
                {% if pays is defined and region is defined and ville is defined %}value="{{ville}}"{% endif %}
                {% if pays is defined and region is defined %}value="{{region}}"{% endif %}
                {% if pays is defined %}value="{{pays}}"{% endif %}>
        </div>
        <!-- ============== -->
        <!-- Radius Geoloca -->
        <!-- ============== -->
        <h5><i class="fa fa-angle-right"></i> Radius</h5>
        <div class="filter">
            <!--<input id="slider-geo-radius" />-->
            <input class="lef-srch-item" type="radio" name="radius" value="100" 
                   {% if GET_RADIUS != null and GET_RADIUS == 100 or GET_RADIUS == null %}checked="checked"{% endif %} >100m&nbsp;
            <input class="lef-srch-item" type="radio" name="radius" value="500" 
                   {% if GET_RADIUS != null and GET_RADIUS == 500 %}checked="checked"{% endif %} >500m&nbsp;
            <input class="lef-srch-item" type="radio" name="radius" value="1000" 
                   {% if GET_RADIUS != null and GET_RADIUS == 1000 %}checked="checked"{% endif %} >1km&nbsp;
            <input class="lef-srch-item" type="radio" name="radius" value="5000" 
                   {% if GET_RADIUS != null and GET_RADIUS == 5000 %}checked="checked"{% endif %} >5km&nbsp;
            <input class="lef-srch-item" type="radio" name="radius" value="10000" 
                   {% if GET_RADIUS != null and GET_RADIUS == 10000 %}checked="checked"{% endif %} >10km
        </div>
        <!-- ============== -->
        <!-- Date d'arrivée -->
        <!-- ============== -->
        <h5 style="display: inline-block;"><i class="fa fa-angle-right"></i> Date d'arrivée</h5>
        <div class="filter" style="width: 80%;">
            <input type="text" class="lef-srch-item form-control input-lg datepicker" 
                   id="inputDateArrivee" name="datearrivee" 
                   {% if GET_DATE_ARRIVEE == null %}placeholder="Indifférent"{% endif %} 
                   {% if GET_DATE_ARRIVEE != null %}value="{{GET_DATE_ARRIVEE}}"{% endif %} >
        </div>
        <!-- ============== -->
        <!--- Date départ --->
        <!-- ============== -->
        <h5 style="display: inline-block;"><i class="fa fa-angle-right"></i> Date départ</h5>
        <div class="filter" style="width: 80%;">
            <input type="text" class="lef-srch-item form-control input-lg datepicker" 
                   id="inputDateArrivee" name="datedepart" 
                   {% if GET_DATE_DEPART == null %}placeholder="Indifférent"{% endif %} 
                   {% if GET_DATE_DEPART != null %}value="{{GET_DATE_DEPART}}"{% endif %} >
        </div>
        {#
        <!-- ==================== -->
        <!-- Durée de la location -->
        <!-- ==================== -->
        <h5 style="display: inline-block;"><i class="fa fa-angle-right"></i> Durée</h5>
        <select class="lef-srch-item filter dropdown" 
                id="inputDuree" 
                name="duree">
            <option disabled {% if GET_DUREE == null %}selected {% endif %}>Indifférent</option>
            {% for d in 2..28 %}
            <option value="{{d}}" 
                {% if GET_DUREE != null and GET_DUREE == d %}selected {% endif %}>{{d}} nuits {{d+1}} jours</option>
            {% endfor %}
            <option value="7" 
                {% if GET_DUREE != null and GET_DUREE == 7 %}selected {% endif %}>1 semaine</option>
            <option value="14" 
                {% if GET_DUREE != null and GET_DUREE == 14 %}selected {% endif %}>2 semaines</option>
            <option value="21" 
                {% if GET_DUREE != null and GET_DUREE == 21 %}selected {% endif %}>3 semaines</option>
            <option value="28" 
                {% if GET_DUREE != null and GET_DUREE == 28 %}selected {% endif %}>4 semaines</option>
            <option value="1" 
                {% if GET_DUREE != null and GET_DUREE == 1 %}selected {% endif %}>1 nuit 2 jours</option>
        </select>
        #}
        <!-- ================== -->
        <!-- Nombre de personne -->
        <!-- ================== -->
        <h5 style="display: inline-block;"><i class="fa fa-angle-right"></i> Nombre de personne</h5>
        <select class="lef-srch-item filter dropdown" 
                id="inputNbrPerso" 
                name="nbrperso">
            <option disabled 
                    {% if GET_NBRPERSO == null %}selected{% endif %}>Indifférent</option>
            {% for p in 2..20 %}
            <option value="{{p}}" 
                {% if GET_NBRPERSO != null and GET_NBRPERSO == p %}selected {% endif %}>{{p}}</option>
            {% endfor %}
        </select>
        <br/>
        <!--  -->
        <div style="width: 80%; text-align: right;">
            <button type="submit" class="btn btn-sm btn-warning" id="btn-srch-submit">
                <i class="fa fa-search"></i> Recherchez</button>
        </div>
        <hr/>

        <!-- =============================================================== -->
        <!-- =============================================================== -->
        <h4>Recherche détaillée</h4>
        <!-- =================== -->
        <!-- Surface de la location -->
        <!-- =================== -->                        
        <h5><i class="fa fa-angle-right"></i> Superficie</h5>
        <ul class="form-group">
            <li class="col-xs-5 srch-load-on-change">
                <input type="text" class="filter filter-range hidden" id="rangeSurfaceMin" value="{{sliderRanges['surface_min']}}">                       
                <input type="text" class="filter filter-range hidden" id="surfaceMin" name="" value="{{GET_SURFACE_MIN}}">                       
            </li>
            <li class="col-xs-5">
                <input type="text" class="filter filter-range hidden" id="rangeSurfaceMax" value="{{sliderRanges['surface_max']}}">                        
                <input type="text" class="filter filter-range hidden" id="surfaceMax" name="" value="{{GET_SURFACE_MAX}}">                        
            </li>
        </ul>
        <!-- Surface slider -->
        <div id="div-range-surface" style="max-width: 80%">
            <div id="slider-range-surface"></div>
        </div>
        <div style="margin-left: 15px; margin-top: 5px;">
            <label id="label-range-surface">
                <span id="label-range-surface-min"></span>
                m<sup>2</sup>&nbsp-&nbsp
                <span id="label-range-surface-max"></span>m<sup>2</sup>
            </label>
        </div>

        <!-- =================== -->
        <!-- Prix de la location -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Prix location</h5>
        <ul class="form-group srch-load-on-change">
            <li class="col-xs-5">
                <input type="text" class="filter filter-range hidden" id="rangePrixMin" value="{{sliderRanges['prix_min']}}">                       
                <input type="text" class="filter filter-range hidden" id="prixMin" name="" value="{{ GET_PRIX_MIN }}">                       
            </li>
            <li class="col-xs-5">
                <input type="text" class="filter filter-range hidden" id="rangePrixMax" value="{{sliderRanges['prix_max']}}">                        
                <input type="text" class="filter filter-range hidden" id="prixMax" name="" value="{{ GET_PRIX_MAX }}">                        
            </li>
        </ul>
        <!-- Prix slider -->
        <div id="div-range-prix" style="max-width: 80%">
            <div id="slider-range-prix"></div>
        </div>
        <div style="margin-left: 15px; margin-top: 5px;">
            <label id="label-range-prix">
                <span id="label-range-prix-min"></span>
                €&nbsp-&nbsp
                <span id="label-range-prix-max"></span>€
            </label>
        </div>
        <div class="border-bottom"></div>  


        <!-- =================== -->
        <!-- Type de la location -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Type de logement</h5>
        <select class="filter dropdown srch-load-on-change" 
                id="inputTypeLoge" 
                name="typeloge">
            <option disabled="disabled" 
                {% if GET_TYPE_LOGE == null%} selected{% endif %}>indifférent</option>
            <option value="appartement" 
                    {% if GET_TYPE_LOGE != null and GET_TYPE_LOGE == 'appartement' %}
                    selected="selected"{% endif %}>Appartement</option>
            <option value="chalet" 
                    {% if GET_TYPE_LOGE != null and GET_TYPE_LOGE == 'chalet' %}
                    selected="selected"{% endif %}>Chalet</option>
            <option value="maison" 
                    {% if GET_TYPE_LOGE != null and GET_TYPE_LOGE == 'maison' %}
                    selected="selected"{% endif %}>Maison</option>
            <option value="studio" 
                    {% if GET_TYPE_LOGE != null and GET_TYPE_LOGE == 'studio' %}
                    selected="selected"{% endif %}>Studio</option>
            <option value="villa" 
                    {% if GET_TYPE_LOGE != null and GET_TYPE_LOGE == 'villa' %}
                    selected="selected"{% endif %}>Villa</option>
        </select>
        <div class="border-bottom"></div>  

        <!-- =================== -->
        <!-- Nombre d'étoiles -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Nombre d'étoiles</h5>

        <select class="filter dropdown srch-load-on-change"
                id="inputNbretoile" 
                name="nbretoile">
            <option disabled="disabled" 
                {% if GET_NBRETOILE == null%} selected{% endif %}>indifférent</option>
            <option value=1 
                    {% if GET_NBRETOILE != null and GET_NBRETOILE == 1 %}
                    selected="selected"{% endif %}>1</option>
            <option value=2 
                    {% if GET_NBRETOILE != null and GET_NBRETOILE == 2 %}
                    selected="selected"{% endif %}>2</option>
            <option value=3 
                    {% if GET_NBRETOILE != null and GET_NBRETOILE == 3 %}
                    selected="selected"{% endif %}>3</option>
            <option value=4 
                    {% if GET_NBRETOILE != null and GET_NBRETOILE == 4 %}
                    selected="selected"{% endif %}>4</option>
            <option value=5 
                    {% if GET_NBRETOILE != null and GET_NBRETOILE == 5 %}
                    selected="selected"{% endif %}>5</option>
            <option value=0 
                    {% if GET_NBRETOILE != null and GET_NBRETOILE == 0 %}
                    selected="selected"{% endif %}>aucune étoile</option>
        </select>
        <div class="border-bottom"></div> 


        <!-- =================== -->
        <!-- Nombre Chambres -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Nombre de chambres</h5>

        <select class="filter dropdown srch-load-on-change" 
                id="inputNbrChambre" 
                name="nbrchambre">
            <option disabled="disabled" 
                {% if GET_NBRCHAMBRE == null%} selected{% endif %}>indifférent</option>
            <option value=1 
                    {% if GET_NBRCHAMBRE != null and GET_NBRCHAMBRE == 1 %}
                    selected="selected"{% endif %}>1 et+ chambres</option>
            <option value=2 
                    {% if GET_NBRCHAMBRE != null and GET_NBRCHAMBRE == 2 %}
                    selected="selected"{% endif %}>2 et+ chambres</option>
            <option value=3 
                    {% if GET_NBRCHAMBRE != null and GET_NBRCHAMBRE == 3 %}
                    selected="selected"{% endif %}>3 et+ chambres</option>
            <option value=4 
                    {% if GET_NBRCHAMBRE != null and GET_NBRCHAMBRE == 4 %}
                    selected="selected"{% endif %}>4 et+ chambres</option>
        </select>
        <div class="border-bottom"></div> 

        <!-- =================== -->
        <!-- Nombre salles de bain -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Nbr. Salles de bain</h5>

        <select class="filter dropdown srch-load-on-change" 
                id="inputNbrSDB" 
                name="nbrsdb">
            <option disabled="disabled" 
                {% if GET_NBRSDB == null%} selected{% endif %}>indifférent</option>
            <option value=1 
                    {% if GET_NBRSDB != null and GET_NBRSDB == 1 %}
                    selected="selected"{% endif %}>1 et+</option>
            <option value=2 
                    {% if GET_NBRSDB != null and GET_NBRSDB == 2 %}
                    selected="selected"{% endif %}>2 et+</option>
            <option value=3 
                    {% if GET_NBRSDB != null and GET_NBRSDB == 3 %}
                    selected="selected"{% endif %}>3 et+</option>
            <option value=4 
                    {% if GET_NBRSDB != null and GET_NBRSDB == 4 %}
                    selected="selected"{% endif %}>4 et+</option>
        </select>
        <div class="border-bottom"></div> 

        <!-- =================== -->
        <!------ Piscine ------>
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Piscines</h5>

        <select class="filter dropdown srch-load-on-change" 
                id="inputPiscine" 
                name="piscine">
            <option disabled="disabled" 
                {% if GET_PISCINE == null%} selected{% endif %}>indifférent</option>
            <option value="piscine" 
                    {% if GET_PISCINE != null and GET_PISCINE == 'piscine' %}
                    selected="selected"{% endif %}>Avec piscine</option>
        </select>
        <div class="border-bottom"></div> 

        <!-- =================== -->
        <!-- Distance mer -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Distance mer</h5>

        <select class="filter dropdown srch-load-on-change" 
                id="inputDistanceMer" 
                name="distancemer">
            <option disabled="disabled" 
                {% if GET_DISTANCE_MER == null%} selected{% endif %}>indifférent</option>
            <option value=100 
                    {% if GET_DISTANCE_MER != null and GET_DISTANCE_MER == 100 %}
                    selected="selected"{% endif %}>100m max</option>
            <option value=500 
                    {% if GET_DISTANCE_MER != null and GET_DISTANCE_MER == 500 %}
                    selected="selected"{% endif %}>500m max</option>
            <option value=1000 
                    {% if GET_DISTANCE_MER != null and GET_DISTANCE_MER == 1000 %}
                    selected="selected"{% endif %}>1km max</option>
            <option value=5000 
                    {% if GET_DISTANCE_MER != null and GET_DISTANCE_MER == 5000 %}
                    selected="selected"{% endif %}>5km max</option>
            <option value=10000 
                    {% if GET_DISTANCE_MER != null and GET_DISTANCE_MER == 10000 %}
                    selected="selected"{% endif %}>10km max</option>
        </select>
        <div class="border-bottom"></div> 


        <!-- =================== -->
        <!-- Distance lac -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Distance lac</h5>

        <select class="filter dropdown srch-load-on-change" 
                id="inputDistanceLac" 
                name="distancelac">
            <option disabled="disabled" 
                {% if GET_DISTANCE_LAC == null%} selected{% endif %}>indifférent</option>
            <option value=100 
                    {% if GET_DISTANCE_LAC != null and GET_DISTANCE_LAC == 100 %}
                    selected="selected"{% endif %}>100m max</option>
            <option value=500 
                    {% if GET_DISTANCE_LAC != null and GET_DISTANCE_LAC == 500 %}
                    selected="selected"{% endif %}>500m max</option>
            <option value=1000 
                    {% if GET_DISTANCE_LAC != null and GET_DISTANCE_LAC == 1000 %}
                    selected="selected"{% endif %}>1km max</option>
            <option value=5000 
                    {% if GET_DISTANCE_LAC != null and GET_DISTANCE_LAC == 5000 %}
                    selected="selected"{% endif %}>5km max</option>
            <option value=10000 
                    {% if GET_DISTANCE_LAC != null and GET_DISTANCE_LAC == 10000 %}
                    selected="selected"{% endif %}>10km max</option>
        </select>
        <div class="border-bottom"></div> 


        <!-- =================== -->
        <!-- Distance remontée -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Distance remontées</h5>

        <select class="filter dropdown srch-load-on-change" 
                id="inputDistanceRemontee" 
                name="distanceremontee">
            <option disabled="disabled" 
                {% if GET_DISTANCE_REMONTEE == null%} selected{% endif %}>indifférent</option>
            <option value=100 
                    {% if GET_DISTANCE_REMONTEE != null and GET_DISTANCE_REMONTEE == 100 %}
                    selected="selected"{% endif %}>100m max</option>
            <option value=500 
                    {% if GET_DISTANCE_REMONTEE != null and GET_DISTANCE_REMONTEE == 500 %}
                    selected="selected"{% endif %}>500m max</option>
            <option value=1000 
                    {% if GET_DISTANCE_REMONTEE != null and GET_DISTANCE_REMONTEE == 1000 %}
                    selected="selected"{% endif %}>1km max</option>
            <option value=5000 
                    {% if GET_DISTANCE_REMONTEE != null and GET_DISTANCE_REMONTEE == 5000 %}
                    selected="selected"{% endif %}>5km max</option>
            <option value=10000 
                    {% if GET_DISTANCE_REMONTEE != null and GET_DISTANCE_REMONTEE == 10000 %}
                    selected="selected"{% endif %}>10km max</option>
        </select>
        <div class="border-bottom"></div> 


        <!-- =================== -->
        <!-- Distance Centre ville -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Distance centre ville</h5>

        <select class="filter dropdown srch-load-on-change" 
                id="inputDistanceCentreVille" 
                name="distancecentreville">
            <option disabled="disabled" 
                {% if GET_DISTANCE_CENTRE_VILLE == null%} selected{% endif %}>indifférent</option>
            <option value=10 
                    {% if GET_DISTANCE_CENTRE_VILLE != null and GET_DISTANCE_CENTRE_VILLE == 10 %}
                    selected="selected"{% endif %}>En centre ville</option>
            <option value=1000 
                    {% if GET_DISTANCE_CENTRE_VILLE != null and GET_DISTANCE_CENTRE_VILLE == 1000 %}
                    selected="selected"{% endif %}>1km max</option>
            <option value=5000 
                    {% if GET_DISTANCE_CENTRE_VILLE != null and GET_DISTANCE_CENTRE_VILLE == 5000 %}
                    selected="selected"{% endif %}>5km max</option>
            <option value=10000 
                    {% if GET_DISTANCE_CENTRE_VILLE != null and GET_DISTANCE_CENTRE_VILLE == 10000 %}
                    selected="selected"{% endif %}>10km max</option>
        </select> 

        <!-- =================== -->
        <!-- Caracteristique de la location -->
        <!-- =================== -->
        <h5><i class="fa fa-angle-right"></i> Caracteristiques du logement</h5>
        <ul>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="animaux" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'animaux' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Animaux accéptés</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="balcon" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'balcon' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Balcon</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="terrasse" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'terrasse' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Terrasse</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="barbecue" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'barbecue' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Barbecue</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="cheminée" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'cheminée' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Cheminée</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="air-conditionné" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'air-conditionné' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Climatisation</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="jaccuzi" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'jaccuzi' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Jaccuzi</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="lave-linge" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'lave-linge' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Lave-linge</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="lave-vaisselle" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'lave-vaisselle' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Lave-vaisselle</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="lit bébé" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'lit bébé' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Lit bébé</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="parking" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'parking' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Parking</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="sauna" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'sauna' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Sauna</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="tv" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'tv' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">TV</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="lac" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'lac' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Vue sur lac</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="mer" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'mer' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Vue sur mer</span>
            </li>
            <li class="checkbox">
                <input type="checkbox" name="carac[]" value="wifi" 
                       class="filter srch-load-on-change" 
                       {% if GET_CARAC != null and 'wifi' in GET_CARAC %}
                       checked="checked"
                       {% endif %}>
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Wifi</span>
            </li>
            {#<li class="checkbox">
                <input type="checkbox" name="carac" value="aucun seuil" class="filter srch-load-on-change">
                <span class="col-md-6 col-lg-6" style="padding-left: 0;">Accès faut. roulant</span>
            </li>#}
        </ul>
        <div class="border-bottom"></div> 

        {# === fin contents === #}
    </div>
</form>