{% extends '::base.html.twig' %}

{% set urlParams =  app.request.query.all %}
{% set GET_DATE_ARRIVEE =  null %}
{% set GET_DATE_DEPART =  null %}
{% for param, val in urlParams %}
    {% if param == 'datearrivee' %}{% set GET_DATE_ARRIVEE = val %}{% endif %}
    {% if param == 'datedepart' %}{% set GET_DATE_DEPART = val %}{% endif %}
{% endfor %}

{% block body -%}

{% set resultsCenterMap = resultsCenter is defined ? resultsCenter : null %}       {# Center of results found #}
{% set resultsBoundsMap = resultsBounds is defined ? resultsBounds : null %}       {# Bounds of results found #}
{% set resultsPays = pays is defined ? pays : null %}                              {# Bounds of results found #}
{% set resultsRegion = region is defined ? region : null %}                        {# Bounds of results found #}
{% set resultsVille = ville is defined ? ville : null %}                           {# Bounds of results found #}
{% set currentUrl = app.request.uri %}
{% set urlParamsArray = currentUrl|split('?') %}
{% set urlParams = urlParamsArray|length > 1?urlParamsArray[1]:'' %}
{% set urlParamsWithoutRadius = urlParams %}
{% if urlParams != '' and 'radius' in urlParams %}
    {% set urlParamsWithoutRadiusArray = [] %}
    {% set urlParamsArray = urlParams|split('&') %}
    {% for param in urlParamsArray %}
        {% set paramPairArray =  param|split('=') %}
        {% if paramPairArray[0] != 'radius' %}
            {% set urlParamsWithoutRadiusArray = urlParamsWithoutRadiusArray|merge([param]) %}
        {% endif %}
    {% endfor %}
    {% set urlParamsWithoutRadius = urlParamsWithoutRadiusArray|join('&') %}
{% endif %}
{% set currentRouteName = app.request.attributes.get('_route') %}
{# page starts #}
<div class="list-annonces">
    {# Bounds of results for map #}
    <p class="hidden" id="results-center" data="{{resultsCenterMap}}">{{resultsCenterMap}}</p>
    <p class="hidden" id="results-bounds" data="{{resultsBoundsMap}}">{{resultsBoundsMap}}</p>
    <p class="hidden" id="results-pays" data="{{resultsPays}}">{{resultsPays}}</p>
    <p class="hidden" id="results-region" data="{{resultsRegion}}">{{resultsRegion}}</p>
    <p class="hidden" id="results-ville" data="{{resultsVille}}">{{resultsVille}}</p>

        {% block pub2 %} {{parent()}} {% endblock %}
    <ol class="breadcrumb">
        <li><a href="{{ path('home') }}">Page d'accueil</a></li>
        <li >{% if currentRouteName != 'locations' %}<a href="{{ path('locations')~ '?' ~ urlParamsWithoutRadius }}">Locations</a>{% else %}Locations{% endif %}</li>
            {% if pays is defined and pays != null %} <li >{% if currentRouteName != 'locations_by_pays' %}<a href="{{ path('locations_by_pays',{'pays':pays}) ~ '?' ~ urlParams }}">{{pays}}</a>{% else %}{{pays}}{% endif %}</li>{% endif %}
            {% if region is defined and region != null %} <li >{% if currentRouteName != 'locations_by_region' %}<a href="{{ path('locations_by_region',{'pays':pays, 'region':region}) ~'?' ~ urlParams }}">{{region}}</a>{% else %}{{region}}{% endif %}</li>{% endif %}
            {% if ville is defined and ville != null %} <li >{% if currentRouteName != 'locations_by_ville' %}<a href="{{ path('locations_by_ville',{'pays':pays, 'region':region, 'ville':ville}) ~'?' ~ urlParams }}">{{ville}}</a>{% else %}{{ville}}{% endif %}</li>{% endif %} 
    </ol>
    <hr>

    <div class="row">
        <div class="col-sm-4">
            {# Inclure le filtre à gauche #}
            {% include 'LefFoBundle:Location:inc_filter_left.html.twig' %}
            <hr>
                {% block pub1 %} {{parent()}} {% endblock %}
        </div>
        <div class="col-sm-8">
            <div id="tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#liste" role="tab" data-toggle="tab"><i class="fa fa-list"></i> Liste</a></li>
                    <li role="presentation"><a href="#carte" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Carte</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="liste">
                    <div id="pre-annonce" style="margin-top: 15px;">
                        <div class="col-sm-4 col-md-2"></div>
                        <div class="col-sm-4 col-md-4" id="div-nbrs" style="text-align: center;">{{totalRecord}} locations de vacances</div>
                        <div class="col-sm-4 col-md-6" id="div-order-by" style="float: right;">
                            Trier par: &nbsp;
                            {{ knp_pagination_sortable(entities, 'Prix', 'lc.rentalprice') }} {% if entities.isSorted('lc.rentalprice') %} {{entities.getDirection()}}{% endif %}, 
                            &nbsp;
                            {{ knp_pagination_sortable(entities, 'nbrPerso', 'lc.nombreDePersonne') }} {% if entities.isSorted('lc.nombreDePersonne') %} {{entities.getDirection()}}{% endif %} 
                            &nbsp;
                            {{ knp_pagination_sortable(entities, 'nbrEtoile', 'lc.nombreEtoiles') }} {% if entities.isSorted('lc.nombreEtoiles') %} {{entities.getDirection()}}{% endif %} 
                            {#<select id="select-tri">
                                <option value="00" selected="selected">Tri par défault</option>
                                <option value="01">Prix croissant</option>
                                <option value="02">Prix décroissant</option>
                                <option value="03">Surface croissant</option>
                                <option value="04">Surface décroissant</option>
                                <option value="05">Nbr chambre croissant</option>
                                <option value="06">Nbr chambre décroissant</option>
                                <option value="07">Etoile croissant</option>
                                <option value="08">Etoile décroissant</option>
                                <option value="09">Capacité croissant</option>
                                <option value="10">Capacité décroissant</option>
                            </select>#}
                        </div>
                        {#<span id="spn-nbr-group" class="hidden">{{nbrGroups}}</span>#}
                    </div>
                    <br/>
                    <hr/>
{#                {{ render(controller('LefFoBundle:Location:__pagination', { 'page': current_page, 'niveauLocalisation': niveauLocalisation, 'pays':pays, 'region':region, 'ville':ville })) }}#}
                    <div class="annonce">                        
                    {% for entity in entities %}
                        {% set tps =  entity.tranchePrix %}
                            {% for tp in tps %}
                            {% debug tp.day %}
                        {% endfor %}
                        <div class="annonce-content annonce-intern{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}">
                            <div class="row">
                                <div class="col-sm-5">
                                    {% if entity.brandPartner in [null, 'lef', 'LEF', 'louerenfrance', 'louer-en-france'] %}
                                        {% if entity.medias %}
                                            {% for media in entity.medias %}
                                                {% if loop.last  %}
                                    <div class="media">
                                        <img src="{{ media.src }}">
                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                    <div class="media">
                                        <img src="{{ asset('img/no-photo.min.png') }}">
                                    </div>
                                        {% endif %}
                                    {% elseif entity.brandPartner is not null%}
                                    <div class="media" need-feed="need-feed">
                                        <img id="{{entity.reference}}" src="{{ asset('img/no-photo.min.png') }}">
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-5">
                                    <div class="body">
                                        <h4 class="heading titre-location"> 
                                    {% if entity.pays != null %} {{entity.pays}} {% endif %} 
                                    {% if entity.region != null %} / {{entity.region|replace({'/': '_'})}} {% endif %} 
                                    {% if entity.ville != null %} / {{entity.ville}} {% endif %} 
                                    {% if entity.titre != null %} / {{entity.titre}} {% endif %} 
                                    {% if entity.typePartner %} {{entity.typePartner}} {% endif %} 
                                        </h4>
                                        <span class="ref-location"> Ref : {{entity.reference}} </span>
                                        <p class="teaser-location">
                                            <span class="item-loc sqmpax-location"> {{entity.surfaceHabitable}} m² / {{entity.nombreDePersonne}} personnes </span>
                                            <span class="item-loc note-location">
                                                {% if entity.nombreEtoiles %}
                                                    {% for start in 1..entity.nombreEtoiles %}<i class="fa fa-star"></i> {% endfor %}
                                                    {% set restEtoiles = 5 - entity.nombreEtoiles %}
                                                    {% if restEtoiles > 0 %}{% for start in 1..restEtoiles %}<i class="fa fa-star-o"></i> {% endfor %}{% endif %}
                                                {% else %}
                                                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                                {% endif %}
                                            </span>
                                            <span class="item-loc desc-location">
                                                {% if entity.caracteristiques != null %}
                                                    {{ entity.caracteristiques|length > 90 ? entity.caracteristiques|slice(0, 90) ~ '...' : entity.caracteristiques  }}
                                                {% elseif entity.descriptionBreve != null %}
                                                    {{ entity.descriptionBreve|length > 90 ? entity.descriptionBreve|slice(0, 90) ~ '...' : entity.descriptionBreve  }}
                                                {% elseif entity.descriptionDetaillee != null %}
                                                    {{ entity.descriptionDetaillee|length > 90 ? entity.descriptionDetaillee|slice(0, 90) ~ '...' : entity.descriptionDetaillee  }}
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    {% if trancheprix is defined %}
                                    {% else %}
                                    <span class="prix-label">à partir de</span>
                                    <span class="prix">{% if entity.rentalprice != null %} {{entity.rentalprice}} {% else %} ---- {% endif %} <sup class="prix-devise">&euro;</sup></span>
                                    {% endif %}
                                    <!--  -->
                                    {% set dta =  GET_DATE_ARRIVEE != null ? '?datearrivee='~GET_DATE_ARRIVEE : '' %}
                                    {% set dtd = GET_DATE_DEPART != null ? '&datedepart='~GET_DATE_DEPART : '' %}
                                    {% set periode = dta~dtd %}
                                    <a href="{{ path('location_show', {'pays':entity.pays|trim != ''?entity.pays|replace({'/': '_'}):'pays', 
                                                'region':entity.region|trim != ''?entity.region|replace({'/': '_'}):'region', 
                                                'ville':entity.ville|trim != ''?entity.ville|replace({'/': '_'}):'ville', 
                                                'partenaire':entity.brandPartner?entity.brandPartner:'brand',
                                                'reference':entity.reference }) ~periode }}" class="btn btn-block btn-warning">Voir</a>
                                    <button class="btn btn-block btn-warning btn-go-wish-list" valref="{{entity.reference}}">------</button>               {# modified le 130814 par Jian #}
                                    <button class="btn btn-block btn-primary btn-add-compa btn-xs" id="btn-add-compa-{{entity.id}}" value="{{entity.id}}">Comparer</button>
                                    <div class="btn-group-vertical">
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom"></div>
                            <div class="hidden div-compa-hidden">
                                <td>{{entity.getPays()}}</td>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="navigation">
                    {{ knp_pagination_render(entities) }}
                        <div class="pagination">
                            {% if previous is defined %}
                            <span class="previous">
                                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
                            </span>
                                {% endif %}

                                {% if next is defined %}
                            <span class="next">
                                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
                            </span>
                                {% endif %}
                        </div>
                    </div>
{#                {{ render(controller('LefFoBundle:Location:__pagination', { 'page': current_page, 'niveauLocalisation': niveauLocalisation, 'pays':pays, 'region':region, 'ville':ville })) }}                                                                                                          #}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="carte">
                    <div id="map-container">
                        <div id="map" style="width: 100%; height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="footer alert alert-info">
    <hr/>
    <div id="div-panier-comparaison">
        <p id="p-nbr-item-compa-authorise" class="hidden" value="{{ nbrItemCompa }}"></p>

        <div id="div-location-comparator">
            Panier de comparaison, {{ nbrItemCompa }} annonces maximum. 
            <div id="div-thumbnail-compa" class="row"></div>
            <br/>
            <button id="btn-clear-item-compa" class="btn btn-default" >Vider</button>
            <button id="btn-comparer-item-compa" class="btn btn-primary" data-toggle="modal" data-target="#dialog-panier-compa">Comparer</button>
        </div>

    </div>
</div>

    {#modal comparaison#}
<div id="dialog-panier-compa" class="modal fade" 
     tabindex="-1" role="dialog" aria-labelledby="modalPanierCompa" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Panier de comparaison</h4>
            </div>
            <div id="div-modal-body" class="modal-body">
                <table class="table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{#inclure js#}
{% block javascripts %}
    {{parent()}}
<script src="{{ asset('js/jquery.cookie.min.js') }}"></script>
<script src="{{ asset('js/default-compa_v3.min.js') }}"></script>
{#<script src="{{ asset('js/search-left.js') }}"></script>#}
{#<script src="{{ asset('js/scroll_load.js') }}"></script>#}
<script src="{{ asset('js/load_image_by_ref.js') }}"></script>
<script src="{{ asset('js/markerclusterer_compiled.js') }}"></script>
<script src="{{ asset('js/map_retrieve_n_show.js') }}"></script>
{% endblock %}
