{% extends '::base.html.twig' %}

{% block body -%}
    <div class="list-annonces">
        
        {% block pub1 %} {{parent()}} {% endblock %}
        <ol class="breadcrumb">
            <li><a href="{{ path('home') }}">Page d'accueil</a></li>
            <li><a href="{{ path('locations') }}">Location</a></li>
            <li class="active">{{type_location|capitalize}}</a></li>
        </ol>
        <hr>
        <h1>{{type_location|capitalize}}</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="alert alert-info" role="alert">
                    <h4>Emplacement</h4>
                    <!--  -->
                    <h4>Affiner votre recherche</h4>
                    <form action="" class="form-horizontal srch_left" role="form">              {# Form Modified le 150814 par Jian #}

                        <!-- =================== -->
                        <!-- Type de la location -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Type de logement</h5>
                        <select class="filter dropdown">
                            <option>indifférent</option>
                            <option value="types:apprt">Appartement</option>
                            <option value="types:chalet">Chalet</option>
                            <option value="types:maison">Maison</option>
                            <option value="types:studio">Studio</option>
                            <option value="types:villa">Villa</option>
                        </select>
                        <div class="border-bottom"></div>  

                        <!-- =================== -->
                        <!-- Nombre d'étoiles -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Nombre d'étoiles</h5>

                        <select class="filter dropdown">
                            <option>indifférent</option>
                            <option value="_location:nombreEtoiles@1">1</option>
                            <option value="_location:nombreEtoiles@2">2</option>
                            <option value="_location:nombreEtoiles@3">3</option>
                            <option value="_location:nombreEtoiles@4">4</option>
                            <option value="_location:nombreEtoiles@5">5</option>
                            <option value="_location:nombreEtoiles@0">aucune étoile</option>
                        </select>
                        <div class="border-bottom"></div> 

                        <!-- =================== -->
                        <!-- Surface de la location -->
                        <!-- =================== -->                        
                        <h5><i class="fa fa-angle-right"></i> Superficie</h5>
                        <ul class="form-group">
                            <li class="col-xs-5">
                                <input type="text" class="form-control filter filter-range hidden" id="sqmMin" name="sqmMin" placeholder="min (m²)">                       
                            </li>
                            <li class="col-xs-5">
                                <input type="text" class="form-control filter filter-range hidden" id="sqmMax" name="sqmMax" placeholder="max (m²)">                        
                            </li>
                        </ul>
                        <!-- Surface slider -->
                        <div id="div-range-surface" style="max-width: 80%">
                            <div id="slider-range-surface"></div>
                        </div>
                        <div>
                            <div id="label-range-surface"></div>
                        </div>
                        <div class="border-bottom"></div>  

                        <!-- =================== -->
                        <!-- Prix de la location -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Prix location</h5>
                        <ul class="form-group">
                            <li class="col-xs-5">
                                <input type="text" class="form-control filter filter-range hidden" id="prixMin" name="prixMin" placeholder="min (€)">                       
                            </li>
                            <li class="col-xs-5">
                                <input type="text" class="form-control filter filter-range hidden" id="prixMax" name="prixMax" placeholder="max (€)">                        
                            </li>
                        </ul>
                        <!-- Prix slider -->
                        <div id="div-range-prix" style="max-width: 80%">
                            <div id="slider-range-prix"></div>
                        </div>
                        <div>
                            <div id="label-range-prix"></div>
                        </div>
                        <div class="border-bottom"></div>  

                        <!-- =================== -->
                        <!-- Nombre Chambres -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Chambres</h5>

                        <select class="filter dropdown">
                            <option>indifférent</option>
                            <option value="_location:nombreChambre@1">1 et+ chambres</option>
                            <option value="_location:nombreChambre@2">2 et+ chambres</option>
                            <option value="_location:nombreChambre@3">3 et+ chambres</option>
                            <option value="_location:nombreChambre@4">4 et+ chambres</option>
                        </select>
                        <div class="border-bottom"></div> 

                        <!-- =================== -->
                        <!-- Nombre salles de bain -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Salles de bain</h5>

                        <select class="filter dropdown">
                            <option>indifférent</option>
                            <option value="_location:nombreSalleDeBain@1">1 et+ sdb</option>
                            <option value="_location:nombreSalleDeBain@2">2 et+ sdb</option>
                            <option value="_location:nombreSalleDeBain@3">3 et+ sdb</option>
                            <option value="_location:nombreSalleDeBain@4">4 et+ sdb</option>
                        </select>
                        <div class="border-bottom"></div> 

                        <!-- =================== -->
                        <!-- Types piscine -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Piscines</h5>

                        <select class="filter dropdown">
                            <option>indifférent</option>
                            <option value="equipements:Piscine">Piscine</option>
                            <option value="equipements:Piscine privée">Piscine privée</option>
                        </select>
                        <div class="border-bottom"></div> 

                        <!-- =================== -->
                        <!-- Caracteristique de la location -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Caracteristiques du logement</h5>
                        <ul>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:animaux acceptés" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Animaux accéptés</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:balcon/terrasse" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Balcon/Terrasse</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:barbecue" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Barbecue</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:cheminée" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Cheminée</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:climatisation" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Climatisation</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="bienEtres:Jaccuzi" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Jaccuzi</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:lave-linge" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Lave-linge</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:lave-vaisselle" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Lave-vaisselle</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="optionEnfants:lit bébé" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Lit bébé</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:parking" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Parking</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="bienEtres:sauna" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Sauna</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:tv" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">TV</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:vue sur lac ou mer" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Vue sur lac ou mer</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="equipements:wifi" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Wifi</span>
                                </label>
                            </li>
                            <li class="checkbox">
                                <label>
                                    <input type="checkbox" value="optionHandicapees:aucun seuil" class="filter">
                                    <span class="col-md-6 col-lg-6" style="padding-left: 0;">Accès faut. roulant</span>
                                </label>
                            </li>
                        </ul>
                        <div class="border-bottom"></div> 


                        <!-- =================== -->
                        <!-- Distance mer -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Distance mer</h5>

                        <select class="filter dropdown">
                            <option>indifférent</option>
                            <option value="_location:distanceMer@100">100m max</option>
                            <option value="_location:distanceMer@500">500m max</option>
                            <option value="_location:distanceMer@1000">1km max</option>
                            <option value="_location:distanceMer@5000">5km max</option>
                            <option value="_location:distanceMer@10000">10km max</option>
                        </select>
                        <div class="border-bottom"></div> 


                        <!-- =================== -->
                        <!-- Distance lac -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Distance lac</h5>

                        <select class="filter dropdown">
                            <option>indifférent</option>
                            <option value="_location:distanceLac@100">100m max</option>
                            <option value="_location:distanceLac@500">500m max</option>
                            <option value="_location:distanceLac@1000">1km max</option>
                            <option value="_location:distanceLac@5000">5km max</option>
                            <option value="_location:distanceLac@10000">10km max</option>
                        </select>
                        <div class="border-bottom"></div> 


                        <!-- =================== -->
                        <!-- Distance remontée -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Distance remontées</h5>

                        <select class="filter dropdown">
                            <option>indifférent</option>
                            <option value="_location:distanceRemontees@100">100m max</option>
                            <option value="_location:distanceRemontees@500">500m max</option>
                            <option value="_location:distanceRemontees@1000">1km max</option>
                            <option value="_location:distanceRemontees@2000">2km max</option>
                            <option value="_location:distanceRemontees@10000">10km max</option>
                        </select>
                        <div class="border-bottom"></div> 


                        <!-- =================== -->
                        <!-- Distance Centre ville -->
                        <!-- =================== -->
                        <h5><i class="fa fa-angle-right"></i> Distance centre ville</h5>

                        <select class="filter dropdown">
                            <option>indifférent</option>
                            <option value="_location:distanceCentreVille@0">En centre ville</option>
                            <option value="_location:distanceCentreVille@1000">1km max</option>
                            <option value="_location:distanceCentreVille@5000">5km max</option>
                            <option value="_location:distanceCentreVille@10000">10km max</option>
                        </select>
                        <div class="border-bottom"></div> 
                        <br/>
                        <div id="div-num-result"></div> 
                        <!--  -->
                        <button type="submit" class="btn btn-default btn-sm">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-8">
                {{ render(controller('LefFoBundle:Location:__pagination', { 'page': current_page, 'niveauLocalisation': niveauLocalisation, 'pays':pays, 'region':region, 'ville':ville })) }}
                <div class="annonce">
                    {% for entity in entities %}
                        <div class="annonce-content annonce-intern{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}">
                            <div class="row">
                                <div class="col-sm-5">
                                    {% if entity.medias_p %}
                                        {% for media in entity.medias_p %}
                                            {% if loop.last  %}
                                            <div class="media">
                                                <img src="{{ media.src }}">
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="media no-media">
                                            <img src="{{ asset('img/no-photo.min.png') }}">
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-5">
                                    <div class="body">
                                        <h4 class="heading titre-location"> 
                                            {% if entity.pays != null %} {{entity.pays}} {% endif %} 
                                            {% if entity.region != null %} / {{entity.region}} {% endif %} 
                                            {% if entity.ville != null %} / {{entity.ville}} {% endif %} 
                                            {% if entity.titre != null %} / {{entity.titre}} {% endif %} 
                                            {% if entity.typePartner %} {{entity.typePartner}} {% endif %} 
                                        </h4>
                                        <span class="ref-location"> Ref : {{entity.reference}} </span>
                                        <p class="teaser-location">
                                            <span class="item-loc sqmpax-location"> {{entity.surfaceHabitable}} m² / {{entity.nombreDePersonne}} personnes </span>
                                            <span class="item-loc note-location">
                                                {% if entity.nombreEtoiles %}
                                                    {% for start in 1..entity.nombreEtoiles %}<i class="fa fa-star"></i> {% endfor %}
                                                    {% set restEtoiles = 5 - entity.nombreEtoiles %}
                                                    {% if restEtoiles > 0 %}{% for start in 1..restEtoiles %}<i class="fa fa-star-o"></i> {% endfor %}{% endif %}
                                                {% else %}
                                                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                                {% endif %}
                                            </span>
                                            <span class="item-loc desc-location">
                                                {% if entity.caracteristiques != null %}
                                                    {{ entity.caracteristiques|length > 90 ? entity.caracteristiques|slice(0, 90) ~ '...' : entity.caracteristiques  }}
                                                {% elseif entity.descriptionBreve != null %}
                                                    {{ entity.descriptionBreve|length > 90 ? entity.descriptionBreve|slice(0, 90) ~ '...' : entity.descriptionBreve  }}
                                                {% elseif entity.descriptionDetaillee != null %}
                                                    {{ entity.descriptionDetaillee|length > 90 ? entity.descriptionDetaillee|slice(0, 90) ~ '...' : entity.descriptionDetaillee  }}
                                                {% endif %}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <span class="prix-label">à partir de</span>
                                    <span class="prix">{% if entity.rentalprice != null %} {{entity.rentalprice}} {% else %} ---- {% endif %} <sup class="prix-devise">&euro;</sup></span>
                                    <!--  -->
                                    <a href="{{ path('location_show', {'pays':entity.pays?:'pays', 'region':entity.region?:'region', 'ville':entity.ville?:'ville', 'reference':entity.reference }) }}" class="btn btn-block btn-warning">Voir</a>
                                    <button class="btn btn-block btn-warning btn-go-wish-list" valref="{{entity.reference}}">------</button>               {# modified le 130814 par Jian #}
                                    <button class="btn btn-block btn-primary btn-add-compa btn-xs" id="btn-add-compa-{{entity.id}}" value="{{entity.id}}">Comparer</button>
                                    <div class="btn-group-vertical">
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom"></div>
                            <div class="hidden div-compa-hidden">
                                <td>{{entity.getPays()}}</td>
                            </div>
                        </div>
                    {% endfor %}
                </div>      
                {{ render(controller('LefFoBundle:Location:__pagination', { 'page': current_page, 'niveauLocalisation': niveauLocalisation, 'pays':pays, 'region':region, 'ville':ville })) }}                                                                                                          
            </div>
        </div>
        
        {% block pub2 %} {{parent()}} {% endblock %}

    </div>

    <div class="footer alert alert-info">
        <hr/>
        <div id="div-panier-comparaison">
            <p id="p-nbr-item-compa-authorise" class="hidden" value="{{ nbrItemCompa }}"></p>
            
            <div id="div-location-comparator">
                Panier de comparaison, {{ nbrItemCompa }} annonces maximum. 
                <div id="div-thumbnail-compa" class="row"></div>
                <br/>
                <button id="btn-clear-item-compa" class="btn btn-default" >Vider</button>
                <button id="btn-comparer-item-compa" class="btn btn-primary" data-toggle="modal" data-target="#dialog-panier-compa">Comparer</button>
            </div>
            
        </div>
    </div>

    {#modal comparaison#}
    <div id="dialog-panier-compa" class="modal fade" 
         tabindex="-1" role="dialog" aria-labelledby="modalPanierCompa" aria-hidden="true">
        
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Panier de comparaison</h4>
              </div>
               <div id="div-modal-body" class="modal-body">
                <table class="table"></table>
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        </div>
      
    </div>
{% endblock %}

{#inclure js#}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/default-compa_v3.js') }}"></script>
    <script src="{{ asset('js/jquery.cookie.js') }}"></script>
    <script src="{{ asset('js/search-left.js') }}"></script>                    {# Added le 150814 par Jian #}
{% endblock %}