{% extends '::base.html.twig' %}

{% block body -%}

<div class="one-location">

	{# Image de couverture #}
	{% if entity.medias_p %}
    <div class="couv-location">
        {% for media in entity.medias_p %}
        {% if loop.first %}
        <a class="fancybox" rel="gallery1" href="{{ media.src }}" title="{{media.titre}}">
            <img src="{{ media.src }}">
        </a>
        {% endif %}
        {% endfor %}
    </div>
	{% elseif entity.brandPartner in [null, 'lef', 'LEF', 'louerenfrance', 'louer-en-france'] %}
    <div class="couv-location">
        {% for media in entity.medias %}
                {% if loop.first %}
        <a class="fancybox" rel="gallery1" href="{{ media.src }}" title="{{media.titre}}">
            <img src="{{ media.src }}">
        </a>
                {% endif %}
        {% endfor %}
    </div>
	{% endif %}

            {% if entity.medias_p %}
    <div class="gallery row">
            {% for media in entity.medias_p %}
        <div class="col-xs-4 col-sm-3 col-md-3">
            <a class="fancybox thumbnail" rel="gallery1" href="{{ media.src }}" title="{{media.titre}}">
                <img src="{{ media.src }}">
            </a>
        </div>
            {% endfor %}
    </div>
            {% elseif entity.brandPartner in [null, 'lef', 'LEF', 'louerenfrance', 'louer-en-france'] %}
    <div class="gallery row">
                {% for media in entity.medias %}
        <div class="col-xs-5 col-sm-3 col-md-2">
            <a class="fancybox thumbnail" rel="gallery1" href="{{ media.src }}" title="{{media.titre}}">
                <img src="{{ media.src }}">
            </a>
        </div>
                    {% if not loop.first %}
                    {% endif %}
                {% endfor %}
    </div>	
            {% endif %}
        {# pub #}
	{% block pub1 %} {{parent()}} {% endblock %}

    <div class="row">

        {# breadcrumb #}
        <div class="">
            <ol class="breadcrumb">
                <li><a href="{{ path('home') }}">Page d'accueil</a></li>
                <li><a href="{{ path('locations') }}">Location</a></li>
                    {% if entity.pays != null %} <li><a href="{{ path('locations_by_pays', {'pays':entity.pays?:null}) }}"> {{entity.pays}} </a></li>{% endif %}
                    {% if entity.region != null %} <li><a href="{{ path('locations_by_region', {'pays':entity.pays?:null, 'region':entity.region?entity.region|replace({'/': '_', ' ':''}):null}) }}"> {{entity.region}} </a></li>{% endif %}
                    {% if entity.ville != null %} <li><a href="{{ path('locations_by_ville', {'pays':entity.pays?:null, 'region':entity.region?entity.region|replace({'/': '_', ' ':''}):null, 'ville':entity.ville?:null}) }}"> {{entity.ville}} </a></li>{% endif %}
                <li class="active">{% if entity.reference != null %} {{entity.reference}} {% endif %}</li>
            </ol>
        </div>

        {# titre #}
        <div class="col-sm-7">
            <h1 class="titre-location">
                {{ entity.titre }} {% if entity.pays != null %} / {{entity.pays}} {% endif %}
                {% if entity.region != null %} / {{entity.region}}{% endif %}
                {% if entity.ville != null %} / {{entity.ville}}{% endif %}
                {% if entity.rentalprice != null %} / {{entity.rentalprice}}€{% endif %}
                <br><small>Reference : {{ entity.reference }}</small> </h1>
            <hr>

            <h4 class="titre2">Descrption</h4>
            <p>{{ entity.descriptionBreve }}</p>
            <p>{{ entity.descriptionDetaillee }}</p>
            <h4 class="titre2">Caractéristques du logement</h4>
            <p>{{ entity.caracteristiques }}</p>


        </div>
        {# Right column #}
        <div class="col-sm-5">
            {# Verification de la disponiblité #}
            {% if canCheckAvailability == true %}

            <div class="alert alert-info">
                <div class="col-xs-12">
                    <strong>Vérifier la disponiblité </strong>
                </div>
                <br/><br/>
                <form action="" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div style="display: inline-block;">
                            <div class="col-xs-1">
                                <strong>Du</strong>
                            </div>
                            <div class="col-xs-5">
                                <input type="date" class="form-control" id="arrivee" name="datearrivee" placeholder="Arrivée" value="{{dateArrivee}}">                       
                            </div>
                            <div class="col-xs-1">
                                <strong>à</strong>
                            </div>
                            <div class="col-xs-5">
                                <input type="date" class="form-control" id="depart" name="datedepart" placeholder="Départ" value="{{dateDepart}}">                        
                            </div>
                        </div>
                        <br/>
                        <div class="col-xs-2" style="float: right;">
                            <button class="btn btn-warning">Voir</button>                        
                        </div>
                    </div>
                </form>

            {% if availability is defined %}
                {% set dateArriveeArray = dateArrivee|split('-') %}
                {% set dateArriveeFFr =  dateArriveeArray[2]~'/'~dateArriveeArray[1]~'/'~dateArriveeArray[0]%}
                {% set dateDepartArray = dateDepart|split('-') %}
                {% set dateDepartFFr =  dateDepartArray[2]~'/'~dateDepartArray[1]~'/'~dateDepartArray[0]%}
                Du <strong>{{dateArriveeFFr}}</strong> au <strong>{{dateDepartFFr}}</strong> la location est <strong>{{availability}}</strong>.
            {% endif %}
            </div>
            {% else %}
            <div class="alert alert-info" style="min-height: 75px;">
                <div class="col-xs-12">
                    <strong>Pour vérifier la disponiblité, consultez l'iframe de notre partenaire.</strong>
                </div>
            </div>
            {% endif %}
            {# Chiffres étoiles #}
            <hr>
            <h4 class="titre2">Equipement de la location</h4>
            {% if entity.amenagement %}
                    {{ entity.amenagement }}
            {% endif %}
            <br>
            <br>
            <div class="row">
                <div class="col-sm-3">
                        {% if entity.surfaceHabitable %}
                    <strong>Surface</strong><br>
                                {{ entity.surfaceHabitable }} m²
                        {% endif %}
                </div>
                <div class="col-sm-3">
                        {% if entity.nombreDePersonne %}
                    <strong>Capacité (prsn)</strong><br>
                                {{ entity.nombreDePersonne }} 
                        {% endif %}
                </div>
                <div class="col-sm-3">
                        {% if entity.nombreChambre %}
                    <strong>Couchage</strong><br>
                                {{ entity.nombreChambre }} 
                        {% elseif entity.sejourAvecCouchage %}
                    <strong>Couchage</strong><br>
                                {{ entity.sejourAvecCouchage }}
                        {% endif %}
                </div>
                <div class="col-sm-3">
                        {% if entity.sanitaire %}
                    <strong>Salle de bain</strong><br>
                                {{ entity.sanitaire }} 
                        {% elseif entity.nombreSalleDeBain %}
                    <strong>Salle de bain</strong><br>
                                {{entity.nombreSalleDeBain}}
                        {% endif %}
                </div>
            </div>
            <br>
            <span class="shwo-loc note-location">
                {% if entity.nombreEtoiles %}
                        {% for start in 1..entity.nombreEtoiles %}<i class="fa fa-star"></i> {% endfor %}
                        {% set restEtoiles = 5 - entity.nombreEtoiles %}
                        {% if restEtoiles > 0 %}{% for start in 1..restEtoiles %}<i class="fa fa-star-o"></i> {% endfor %}{% endif %}
                {% else %}
                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                {% endif %}
            </span>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-7">
                    {# ##################### M 110814 Jian #################### #}
                    {% if isPartner %}
                    <a class="btn btn-lg btn-warning collapse-frame">Réserver</a>
                    {% else %}
				{#                     	<a class="btn btn-lg btn-warning" href="{{path('location_show_details', {'pays':entity.pays?:'pays', 'region':entity.region?:'region', 'ville':entity.ville?:'ville', 'reference':entity.reference?:'reference'} )}}">Détails</a> #}
                    <a class="btn btn-lg btn-warning collapse-frame">Contacter l'annonceur</a>
                    {% endif %}
                    {# ######################################################## #}
                    <button class="btn btn-warning btn-lg btn-go-wish-list" valref="{{entity.reference}}">------</button>               {# modified le 130814 par Jian #}
                </div>
                <div class="col-sm-5">
					{% if entity.rentalprice != null %}
                    <span class="prix-label">à partir de</span>
                    <span class="prix"> {{entity.rentalprice}} 
                        <sup class="prix-devise">&euro;</sup></span>
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>

	{# Description de la location #}
    <div class="desc-wrapp row">
        <div class="col-sm-6">



        </div>

        <div class="col-sm-6">

        </div>
    </div>
    <div class="iframe-reservation">
        <hr>
            {% if partnerBrand == "interchalet" %}
        <iframe src="http://www.interchalet.fr/detail.cfm?ag=A0075289&object_code={{entity.reference}}" style="width:100%;" height="500px" id="iniframe"></iframe>
            {% endif %}

            {% if partnerBrand == "interhome" %}
        <iframe src='https://www.interhome.fr/booking/?arrivalDate={{ dateArrivee|date("Y-m-d") }}&departureDate={{ dateDepart|date("Y-m-d") }}&accommodationId={{entity.reference}}&lCode=FR-FR&partnerID=FR0700622' 
                style="width:100%;" height="500px" id="iniframe"></iframe>
            {% endif %}

            {% if partnerBrand == "leisure" %}
        <iframe src="http://fr.belvilla.org/pvct/reservation/?pt=ciel&lo=louer&pid=booking&housecode={{entity.reference}}&nig=7&ad={{ "now"|date("Y-m-d") }}" style="width:100%;" height="500px" id="iniframe"></iframe>
            {% endif %}

            {% if isPartner == false %}
                {% if app.user %}
        <strong>Contact</strong>:<br> 
                                            {% if annonceur.gender == "u" %}M. {% else %}Mme. {% endif %} {{annonceur.firstname|upper}} {{annonceur.lastname}} <br>
        Tel : {{annonceur.phone}} <br> 
        Tel : {{annonceur.email}} 
                {% else %}

        <br>
        <div class="alert alert-info" role="alert">
            <strong>Vous devez vous authentifier pour pouvoir faire une résérvation!</strong>     
            <a class="btn btn-info" href="{{path('fos_user_security_login')}}">Connexion</a> 
            <a class="btn btn-info" href="{{path('fos_user_registration_register')}}">Inscription</a>.
        </div>
                {% endif %}
            {% endif %}
    </div>
    <hr>
	{% block pub2 %} {{parent()}} {% endblock %}

	{# Carte  de localisation #}
	{% if entity.latitude != null %}
    <span class="localisation" latitude="{{entity.latitude}}" longitude="{{entity.longitude}}"></span>
    <div class="alert alert-warning">
        <div id="carte" style="width:100%; min-height:250px;"></div>
    </div>
    <hr>
	{% endif %}


</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="{{ asset('fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="{{ asset('fancybox/source/jquery.fancybox.css?v=2.1.5') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('fancybox/source/jquery.fancybox.pack.js?v=2.1.5') }}"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
<script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6') }}"</script>

<link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"</script>
{#<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>#}
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });
        $('.collapse-frame').click(function() {
            $('.iframe-reservation').slideToggle('slow');
        });
    });

    function initialize()
    {
        var latitude = $('.localisation').attr('latitude'),
                longitude = $('.localisation').attr('longitude');
        var infoCom = new google.maps.LatLng(latitude, longitude);
        var mapOptions = {
            center: infoCom,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 17,
            zoomControl: true,
            panControl: true,
            zoomControlOpt: {
                style: 'SMALL',
                position: 'TOP_LEFT'
            },
            styles: [
                {
                    featureType: "all",
                }
            ],
        };
        var map = new google.maps.Map(document.getElementById("carte"), mapOptions);
        var marker = new google.maps.Marker({
            position: infoCom,
            map: map
        });
        // marker.setAnimation(google.maps.Animation.BOUNCE);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, 'resize', initialize);
</script>

{% endblock %}