{# ####### Ajouter le 110814 par Jian ######### #}
{% extends '::base.html.twig' %}

{% block body -%}

{# ======= if user is not connected ======== #}
{% if requireConnection %}
<div>
    Non-consultable
    <br/>
    <a class="btn" href="{{path('fos_user_security_login')}}">Connexion</a>
    <a class="btn" href="{{path('fos_user_registration_register')}}">Inscription</a>
</div>
{% else %}
{# ======= if user is connected ======== #}
Consultable
{% endif %}

{% endblock %}

