{% extends '::base.html.twig' %}

{% block body -%}
<hr>
{% block pub2 %} {{parent()}} {% endblock %}
<hr>
<div class="annonce">
	<div class="row">
		{% for entity in entities %}
		    <div class="col-sm-6">
				<div class="media">
					<a class="pull-left" href="{{ path('location_show', { 'id': entity.id }) }}">
						{% for media in entity.media %}
							{% if loop.first  %}
								<img class="media-object" src="{{ media.src }}" style="width: 222px; height: 222px;">
							{% endif %}
				        {% endfor %}
					</a>
					<div class="media-body">
						<h4 class="media-heading titre-location"> {{entity.titre}} </h4>
						<span class="ref-location"> Ref : {{entity.reference}} </span>
						<p><span class="surface-location"> {{entity.surfaceHabitable}} m² </span>/ <span>{{entity.nombreDePersonne}} personnes </span></p>
						<p>
							{% for start in entity.nombreEtoiles %}
							    * {{start}}
							{% endfor %}
						</p>
					</div>
				</div>
				<hr>
			</div>
		{% endfor %}

	</div>
</div>

{% endblock %}