{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function(){
            $sideMenuUl = $('ul.sidebar-menu');
            $navEmail = $('<li class="treeview"><a href="{{path('admin_send_email')}}"><i class="fa fa-folder"></i><span> Email</span><i class="fa pull-right fa-angle-left"></i></a></li>');
            $navEmail.appendTo($sideMenuUl);
            console.log('do');
        });
        
    </script>
{% endblock %}  