{# construction du mél #}
{% block subject %}
    {% autoescape false %}
    Reçu Email de contact
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}#}
    {% endautoescape %}
{% endblock %}
{% block body_html %}

<html> 
    <body>
        <div>
            <p>Nous avons reçu un Email de contact: </p>
            <br/>
            <div id="div-infos">
                <p>=== Infos récapulatif ===</p>
                <table>
                    <tr>
                        <th>Nom: </th>
                        <td>{{nom}}</td>
                    </tr>
                    <tr>
                        <th>Prénom: </th>
                        <td>{{prenom}}</td>
                    </tr>
                    <tr>
                        <th>Société: </th>
                        <td>{{societe}}</td>
                    </tr>
                    <tr>
                        <th>Téléphone: </th>
                        <td>{{phone}}</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <th>Sujet: </th>
                        <td>{{subject}}</td>
                    </tr>
                    <tr>
                        <th>Message: </th>
                        <td>{{contents|nl2br}}</td>
                    </tr>
                </table>
            </div>
            <br/>
            <div id="div-liens">
                <p>
                    <a href="{{url('admin_send_email', {'to': email})}}">Envoyer un message à ce visiteur</a>
                </p>
            </div>  
        </div>
    </body>
</html>
{% endblock %}

