{# construction du mél #}
{% block subject %}
    {% autoescape false %}
    Louer-En-France
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}#}
    {% endautoescape %}
{% endblock %}
{% block body_html %}

<html> 
    <body>
        <div>
            <p>Madame, Monsieur, </p>
            <br/>
            <p>Merce de contacter Louer En France, nous allons répondre votre demande dans le meilleur délai.</p>
            <div id="div-infos">
                <p>=== Infos récapulatif ===</p>
                <table>
                    <tr>
                        <th>Nom: </th>
                        <td>{{nom}}</td>
                    </tr>
                    <tr>
                        <th>Prénom: </th>
                        <td>{{prenom}}</td>
                    </tr>
                    <tr>
                        <th>Société: </th>
                        <td>{{societe}}</td>
                    </tr>
                    <tr>
                        <th>Téléphone: </th>
                        <td>{{phone}}</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <th>Sujet: </th>
                        <td>{{subject}}</td>
                    </tr>
                    <tr>
                        <th>Message: </th>
                        <td>{{contents|nl2br}}</td>
                    </tr>
                </table>
            </div>
            <br/>
            <br/>
            <br/>
            <div id="div-footer">
                <p style="float: left">Louer-En-France</p> 
            </div>
        </div>
    </body>
</html>
{% endblock %}

