{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-sm-3">
    {% block pub3 %} {{parent()}} {% endblock %}
  </div>

  <div class="col-sm-9">
    {% block pub2 %} {{parent()}} {% endblock %}
    <hr>
    {% for flashMessage in app.session.flashbag.get("success") %}
        <div class="alert alert-dismissable alert-success"> 
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{flashMessage|raw}} 
        </div>
    {% endfor %}
    <h1>Contact</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group row">
        <div class="col-md-6 col-sm-6">
          {{ form_errors(form.nom) }}
          {{ form_label(form.nom, 'Nom : ') }}
          {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Votre Nom'} }) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6 col-sm-6">
          {{ form_errors(form.prenom) }}
          {{ form_label(form.prenom, 'Prénom : ') }}
          {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Votre Prénom'} }) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6 col-sm-6">
          {{ form_errors(form.societe) }}
          {{ form_label(form.societe, 'Société : ') }}
          {{ form_widget(form.societe, { 'attr': {'class': 'form-control', 'placeholder': 'Société'} }) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6 col-sm-6">
          {{ form_errors(form.phone) }}
          {{ form_label(form.phone, 'Numéro tel : ') }}
          {{ form_widget(form.phone, { 'attr': {'class': 'form-control', 'placeholder': 'Téléphone'} }) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6 col-sm-6">
          {{ form_errors(form.email) }}
          {{ form_label(form.email, 'Adresse Email : ') }}
          {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Votre adresse Email'} }) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6 col-sm-6">
          {{ form_errors(form.subject) }}
          {{ form_label(form.subject, 'Object : ') }}
          {{ form_widget(form.subject, { 'attr': {'class': 'form-control', 'placeholder': 'Object'} }) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6 col-sm-6">
          {{ form_errors(form.contents) }}
          {{ form_label(form.contents, 'Message : ') }}
          {{ form_widget(form.contents, { 'attr': {'class': 'form-control', 'placeholder': 'Message'} }) }}
        </div>
    </div>
    <div>
        {{ form_widget(form.submit, { 'attr': {'class': 'btn-primary'} }) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}



  </div>
</div>
{% endblock %}
