{% set is_front = true %}
{% extends '::base.html.twig' %}

{% block body -%}
	<div class="list-annonces">

		{% block pub1 %} {{parent()}} {% endblock %}
		<hr>

		<div class="row annonce">
			{% for entity in entities1 %}
				{% if loop.index == 3 %}
			    	<div class="col-md-6 annonce-content{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}prelast">
				{% elseif loop.last %}
			    	<div class="col-md-6 annonce-content{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}last">
				{% else %}
			    	<div class="col-md-6 annonce-content{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}">
				{% endif %}
			    	<div class="row">
			    		<div class="col-md-5">
							{% if entity.medias_p %}
								{% for media in entity.medias_p %}
									{% if loop.last  %}
									<div class="media">
										<img src="{{ media.src }}">
									</div>
									{% endif %}
						        {% endfor %}
					        {% else %}
						        <div class="media no-media">
									<img src="{{ asset('img/no-photo.min.png') }}">
				    			</div>
					        {% endif %}
			    		</div>
			    		<div class="col-md-7">
							<div class="body">
								<h4 class="heading titre-location"> 
									{% if entity.titre|length < 50  %}
										{{entity.ville}} 
									{% endif %}
									{{entity.titre}} 
								</h4>
								<span class="ref-location"> Ref : {{entity.reference}} </span>
								<div class="row">
									<div class="col-sm-8">
										<span class="sqmpax-location">
											<span class="surface-location"> {{entity.surfaceHabitable}} m² </span>/ <span>{{entity.nombreDePersonne}} personnes </span>
										</span>
										<br>
										<span class="item-loc note-location">
	                                        {% if entity.nombreEtoiles %}
	                                            {% for start in 1..entity.nombreEtoiles %}<i class="fa fa-star"></i> {% endfor %}
	                                            {% set restEtoiles = 5 - entity.nombreEtoiles %}
	                                            {% if restEtoiles > 0 %}{% for start in 1..restEtoiles %}<i class="fa fa-star-o"></i> {% endfor %}{% endif %}
	                                        {% else %}
	                                        <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
	                                        {% endif %}
	                                    </span>
									</div>
									<div class="col-sm-4">
										<button class="btn btn-primary btn-add-compa btn-xs btn-block" id="btn-add-compa-{{entity.id}}" value="{{entity.id}}">Comparer</button>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-7">
										<a href="{{ path('location_show', {'pays':entity.pays?:'pays', 'region':entity.region?:'region', 'ville':entity.ville?:'ville', 'reference':entity.reference }) }}" class="btn btn-warning">Voir fiche</a>
										<button class="btn btn-warning btn-go-wish-list" valref="{{entity.reference}}">------</button>               {# modified le 130814 par Jian #}
									</div>
									<div class="col-sm-5 content-align-right">
										<span class="prix-label">à partir de</span>
										<span class="prix">{% if entity.rentalprice != null %} {{entity.rentalprice}} {% else %} NA {% endif %} <sup class="prix-devise">&euro;</sup></span>
									</div>
								</div>
							</div>
			    		</div>
			    	</div>
			    	<div class="border-bottom"></div>
			    	<div class="hidden div-compa-hidden">
                        <td>{{entity.getPays()}}</td>
                    </div>
				</div>
			{% endfor %}
		</div>

		<hr>

		<!-- Pourquoi nous choisir -->
		{% block whyus %} {{parent()}} 	{% endblock %}
		
		<hr>
		
		{% block pub2 %} {{parent()}} {% endblock %}

		<!-- Offre -->
		{% block offre %} {{parent()}} 	{% endblock %}

		<hr>

		<div class="row annonce">
			{% for entity in entities2 %}
				{% if loop.index == 3 %}
			    	<div class="col-md-6 annonce-content{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}prelast">
				{% elseif loop.last %}
			    	<div class="col-md-6 annonce-content{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}last">
				{% else %}
			    	<div class="col-md-6 annonce-content{% if loop.index % 2 == 0 %} even {% else %} odd {% endif %}">
				{% endif %}
			    	<div class="row">
			    		<div class="col-md-5">
							{% if entity.medias_p %}
								{% for media in entity.medias_p %}
									{% if loop.last  %}
									<div class="media">
										<img src="{{ media.src }}">
									</div>
									{% endif %}
						        {% endfor %}
					        {% else %}
						        <div class="media no-media">
									<img src="{{ asset('img/no-photo.min.png') }}">
				    			</div>
					        {% endif %}
			    		</div>
			    		<div class="col-md-7">
							<div class="body">
								<h4 class="heading titre-location"> 
									{% if entity.titre != null %}
										{{ entity.titre|length > 30 ? entity.titre|slice(0, 30) ~ '_' : entity.titre  }}
									{% elseif entity.ville != null %}
										{{entity.ville}}
									{% elseif entity.types != null %}
										{% for types in entity.types %}
										    {{ types.titre }}
										{% endfor %}
									{% endif %}
								</h4>
								<span class="ref-location"> Ref : {{entity.reference}} </span>
								<div class="row">
									<div class="col-sm-8">
										<span class="sqmpax-location">
											<span class="surface-location"> {{entity.surfaceHabitable}} m² </span>/ <span>{{entity.nombreDePersonne}} personnes </span>
										</span>
										<br>
										<span class="item-loc note-location">
	                                        {% if entity.nombreEtoiles %}
	                                            {% for start in 1..entity.nombreEtoiles %}<i class="fa fa-star"></i> {% endfor %}
	                                            {% set restEtoiles = 5 - entity.nombreEtoiles %}
	                                            {% if restEtoiles > 0 %}{% for start in 1..restEtoiles %}<i class="fa fa-star-o"></i> {% endfor %}{% endif %}
	                                        {% else %}
	                                        <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
	                                        {% endif %}
	                                    </span>
									</div>
									<div class="col-sm-4">
										<button class="btn btn-primary btn-add-compa btn-xs btn-block" id="btn-add-compa-{{entity.id}}" value="{{entity.id}}">Comparer</button>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-7">
										<a href="{{ path('location_show', {'pays':entity.pays?:'pays', 'region':entity.region?:'region', 'ville':entity.ville?:'ville', 'reference':entity.reference }) }}" class="btn btn-warning">Voir fiche</a>
										<button class="btn btn-warning btn-go-wish-list" valref="{{entity.reference}}">------</button>              {# modified le 130814 par Jian #}
									</div>
									<div class="col-sm-5 content-align-right">
										<span class="prix-label">à partir de</span>
										<span class="prix">{% if entity.rentalprice != null %} {{entity.rentalprice}} {% else %} NA {% endif %} <sup class="prix-devise">&euro;</sup></span>
									</div>
								</div>
							</div>
			    		</div>
			    	</div>
			    	<div class="border-bottom"></div>
			    	<div class="hidden div-compa-hidden">
                        <td>{{entity.getPays()}}</td>
                    </div>
				</div>
			{% endfor %}
		</div>

		<hr>
		<a href="{{ path('locations') }}" class="btn btn-link btn-block" style="text-align:right">Découvrir toutes nos location</a>
	</div>

	<div class="footer alert alert-info">
	    <hr/>
	    <div id="div-panier-comparaison">
	        <p id="p-nbr-item-compa-authorise" class="hidden" value="{{ nbrItemCompa }}"></p>
	        
	        <div id="div-location-comparator">
	            Panier de comparaison, {{ nbrItemCompa }} annonces maximum. 
	            <div id="div-thumbnail-compa" class="row"></div>
	            <br/>
	            <button id="btn-clear-item-compa" class="btn btn-default" >Vider</button>
	            <button id="btn-comparer-item-compa" class="btn btn-primary" data-toggle="modal" data-target="#dialog-panier-compa">Comparer</button>
	        </div>
	        
	    </div>
	</div>

	{#modal comparaison#}
	<div id="dialog-panier-compa" class="modal fade" 
	     tabindex="-1" role="dialog" aria-labelledby="modalPanierCompa" aria-hidden="true">
	    
	    <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	            <h4 class="modal-title" id="myModalLabel">Panier de comparaison</h4>
	          </div>
	           <div id="div-modal-body" class="modal-body">
	           	<table class="table"></table>
	           </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          </div>
	        </div>
	    </div>
	  
	</div>
                </div>
        </div>
{% endblock %}

{#inclure js#}
{% block javascripts %}
	{{parent()}}
	<script src="{{ asset('js/default-compa_v3.min.js') }}"></script>
        <script src="{{ asset('js/jquery.cookie.min.js') }}"></script>
{% endblock %}

