{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "profile.menu.location.edit" | trans({}, 'LefBoBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    <div class="panel panel-info">

        <div class="panel-heading">
            <h2 class="panel-title">Editer votre annonce</h2>
        </div>
        <input type="hidden" id="idLocation" value="{{id}}"/>
        <div class="panel-body">

            {{ form_start(edit_form, {'attr':{'class':'form-horizontal', 'role': 'form'}}) }}
            {{ form_errors(edit_form) }}

            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(edit_form.titre) }}
                    {{ form_widget(edit_form.titre, { 'attr': {'class': 'form-control', 'placeholder': 'Titre', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
            <hr/>

            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(edit_form.adresse) }}
                    {{ form_widget(edit_form.adresse, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 col-sm-2">
                    {{ form_errors(edit_form.ZipPostalCode) }}
                    {{ form_widget(edit_form.ZipPostalCode, { 'attr': {'class': 'form-control', 'placeholder': 'CP', 'required': true} }) }}
                </div>
                <div class="col-md-4 col-sm-4">
                    {{ form_errors(edit_form.departement) }}
                    {{ form_widget(edit_form.departement, { 'attr': {'class': 'form-control', 'placeholder': 'Département', 'required': true} }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(edit_form.ville) }}
                    {{ form_widget(edit_form.ville, { 'attr': {'class': 'form-control', 'placeholder': 'Ville', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(edit_form.region) }}
                    {{ form_widget(edit_form.region, { 'attr': {'class': 'form-control', 'placeholder': 'Region', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(edit_form.pays) }}
                    {{ form_widget(edit_form.pays, { 'attr': {'class': 'form-control', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
            <hr/>

            <h4>Disponibilitées</h4>
            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    <div class='col-md-6 col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepickerDebut'>
                                {{ form_errors(edit_form.dateDispoDebut) }}
                                {{ form_widget(edit_form.dateDispoDebut, { 'attr': {'class': 'form-control datepicker','placeholder': 'Date de debut de disponibilitée', 'required': true} }) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepickerFin'>
                                {{ form_errors(edit_form.dateDispoFin) }}
                                {{ form_widget(edit_form.dateDispoFin, { 'attr': {'class': 'form-control datepicker','placeholder': 'Date de fin de disponibilitée', 'required': true} }) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Modifier votre calendrier
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Mise à jour du calendrier</h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-group row">
                                    <div class='col-md-5' id="datePlanning">
                                        <input type="hidden" id="inputPlanning"/>
                                    </div>
                                    <select class="form-control col-md-2" id="statutPlanning">
                                        <option value="0">Indisponible</option>
                                        <option value="1">Disponible</option>
                                        <option value="2">Occupé</option>
                                    </select>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" id="savePlanning">Save changes</button>
                                </div>

                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
                <hr/>
                <h4>Prix</h4>
                <div class="form-group row">
                    <div class="col-md-8 col-sm-8">
                        <div class='col-md-6 col-sm-6'>
                            <div class="form-group">
                                <div class='input-group'>
                                    {{ form_errors(edit_form.rentalprice) }}
                                    {{ form_widget(edit_form.rentalprice, { 'attr': {'class': 'form-control', 'placeholder': 'Prix (à partir de)' } }) }}
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <h4>Tranches de prix</h4>
                <div id="tpinit" class="form-group row">
                    {% for tp in edit_form.tranchePrix %}
                        <div class="form-group row">
                            <div class="col-md-6 col-sm-6">
                                <div class='col-md-6 col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepickerDebut'>
                                            {{ form_errors(tp.dateDebut) }}
                                            {{ form_widget(tp.dateDebut, { 'attr': {'class': 'form-control datepicker','placeholder': 'tarifs applicable à partir du ', 'required': true} }) }}
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-6 col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepickerFin'>
                                            {{ form_errors(tp.dateFin) }}
                                            {{ form_widget(tp.dateFin, { 'attr': {'class': 'form-control datepicker','placeholder': 'tarifs applicable jusqu au', 'required': true} }) }}
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8 col-sm-8">
                                <div>

                                    {{ form_errors(tp.titre) }}
                                    {{ form_widget(tp.titre, { 'attr': {'id':'titreTranchPrix','class': 'form-control', 'placeholder': 'titre' } }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8 col-sm-8">
                                <div class='col-md-6 col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            {{ form_errors(tp.day) }}
                                            {{ form_widget(tp.day, { 'attr': {'id':'priceOneDay','class': 'form-control', 'placeholder': 'prix pour une nuit' } }) }}
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-6 col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            {{ form_errors(tp.weekend) }}
                                            {{ form_widget(tp.weekend, { 'attr': {'id':'priceWeekEnd','class': 'form-control', 'placeholder': 'prix pour un week end' } }) }}
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-6 col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            {{ form_errors(tp.week) }}
                                            {{ form_widget(tp.week, { 'attr': {'id':'priceOneWeek','class': 'form-control', 'placeholder': 'prix pour une semaine' } }) }}
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-6 col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            {{ form_errors(tp.weeks2) }}
                                            {{ form_widget(tp.weeks2, { 'attr': {'id':'priceTwoWeek','class': 'form-control', 'placeholder': 'prix pour deux semaines' } }) }}
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-6 col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            {{ form_errors(tp.weeks3) }}
                                            {{ form_widget(tp.weeks3, { 'attr': {'id':'priceThreeWeek','class': 'form-control', 'placeholder': 'prix pour trois semaines' } }) }}
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-6 col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            {{ form_errors(tp.month) }}
                                            {{ form_widget(tp.month , { 'attr': {'id':'priceMonth','class': 'form-control', 'placeholder': 'prix pour un mois' } }) }}
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalTarif">
                    Ajouter des periodes tarifaires
                </button>
                <div class="modal fade" id="modalTarif" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Mise à jour des periodes tarifaires</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="titreTranche" class="form-control col-md-6" placeholder="Nommer votre période (vacances de Noël)"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class='col-md-6' id="dateBeginPeriod">
                                        <input type="hidden" id="dateBegin"/>
                                    </div>
                                    <div class='col-md-6' id="dateFinishPeriod">
                                        <input type="hidden" id="dateFinish"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-10 col-sm-10">
                                        <div class='col-md-6 col-sm-6'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <input type="text" id="priceOneDay" class="form-control " placeholder="prix pour une nuit"/>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-6 col-sm-6'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <input type="text" id="priceWeekEnd" class="form-control " placeholder="prix pour un week end"/>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-6 col-sm-6'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <input type="text" id="priceOneWeek" class="form-control" placeholder="prix pour une semaine"/>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-6 col-sm-6'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <input type="text" id="priceTwoWeek" class="form-control" placeholder="prix pour deux semaines"/>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-6 col-sm-6'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <input type="text" id="priceThreeWeek" class="form-control" placeholder="prix pour trois semaine"/>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-6 col-sm-6'>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <input type="text" id="priceMonth" class="form-control" placeholder="prix pour un mois"/> 
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" id="saveCalendar">Save changes</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
                {#                </div>#}


                <hr/>
                <h4>Géolocalisation</h4>
                <div class="form-group row">
                    <div class="col-md-3 col-sm-3">
                        {{ form_errors(edit_form.longitude) }}
                        {{ form_widget(edit_form.longitude, { 'attr': {'class': 'form-control', 'placeholder': 'Longitude', 'required': true} }) }}
                    </div>
                    <div class="col-md-3 col-sm-3">
                        {{ form_errors(edit_form.latitude) }}
                        {{ form_widget(edit_form.latitude, { 'attr': {'class': 'form-control', 'placeholder': 'Latitude', 'required': true} }) }}
                    </div>
                </div>
                <hr/>

                <div class="form-group row">
                    <div class="col-md-3 col-sm-3">
                        {{ form_errors(edit_form.nombreDePersonne) }}
                        {{ form_widget(edit_form.nombreDePersonne, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre de personne', 'required': true} }) }}
                    </div>
                    <div class="col-md-3 col-sm-3">
                        {{ form_errors(edit_form.nombreEtoiles) }}
                        {{ form_widget(edit_form.nombreEtoiles, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre étoiles', 'required': true} }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-sm-3"> {{ form_label(edit_form.surfaceHabitable) }}</div>
                    <div class="col-md-3 col-sm-3 input-group">
                        {{ form_errors(edit_form.surfaceHabitable) }}
                        {{ form_widget(edit_form.surfaceHabitable, { 'attr': {'class': 'form-control', 'placeholder': 'Surface habitable', 'required': true} }) }}
                        <span class="input-group-addon">m<sup>2</sup></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-sm-3">
                        {{ form_errors(edit_form.nombrePiece) }}
                        {{ form_label(edit_form.nombrePiece) }}
                        {{ form_widget(edit_form.nombrePiece, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre piece', 'required': true} }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-sm-3">
                        {{ form_errors(edit_form.nombreSalleDeBain) }}
                        {{ form_label(edit_form.nombreSalleDeBain) }}
                        {{ form_widget(edit_form.nombreSalleDeBain, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre SDB', 'required': true} }) }}
                    </div>
                    <div class="col-md-3 col-sm-3">
                        {{ form_errors(edit_form.nombreChambre) }}
                        {{ form_label(edit_form.nombreChambre) }}
                        {{ form_widget(edit_form.nombreChambre, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre chambre', 'required': true} }) }}
                    </div>
                </div>
                <hr/>

                {# == embedded forms == #}
                <h4>Télécharger vos images</h4>
                <ul class="media" data-prototype="{{ form_widget(edit_form.medias.vars.prototype)|e}}" >
                    {% for media in edit_form.medias %}
                        <li>
                            <div class="form-group row">
                                {# determin required #}
                                <div class="col-md-3 col-sm-3">
                                    {{ form_errors(media.file) }}
                                    {{ form_widget(media.file, { 'attr': {'class': 'form-control', 'placeholder': 'Choisissez image' } }) }}
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    {{ form_errors(media.titre) }}
                                    {{ form_widget(media.titre, { 'attr': {'class': 'form-control', 'placeholder': 'titre image' } }) }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <hr/>

                <div class="form-group row">
                    <div class="col-md-6 col-sm-6">
                        {% if entity.annonceur.creditPromo > 0%}
                            {{ form_label(edit_form.adm, 'Passer en dernière minute (Vous disposez ' ~ entity.annonceur.creditPromo ~ ' credit(s) ADM)', {'label_attr': {'class': ''}}) }}
                            {{ form_errors(edit_form.adm, {'attr':{'class': 'error'} }) }}
                            {{ form_widget(edit_form.adm, { 'attr': {'class': 'form-control', 'id':'loc-edit-adm'} }) }}
                        {% else %}
                            <P>Vous disposez aucun crédit ADM, veuillez penser à les commander. <a href="{{path('credit')}}">Commander</a></P>
                            {% endif %}
                    </div>
                </div>
                <hr/>

                {#   <h4>Tranches prix</h4>
                   <div class="form-group">
                       <div class="col-md-3 col-sm-3 input-group">
           {#                          {{ form_label(edit_form.tranchePrix.day, 'jour', {'label_attr': {'class': 'control-label'}} ) }}
                                     {{ form_errors(edit_form.day) }}
                                     {{ form_widget(edit_form.day, { 'attr': {'class': 'form-control', 'placeholder': 'jour' } }) }}
                           <div class="input-group-addon">€</div>
                      </div>
                       <div class="col-md-3 col-sm-3 input-group">
                                     {{ form_errors(edit_form.weekend) }}
                                     {{ form_widget(edit_form.weekend, { 'attr': {'class': 'form-control', 'placeholder': 'weed-end' } }) }}
                           <div class="input-group-addon">€</div>
                      </div>
                   </div>
                   <div class="form-group row">
                       <div class="col-md-3 col-sm-3 input-group">
                                     {{ form_errors(edit_form.week) }}
                                     {{ form_widget(edit_form.week, { 'attr': {'class': 'form-control', 'placeholder': 'semaine' } }) }}
                           <div class="input-group-addon">€</div>
                      </div>
                       <div class="col-md-3 col-sm-3 input-group">
                                     {{ form_errors(edit_form.weeks2) }}
                                     {{ form_widget(edit_form.weeks2, { 'attr': {'class': 'form-control', 'placeholder': '2 semaines' } }) }}
                           <div class="input-group-addon">€</div>
                      </div>
                       <div class="col-md-3 col-sm-3 input-group">
                                     {{ form_errors(edit_form.weeks3) }}
                                     {{ form_widget(edit_form.weeks3, { 'attr': {'class': 'form-control', 'placeholder': '3 semaines' } }) }}
                           <div class="input-group-addon">€</div>
                      </div>
                       <div class="col-md-3 col-sm-3 input-group">
                                     {{ form_errors(edit_form.weeks4) }}
                                     {{ form_widget(edit_form.weeks4, { 'attr': {'class': 'form-control', 'placeholder': '4 semaines' } }) }}
                           <div class="input-group-addon">€</div>
                      </div>
                   </div>
                   <div class="form-group row">
                       <div class="col-md-3 col-sm-3 input-group">
                                     {{ form_errors(edit_form.month) }}
                                     {{ form_widget(edit_form.month, { 'attr': {'class': 'form-control', 'placeholder': 'mois' } }) }}
                           <div class="input-group-addon">€</div>
                       </div>
                   </div>
                   <hr/>#}

                <h4>Types</h4>
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        {{ form_errors(edit_form.types) }}
                        {{ form_widget(edit_form.types, { 'attr': {'class': 'form-control chosen-select', 'placeholder': '', 'required': true} }) }}               {# Modified le 150814 par Jian #}
                    </div>
                </div>
                <hr/>

                <h4>Distances</h4>
                <div class="form-group row">
                    <div class="col-md-3 col-sm-3 input-group">
                        {{ form_errors(edit_form.distanceMer) }}
                        {{ form_widget(edit_form.distanceMer, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Mer', 'required': true} }) }}
                        <div class="input-group-addon">Km</div>
                    </div>
                    <div class="col-md-3 col-sm-3 input-group">
                        {{ form_errors(edit_form.distanceLac) }}
                        {{ form_widget(edit_form.distanceLac, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Lac', 'required': true} }) }}
                        <div class="input-group-addon">Km</div>
                    </div>
                    <div class="col-md-3 col-sm-3 input-group">
                        {{ form_errors(edit_form.distanceRemontees) }}
                        {{ form_widget(edit_form.distanceRemontees, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Remontées', 'required': true} }) }}
                        <div class="input-group-addon">Km</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-sm-3 input-group">
                        {{ form_errors(edit_form.distanceCentreVille) }}
                        {{ form_widget(edit_form.distanceCentreVille, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Centre ville', 'required': true} }) }}
                        <div class="input-group-addon">Km</div>
                    </div>
                    <div class="col-md-3 col-sm-3 input-group">
                        {{ form_errors(edit_form.distanceShopping) }}
                        {{ form_widget(edit_form.distanceShopping, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Shopping', 'required': true} }) }}
                        <div class="input-group-addon">Km</div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        {{ form_errors(edit_form.distanceOther) }}
                        {{ form_widget(edit_form.distanceOther, { 'attr': {'class': 'form-control', 'placeholder': 'Distance autres', 'required': true} }) }}
                    </div>
                </div>
                <hr/>

                {# Added le 150814 par Jian #}
                <h4>Bien Etre</h4>
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        {{ form_errors(edit_form.bienEtres) }}
                        {{ form_widget(edit_form.bienEtres, { 'attr': {'class': '', 'placeholder': 'Sélectionner des options', 'required': true} }) }}               {# Added le 150814 par Jian #}
                    </div>
                </div>
                <br/>
                <h4>Equipement</h4>
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        {{ form_errors(edit_form.equipements) }}
                        {{ form_widget(edit_form.equipements, { 'attr': {'class': '', 'placeholder': '', 'required': true} }) }}               {# Added le 150814 par Jian #}
                    </div>
                </div>
                <br/>
                <h4>Localisation</h4>
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        {{ form_errors(edit_form.localisations) }}
                        {{ form_widget(edit_form.localisations, { 'attr': {'class': 'form-control chosen-select', 'placeholder': '', 'required': true} }) }}               {# Added le 150814 par Jian #}
                    </div>
                </div>
                <br/>
                <h4>Option enfant</h4>
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        {{ form_errors(edit_form.optionEnfants) }}
                        {{ form_widget(edit_form.optionEnfants, { 'attr': {'class': '', 'placeholder': '', 'required': true} }) }}               {# Added le 150814 par Jian #}
                    </div>
                </div>
                <br/>
                <h4>Option handicapée</h4>
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        {{ form_errors(edit_form.optionHandicapees) }}
                        {{ form_widget(edit_form.optionHandicapees, { 'attr': {'class': '', 'placeholder': '', 'required': true} }) }}               {# Added le 150814 par Jian #}
                    </div>
                </div>
                <br/>
                <h4>Saison</h4>
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        {{ form_errors(edit_form.saisons) }}
                        {{ form_widget(edit_form.saisons, { 'attr': {'class': 'form-control chosen-select', 'placeholder': '', 'required': true} }) }}               {# Added le 150814 par Jian #}
                    </div>
                </div>
                <br/>
                <h4>Thème</h4>
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        {{ form_errors(edit_form.themes) }}
                        {{ form_widget(edit_form.themes, { 'attr': {'class': 'form-control chosen-select', 'placeholder': '', 'required': true} }) }}               {# Added le 150814 par Jian #}
                    </div>
                </div>
                <br/>
                {% do edit_form.tranchePrix.setRendered %}
                {{ form_rest(edit_form) }}
                {{ form_end(edit_form) }}
            </div>
        </div>

        <ul class="record_actions">
            <li>
                <a href="{{ path('location_annonceur') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}
        <script src="{{ asset('bundles/lefdata/js/location_planning.js') }}"></script>
        <script src="{{ asset('bundles/lefdata/js/location_media.js') }}"></script>
        <script src="{{ asset('bundles/lefdata/js/location.js') }}"></script>


    {% endblock %}

