
{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "profile.menu.location.main" | trans({}, 'LefBoBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    {% set droitAnnonce =  app.user.getNbrAnnonce%}
    {% if droitAnnonce != 0 %}
        <p>Vous pouvez passer encore {{droitAnnonce}} annonce(s).</p>
    {% else %}
        <p>Vous ne pouvez plus passer une annonce.</p>
    {% endif %}

    <h1>Location list</h1>

    <table class="records_list table table-responsive table-striped">
        <thead class="btn-primary">
            <tr>
                <th>Reference</th>
                <th>Titre</th>
                    {#<th>Adresse</th>
                    <th>Pays</th>
                    <th>Region</th>
                    <th>Departement</th>
                    <th>Ville</th>
                    <th>Longitude</th>
                    <th>Zippostalcode</th>
                    <th>Latitude</th>
                    <th>Nombredepersonne</th>
                    <th>Nombreetoiles</th>
                    <th>Surfacehabitable</th>
                    <th>Nombrepiece</th>
                    <th>Nombresalledebain</th>
                    <th>Nombrechambre</th>
                    <th>Animauxdomestiques</th>
                    <th>Piscine</th>
                    <th>Descriptionbreve</th>
                    <th>Descriptiondetaillee</th>
                    <th>Caracteristiques</th>
                    <th>Amenagement</th>
                    <th>Sejouraveccouchage</th>
                    <th>Coinrepas</th>
                    <th>Cuisine</th>
                    <th>Sanitaire</th>
                    <th>Distanceother</th>
                    <th>Distancemer</th>
                    <th>Distancelac</th>
                    <th>Distanceremontees</th>
                    <th>Distancecentreville</th>
                    <th>Distanceshopping</th>#}
                <th>Créée le</th>
                <th>Mise à jour le</th>
                <th>Expire le</th>
                <th>Etat</th>
                <th>ADM</th>

                <th>Distanceshopping</th>
                <th>Nbr consultation toatl</th>
                <th>Nbr consultation dans 30 jours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for key, entity in entities %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ entity.reference }}</td>
                    <td>{{ entity.titre }}</td>
                    {#<td>{{ entity.adresse }}</td>
    
                    <td>{{ entity.pays }}</td>
                    <td>{{ entity.region }}</td>
                    <td>{{ entity.departement }}</td>
                    <td>{{ entity.ville }}</td>
                    <td>{{ entity.longitude }}</td>
                    <td>{{ entity.ZipPostalCode }}</td>
                    <td>{{ entity.latitude }}</td>
                    <td>{{ entity.nombreDePersonne }}</td>
                    <td>{{ entity.nombreEtoiles }}</td>
                    <td>{{ entity.surfaceHabitable }}</td>
                    <td>{{ entity.nombrePiece }}</td>
                    <td>{{ entity.nombreSalleDeBain }}</td>
                    <td>{{ entity.nombreChambre }}</td>
                    <td>{{ entity.animauxDomestiques }}</td>
                    <td>{{ entity.piscine }}</td>
                    <td>{{ entity.descriptionBreve }}</td>
                    <td>{{ entity.descriptionDetaillee }}</td>
                    <td>{{ entity.caracteristiques }}</td>
                    <td>{{ entity.amenagement }}</td>
                    <td>{{ entity.sejourAvecCouchage }}</td>
                    <td>{{ entity.coinRepas }}</td>
                    <td>{{ entity.cuisine }}</td>
                    <td>{{ entity.sanitaire }}</td>
                    <td>{{ entity.distanceOther }}</td>
                    <td>{{ entity.distanceMer }}</td>
                    <td>{{ entity.distanceLac }}</td>
                    <td>{{ entity.distanceRemontees }}</td>
                    <td>{{ entity.distanceCentreVille }}</td>
                    <td>{{ entity.distanceShopping }}</td>#}
                    <td>{{ entity.creationDate |date('d/m/Y')}}</td>
                    <td>
                        {% if entity.modificationDate %}
                            {{ entity.modificationDate |date('d/m/Y')}}
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.modificationDate %}
                            {{ entity.modificationDate |date_modify("+120 day") |date('d/m/Y') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.locked %}
                            Suspendue.
                        {% else %}
                            En ligne.
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.adm %}
                            Oui.
                        {% else %}
                            Aucune ADM.
                        {% endif %}
                    </td>
                    <td></td>
                    <td>{{entity.nbrVusAll}}</td>
                    <td>{{entity.nbrVus30j}}</td>
                    <td>
                        <button  class="btn-success"><a style="color: white;" href="{{ path('location_show_annonceur', { 'id': entity.id }) }}">voir</a></button>  
                        <button class="btn-warning">
                            <a style="color: white;" href="{{ path('location_edit', { 'id': entity.id }) }}">éditer</a>
                        </button>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {# display navigation #} 
    <div class="navigation">
        {{ knp_pagination_render(entities) }} 
    </div>

    <ul>
        <li>
            <a href="{{ path('location_new') }}">
                Ajouter une annonces
            </a>
        </li>
    </ul>
{% endblock %}
