
{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "profile.menu.location.new" | trans({}, 'LefBoBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    <div class="panel panel-info">

        <div class="panel-heading">
            <h2 class="panel-title">Publiez votre annonce</h2>
        </div>
        <div class="panel-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(form.titre) }}
                    {{ form_widget(form.titre, { 'attr': {'class': 'form-control', 'placeholder': 'Titre', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
            <hr/>
            <h4>Disponibilitées</h4>
            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    <div class='col-md-6 col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepickerDebut'>
                                {{ form_errors(form.dateDispoDebut) }}
                                {{ form_widget(form.dateDispoDebut, { 'attr': {'class': 'form-control datepicker','placeholder': 'Date de debut de disponibilitée', 'required': true} }) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepickerFin'>
                                {{ form_errors(form.dateDispoFin) }}
                                {{ form_widget(form.dateDispoFin, { 'attr': {'class': 'form-control datepicker','placeholder': 'Date de fin de disponibilitée', 'required': true} }) }}
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <hr/>
            <h4>Prix</h4>
            <div class="form-group row">
                <div class="col-md-8 col-sm-8">
                    <div class='col-md-6 col-sm-6'>
                        <div class="form-group">
                            <div class='input-group'>
                                {{ form_errors(form.rentalprice) }}
                                {{ form_widget(form.rentalprice, { 'attr': {'class': 'form-control', 'placeholder': 'Prix (à partir de)' } }) }}
                                <div class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <h4>Tranches de prix</h4>
            {% for tp in form.tranchePrix %}
                <div class="form-group row">
                    <div class="col-md-8 col-sm-8">
                        <div class='col-md-6 col-sm-6'>
                            <div class="form-group">
                                <div class='input-group'>
                                    {{ form_errors(tp.day) }}
                                    {{ form_widget(tp.day, { 'attr': {'id':'priceOneDay','class': 'form-control', 'placeholder': 'prix pour une nuit' } }) }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-6'>
                            <div class="form-group">
                                <div class='input-group'>
                                    {{ form_errors(tp.weekend) }}
                                    {{ form_widget(tp.weekend, { 'attr': {'id':'priceWeekEnd','class': 'form-control', 'placeholder': 'prix pour un week end' } }) }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-6'>
                            <div class="form-group">
                                <div class='input-group'>
                                    {{ form_errors(tp.week) }}
                                    {{ form_widget(tp.week, { 'attr': {'id':'priceOneWeek','class': 'form-control', 'placeholder': 'prix pour une semaine' } }) }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-6'>
                            <div class="form-group">
                                <div class='input-group'>
                                    {{ form_errors(tp.weeks2) }}
                                    {{ form_widget(tp.weeks2, { 'attr': {'id':'priceTwoWeek','class': 'form-control', 'placeholder': 'prix pour deux semaines' } }) }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-6'>
                            <div class="form-group">
                                <div class='input-group'>
                                    {{ form_errors(tp.weeks3) }}
                                    {{ form_widget(tp.weeks3, { 'attr': {'id':'priceThreeWeek','class': 'form-control', 'placeholder': 'prix pour trois semaines' } }) }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-6'>
                            <div class="form-group">
                                <div class='input-group'>
                                    {{ form_errors(tp.month) }}
                                    {{ form_widget(tp.month , { 'attr': {'id':'priceMonth','class': 'form-control', 'placeholder': 'prix pour un mois' } }) }}
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr/>
            <h4>Adresse</h4>
            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(form.adresse) }}
                    {{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
            <div class="form-group row">
                <div class="col-md-2 col-sm-2">
                    {{ form_errors(form.ZipPostalCode) }}
                    {{ form_widget(form.ZipPostalCode, { 'attr': {'class': 'form-control', 'placeholder': 'CP', 'required': true} }) }}
                </div>
                <div class="col-md-4 col-sm-4">
                    {{ form_errors(form.departement) }}
                    {{ form_widget(form.departement, { 'attr': {'class': 'form-control', 'placeholder': 'Département', 'required': true} }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(form.ville) }}
                    {{ form_widget(form.ville, { 'attr': {'class': 'form-control', 'placeholder': 'Ville', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(form.region) }}
                    {{ form_widget(form.region, { 'attr': {'class': 'form-control', 'placeholder': 'Region', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>

            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    {{ form_errors(form.pays) }}
                    {{ form_widget(form.pays, { 'attr': {'class': 'form-control', 'required': true} }) }}
                </div>
                <div class="col-md-6 col-sm-6"></div>
            </div>
            <hr/>


            <h4>Géolocalisation</h4>
            <div class="form-group row">
                <div class="col-md-3 col-sm-3">
                    {{ form_errors(form.longitude) }}
                    {{ form_widget(form.longitude, { 'attr': {'class': 'form-control', 'placeholder': 'Longitude', 'required': true} }) }}
                </div>
                <div class="col-md-3 col-sm-3">
                    {{ form_errors(form.latitude) }}
                    {{ form_widget(form.latitude, { 'attr': {'class': 'form-control', 'placeholder': 'Latitude', 'required': true} }) }}
                </div>
            </div>
            <hr/>

            <div class="form-group row">
                <div class="col-md-3 col-sm-3">
                    {{ form_errors(form.nombreDePersonne) }}
                    {{ form_widget(form.nombreDePersonne, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre de personne', 'required': true} }) }}
                </div>
                <div class="col-md-3 col-sm-3">
                    {{ form_errors(form.nombreEtoiles) }}
                    {{ form_widget(form.nombreEtoiles, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre étoiles', 'required': true} }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3 col-sm-3 input-group">
                    {{ form_errors(form.surfaceHabitable) }}
                    {{ form_widget(form.surfaceHabitable, { 'attr': {'class': 'form-control', 'placeholder': 'Surface habitable', 'required': true} }) }}
                    <div class="input-group-addon">m<sup>2</sup></div>
                </div>
                <div class="col-md-3 col-sm-3">
                    {{ form_errors(form.nombrePiece) }}
                    {{ form_widget(form.nombrePiece, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre piece', 'required': true} }) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3 col-sm-3">
                    {{ form_errors(form.nombreSalleDeBain) }}
                    {{ form_widget(form.nombreSalleDeBain, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre SDB', 'required': true} }) }}
                </div>
                <div class="col-md-3 col-sm-3">
                    {{ form_errors(form.nombreChambre) }}
                    {{ form_widget(form.nombreChambre, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre chambre', 'required': true} }) }}
                </div>
            </div>
            <hr/>

            {# == embedded forms == #}
            <h4>Télécharger vos images</h4>
            <ul class="media" data-prototype="{{ form_widget(form.medias.vars.prototype)|e}}" >
                {% for media in form.medias %}
                    <li>
                        <div class="form-group row">
                            <div class="col-md-3 col-sm-3">
                                {{ form_errors(media.file) }}
                                {{ form_widget(media.file, { 'attr': {'class': 'form-control', 'placeholder': 'Choisissez image', 'required': true} }) }}
                            </div>
                            <div class="col-md-3 col-sm-3">
                                {{ form_errors(media.titre) }}
                                {{ form_widget(media.titre, { 'attr': {'class': 'form-control', 'placeholder': 'titre image'} }) }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <hr/>

            {#<h4>Tranches prix</h4>
            <div class="form-group row">
                <div class="col-md-3 col-sm-3 input-group">
                              {{ form_errors(form.tranchePrix.day) }}
                              {{ form_widget(form.tranchePrix.day, { 'attr': {'class': 'form-control', 'placeholder': 'jour' } }) }}
                    <div class="input-group-addon">€</div>
               </div>
                <div class="col-md-3 col-sm-3 input-group">
                              {{ form_errors(form.tranchePrix.weekend) }}
                              {{ form_widget(form.tranchePrix.weekend, { 'attr': {'class': 'form-control', 'placeholder': 'weed-end' } }) }}
                    <div class="input-group-addon">€</div>
               </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3 col-sm-3 input-group">
                              {{ form_errors(form.tranchePrix.week) }}
                              {{ form_widget(form.tranchePrix.week, { 'attr': {'class': 'form-control', 'placeholder': 'semaine' } }) }}
                    <div class="input-group-addon">€</div>
               </div>
                <div class="col-md-3 col-sm-3 input-group">
                              {{ form_errors(form.tranchePrix.weeks2) }}
                              {{ form_widget(form.tranchePrix.weeks2, { 'attr': {'class': 'form-control', 'placeholder': '2 semaines' } }) }}
                    <div class="input-group-addon">€</div>
               </div>
                <div class="col-md-3 col-sm-3 input-group">
                              {{ form_errors(form.tranchePrix.weeks3) }}
                              {{ form_widget(form.tranchePrix.weeks3, { 'attr': {'class': 'form-control', 'placeholder': '3 semaines' } }) }}
                    <div class="input-group-addon">€</div>
               </div>
                <div class="col-md-3 col-sm-3 input-group">
                              {{ form_errors(form.tranchePrix.weeks4) }}
                              {{ form_widget(form.tranchePrix.weeks4, { 'attr': {'class': 'form-control', 'placeholder': '4 semaines' } }) }}
                    <div class="input-group-addon">€</div>
               </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3 col-sm-3 input-group">
                              {{ form_errors(form.tranchePrix.month) }}
                              {{ form_widget(form.tranchePrix.month, { 'attr': {'class': 'form-control', 'placeholder': 'mois' } }) }}
                    <div class="input-group-addon">€</div>
                </div>
            </div>
            <hr/>
            #}
            <h4>Types</h4>
            <div class="form-group row">
                <div class="col-md-5 col-sm-5">
                    {{ form_errors(form.types) }}
                    {{ form_widget(form.types, { 'attr': {'class': 'form-control chosen-select', 'placeholder': '', 'required': true} }) }}               {# Modified le 150814 par Jian #}
                </div>
            </div>
            <hr/>

            <h4>Distances</h4>
            <div class="form-group row">
                <div class="col-md-3 col-sm-3 input-group">
                    {{ form_errors(form.distanceMer) }}
                    {{ form_widget(form.distanceMer, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Mer', 'required': true} }) }}
                    <div class="input-group-addon">Km</div>
                </div>
                <div class="col-md-3 col-sm-3 input-group">
                    {{ form_errors(form.distanceLac) }}
                    {{ form_widget(form.distanceLac, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Lac', 'required': true} }) }}
                    <div class="input-group-addon">Km</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3 col-sm-3 input-group">
                    {{ form_errors(form.distanceRemontees) }}
                    {{ form_widget(form.distanceRemontees, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Remontées', 'required': true} }) }}
                    <div class="input-group-addon">M</div>
                </div>
                <div class="col-md-3 col-sm-3 input-group">
                    {{ form_errors(form.distanceCentreVille) }}
                    {{ form_widget(form.distanceCentreVille, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Centre ville', 'required': true} }) }}
                    <div class="input-group-addon">Km</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3 col-sm-3 input-group">
                    {{ form_errors(form.distanceShopping) }}
                    {{ form_widget(form.distanceShopping, { 'attr': {'class': 'form-control', 'placeholder': 'Distance Shopping', 'required': true} }) }}
                    <div class="input-group-addon">Km</div>
                </div>
                <div class="col-md-3 col-sm-3">
                    {{ form_errors(form.distanceOther) }}
                    {{ form_widget(form.distanceOther, { 'attr': {'class': 'form-control', 'placeholder': 'Distance autres', 'required': true} }) }}
                </div>
            </div>
            <hr/>

            {# Added le 150814 par Jian #}
            <h4>Bien Etre</h4>
            <div class="form-group row">

                <div class="form-group">
                    {{ form_errors(form.bienEtres) }}
                    {{ form_widget(form.bienEtres, { 'attr': {'class': 'checkboxinput','required': true} })}}               {# Added le 150814 par Jian #}
                </div>

            </div>
            <br/>

            <h4>Equipement</h4>
            <div class="form-group row">

                <div class="col-md-5 col-sm-5">
                    {{ form_errors(form.equipements) }}
                    {{ form_widget(form.equipements, { 'attr': {'class': 'checkboxinput', 'placeholder': ''} }) }}               {# Added le 150814 par Jian #}
                </div>
            </div>
            <br/>
            <h4>Localisation</h4>
            <div class="form-group row">
                <div class="col-md-5 col-sm-5">
                    {{ form_errors(form.localisations) }}
                    {{ form_widget(form.localisations, { 'attr': {'class': 'form-control chosen-select', 'placeholder': ''} }) }}               {# Added le 150814 par Jian #}
                </div>
            </div>
            <br/>
            <h4>Option enfant</h4>
            <div class="form-group row">
                <div class="col-md-5 col-sm-5">
                    {{ form_errors(form.optionEnfants) }}
                    {{ form_widget(form.optionEnfants, { 'attr': {'class': 'checkboxinput', 'placeholder': ''} }) }}               {# Added le 150814 par Jian #}
                </div>
            </div>
            <br/>
            <h4>Option handicapée</h4>
            <div class="form-group row">
                <div class="col-md-5 col-sm-5">
                    {{ form_errors(form.optionHandicapees) }}
                    {{ form_widget(form.optionHandicapees, { 'attr': {'class': 'checkboxinput', 'placeholder': ''} }) }}               {# Added le 150814 par Jian #}
                </div>
            </div>
            <br/>
            <h4>Saison</h4>
            <div class="form-group row">
                <div class="col-md-5 col-sm-5">
                    {{ form_errors(form.saisons) }}
                    {{ form_widget(form.saisons, { 'attr': {'class': 'form-control chosen-select', 'placeholder': ''} }) }}               {# Added le 150814 par Jian #}
                </div>
            </div>
            <br/>
            <h4>Thème</h4>
            <div class="form-group row">
                <div class="col-md-5 col-sm-5">
                    {{ form_errors(form.themes) }}
                    {{ form_widget(form.themes, { 'attr': {'class': 'form-control chosen-select', 'placeholder': ''} }) }}               {# Added le 150814 par Jian #}
                </div>
            </div>
            <br/>
            {% do form.tranchePrix.setRendered %}

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <ul class="record_actions">

        <li>
            <a href="{{ path('location_annonceur') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/lefdata/js/location_planning.js') }}"></script>
    <script src="{{ asset('bundles/lefdata/js/location_media.js') }}"></script>
    <script src="{{ asset('bundles/lefdata/js/location.js') }}"></script>
{% endblock %}

