{% extends '::base.html.twig' %}

{% block body -%}

    <div class="one-location">

        {# Image de couverture #}
        {% if entity.medias %}
            <div class="couv-location">
                {% for media in entity.medias %}
                    {% if loop.first %}
                        <a class="fancybox" rel="gallery1" href="{{ media.src }}" title="{{media.titre}}">
                            <img src="{{ media.src }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% elseif entity.brandPartner in [null, 'lef', 'LEF', 'louerenfrance', 'louer-en-france'] %}
            <div class="couv-location">
                {% for media in entity.medias %}
                    {% if loop.first %}
                        <a class="fancybox" rel="gallery1" href="{{ media.src }}" title="{{media.titre}}">
                            <img src="{{ media.src }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% block pub1 %} {{parent()}} {% endblock %}
        <div class="row">

            {# breadcrumb & titre #}
            <div class="col-sm-7">
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Page d'accueil</a></li>
                    <li><a href="{{ path('locations') }}">Location</a></li>
                    {% if entity.pays != null %} <li><a href="{{ path('locations_by_pays', {'pays':entity.pays?:null}) }}"> {{entity.pays}} </a></li>{% endif %}
                    {% if entity.region != null %} <li><a href="{{ path('locations_by_region', {'pays':entity.pays?:null, 'region':entity.region?entity.region|replace({'/': '_', ' ':''}):null}) }}"> {{entity.region}} </a></li>{% endif %}
                    {% if entity.ville != null %} <li><a href="{{ path('locations_by_ville', {'pays':entity.pays?:null, 'region':entity.region?entity.region|replace({'/': '_', ' ':''}):null, 'ville':entity.ville?:null}) }}"> {{entity.ville}} </a></li>{% endif %}
                    <li class="active">{% if entity.reference != null %} {{entity.reference}} {% endif %}</li>
                </ol>
                <h1 class="titre-location">
                    {{ entity.titre }} {% if entity.pays != null %} / {{entity.pays}} {% endif %}
                    {% if entity.region != null %} / {{entity.region}}{% endif %}
                    {% if entity.ville != null %} / {{entity.ville}}{% endif %}
                    {% if entity.rentalprice != null %} / {{entity.rentalprice}}€{% endif %}
                    <br><small>Reference : {{ entity.reference }}</small> </h1>
                <hr>

                <h4 class="titre2">Descrption</h4>
                <p>{{ entity.descriptionBreve }}</p>
                <p>{{ entity.descriptionDetaillee }}</p>
                <h4 class="titre2">Caractéristques du logement</h4>
                <p>{{ entity.caracteristiques }}</p>


            </div>

            {# Affichage des image  #}
            <div class="col-sm-5">
                {% if entity.medias %}
                    <div class="gallery row">
                        {% for media in entity.medias %}
                            <div class="col-xs-4 col-sm-3 col-md-3">
                                <a class="fancybox thumbnail" rel="gallery1" href="{{ media.src }}" title="{{media.titre}}">
                                    <img src="{{ media.src }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% elseif entity.brandPartner in [null, 'lef', 'LEF', 'louerenfrance', 'louer-en-france'] %}
                    <div class="gallery row">
                        {% for media in entity.medias %}
                            <div class="col-xs-5 col-sm-3 col-md-2">
                                <a class="fancybox thumbnail" rel="gallery1" href="{{ media.src }}" title="{{media.titre}}">
                                    <img src="{{ media.src }}">
                                </a>
                            </div>
                            {% if not loop.first %}
                            {% endif %}
                        {% endfor %}
                    </div>	
                {% endif %}

                <hr>
                <h4 class="titre2">Equipement de la location</h4>
                {% if entity.amenagement %}
                    {{ entity.amenagement }}
                {% endif %}
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        {% if entity.surfaceHabitable %}
                            <strong>Surface</strong><br>
                            {{ entity.surfaceHabitable }} m²
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        {% if entity.nombreDePersonne %}
                            <strong>Capacité (prsn)</strong><br>
                            {{ entity.nombreDePersonne }} 
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        {% if entity.nombreChambre %}
                            <strong>Couchage</strong><br>
                            {{ entity.nombreChambre }} 
                        {% elseif entity.sejourAvecCouchage %}
                            <strong>Couchage</strong><br>
                            {{ entity.sejourAvecCouchage }}
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        {% if entity.sanitaire %}
                            <strong>Salle de bain</strong><br>
                            {{ entity.sanitaire }} 
                        {% elseif entity.nombreSalleDeBain %}
                            <strong>Salle de bain</strong><br>
                            {{entity.nombreSalleDeBain}}
                        {% endif %}
                    </div>
                </div>
                <br>
                <span class="shwo-loc note-location">
                    {% if entity.nombreEtoiles %}
                        {% for start in 1..entity.nombreEtoiles %}<i class="fa fa-star"></i> {% endfor %}
                        {% set restEtoiles = 5 - entity.nombreEtoiles %}
                    {% if restEtoiles > 0 %}{% for start in 1..restEtoiles %}<i class="fa fa-star-o"></i> {% endfor %}{% endif %}
                {% else %}
                    <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                {% endif %}
            </span>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    {% if entity.rentalprice != null %}
                        <span class="prix-label">à partir de</span>
                        <span class="prix"> {{entity.rentalprice}} 
                            <sup class="prix-devise">&euro;</sup></span>
                        {% endif %} 
                </div>
            </div>
        </div>
    </div>

    {# Description de la location #}
    <div class="desc-wrapp row">
        <div class="col-sm-6">



        </div>

        <div class="col-sm-6">

        </div>
    </div>
    <hr>
    {% block pub2 %} {{parent()}} {% endblock %}

    {# Carte  de localisation #}
    {% if entity.latitude != null %}
        <span class="localisation" latitude="{{entity.latitude}}" longitude="{{entity.longitude}}"></span>
        <div class="alert alert-warning">
            <div id="carte" style="width:100%; min-height:250px;"></div>
        </div>
        <hr>
    {% endif %}

</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{{ asset('fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="{{ asset('fancybox/source/jquery.fancybox.css?v=2.1.5') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ asset('fancybox/source/jquery.fancybox.pack.js?v=2.1.5') }}"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6') }}"</script>

    <link rel="stylesheet" href="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ asset('fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"</script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });
            $('.collapse-frame').click(function () {
                $('.iframe-reservation').slideToggle('slow');
            });
        });

        function initialize()
        {
            var latitude = $('.localisation').attr('latitude'),
                    longitude = $('.localisation').attr('longitude');
            var infoCom = new google.maps.LatLng(latitude, longitude);
            var mapOptions = {
                center: infoCom,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoom: 17,
                zoomControl: true,
                panControl: true,
                zoomControlOpt: {
                    style: 'SMALL',
                    position: 'TOP_LEFT'
                },
                styles: [
                    {
                        featureType: "all",
                    }
                ],
            };
            var map = new google.maps.Map(document.getElementById("carte"), mapOptions);
            var marker = new google.maps.Marker({
                position: infoCom,
                map: map
            });
            // marker.setAnimation(google.maps.Animation.BOUNCE);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        google.maps.event.addDomListener(window, 'resize', initialize);
    </script>

{% endblock %}