{% set pageTitle = "Inscription" %}
{% extends '::base.html.twig' %}
{% block body %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
{% endblock %}
{% endblock %}

