{% block subject %}
{% autoescape false %}
{{ 'resetting.email.subject'|trans({}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}#}
{% endautoescape %}
{% endblock %}
{% block body_html %}
{% set new_sex = user.gender %}
{% if new_sex == 'u' or new_sex == ''%}
{% set new_civilite = '' %}
{% endif %}
{% if new_sex == 'f' %}
    {% set new_civilite = 'Mme.' %}
{% endif %}
{% if new_sex == 'm' %}
    {% set new_civilite = 'M.' %}
{% endif %}
<html> 
    <body>
        <div>
            <h4>Bonjour {{new_civilite}} {{user.firstname | capitalize}} {{user.lastname | upper}},</h4>
            <br/>
            <p>
                Pour réinitialiser votre mot de passe, merci de vous rendre sur <a href="{{confirmationUrl}}">{{confirmationUrl}}</a>
                <br/>
                <br/>
                Cordialement,
                <br/>
                Louer en France.
            </p> 
        </div>
    </body>
</html>
{% endblock %}
