{% set pageTitle = "Inscription" %}
{% extends '::base.html.twig' %}
{% block body %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock fos_user_content %}
{% endblock %}