{% set pageTitle = "Inscription" %}
{% extends '::base.html.twig' %}
{% block body %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}