{% extends 'LefFoBundle:Static:layout.html.twig' %}

{% block col_9_left%}
	{{ parent() }}
	{# Contenu de la page >> #}

	<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h1><em>La protection des données</em></h1>
<em><br />
</em>
<p><em>Nous respectons vos informations personnelles avec une politique rigoureuse de protection des données que vous nous confiez.</em></p>
<h2><em>Principes généraux</em></h2>
<p><em>Nous considérons que vos données personnelles (votre nom, votre adresse postale, votre numéro de téléphone, votre adresse e-mail) ainsi que toute donnée communiquée sur notre site internet ou générée par votre navigation constituent des données confidentielles.</em></p>
<p><em>Conformément aux obligations légales, nous conservons ces informations dans des conditions de sécurité renforcées et selon des durées limitées dans le temps proportionnelles aux finalités pour lesquelles vous nous les avez communiquées.</em></p>
<p><em>Ces informations ne sont accessibles qu'à notre personnel et à celui de nos filiales et ne sont utilisées que dans le cadre des finalités pour lesquelles vous nous les avez communiquées : pour vous transmettre l'information que vous avez pu nous demander à travers le remplissage de questionnaires, de formulaires ou l'envoi d'e-mails.</em></p>
<p><em>Certaines informations demandées dans les formulaires ont un caractère obligatoire et sont signalées par un astérisque. Si vous choisissez de ne pas nous les communiquer nous ne pourrons pas traiter votre demande.</em></p>
<h2 id="cookie"><em>Cookies</em></h2>
<p><em>Attention, pour des raisons de sécurité, votre refus d&rsquo;accepter un cookie est susceptible d&rsquo;empêcher l&rsquo;accès à certaines parties du site.</em></p>
<p><em>Le cookie (petit texte envoyé par le site à votre navigateur et stocké sur votre ordinateur) ne nous permet pas de vous identifier, mais il enregistre des informations en fonction l'utilisation que vous faites de notre site (navigation, accès aux comptes , accès aux données...)</em></p>
<h3><em>Pourquoi utiliser des cookies ?</em></h3>
<p><em>Les cookies utilisés sur ce site servent à analyser la fréquentation du site et ainsi réaliser des états statistiques. Ces cookies nous permettent également d'améliorer les services que nous vous proposons et d'en renforcer la sécurité.</em></p>
<h3><em>Paramétrer soi-même son navigateur pour accepter ou rejeter les cookies</em></h3>
<p><em>L'utilisateur peut paramétrer son navigateur pour accepter ou refuser au cas par cas les cookies préalablement à leur installation.<br />
</em></p>
<p><em>Par ailleurs, l'utilisateur peut également régulièrement supprimer les cookies de son terminal via son navigateur.</em></p>
<p><em>Pour la gestion des cookies et les choix de l'utilisateur, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide du navigateur utilisé, elle permet de savoir de quelle manière modifier ses souhaits en matière de cookies.<br />
  A titre d'exemples :</em></p>
<ul>
  <li><em>Pour Internet Explorer™ le lien est :<br />
    <a href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies">http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies</a> pour les versions internet explorer 7 et 8<br />
    <a href="http://windows.microsoft.com/fr-fr/windows7/how-to-manage-cookies-in-internet-explorer-9">http://windows.microsoft.com/fr-fr/windows7/how-to-manage-cookies-in-internet-explorer-9</a> pour Internet Explorer 9 ;</em></li>
  <li><em>Pour Chrome™ le lien est :<br />
    <a href="https://support.google.com/accounts/answer/61416?hl=fr&amp;ref_topic=2373959">http://support.google.com/chrome/bin/answer.py?hl=fr&amp;hlrm=en&amp;answer=95647</a> ;</em></li>
  <li><em>Pour Firefox™ le lien est :<br />
    <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies">https://support.mozilla.org/fr/kb/activer-desactiver-cookies</a> ;</em></li>
  <li><em>Pour Opera™ le lien est :<br />
    <a href="http://help.opera.com/Windows/10.20/fr/cookies.html">http://help.opera.com/Windows/10.20/fr/cookies.html</a></em></li>
</ul>
<p><em>En tout état de cause, l'utilisateur peut se rendre dans la rubrique d'aide de son navigateur pour savoir de quelle manière son navigateur lui permet de choisir les cookies acceptés ou refusés.</em></p>
<h3><em>Donner ou refuser son consentement</em></h3>
<p><em>Lorsqu'un utilisateur du site le visite, il est informé de l'utilisation de cookies par une mention d'information. Si l'utilisateur après avoir pris connaissance de cette mention poursuit sa navigation sur le site, il est informé que cette poursuite de la navigation vaut accord pour le dépôt de cookies.</em></p>
<p><em>Vous pouvez refuser le dépôt des cookies permettant le traçage et l'analyse de vos activités sur ce site ainsi que l'utilisation de ces données sur tout autre site tiers. </em></p>
<h2><em>Gestion des données personnelles</em></h2>
<h3><em>Aucune transmission de vos données personnelles à des tiers</em></h3>
<p><em>Les informations recueillies à travers notre site internet ne sont utilisées et ne font l'objet de communication extérieure aux sociétés membres ou filiales du Crédit Mutuel que pour les seules nécessités de la gestion ou pour satisfaire aux obligations légales et réglementaires. En aucun cas ces informations ne sont transmises ou à fortiori commercialisées à des tiers.</em></p>
<h3><em>Exercice du droit d'accès</em></h3>
<p><em>Toute information, notamment la copie des données personnelles collectées ou générées préalablement, au cours ou à la suite du présent traitement, peut être communiquée aux personnes exerçant leur droit d'accès. Vous pouvez exercer votre droit d'accès et de rectification dans les conditions prévues par la loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés :</em></p>
<ul>
<li>
  <p><em>Par e-mail :</em></p>
    <div><em><a href="mailto:relationclient@creditmutuel.fr">relationclient@louer-en-france.com</a></em></div>
</li>
</ul>
<p><em>Aucune collecte déloyale de données personnelles</em></p>
<p><em>Notre plate-forme serveur n'est pas destinée ni configurée pour collecter des informations personnelles sur les visiteurs du site internet de Louer-en-france.com en dehors des données suivantes : provenance des connexions (fournisseur d'accès), adresse <abbr title="Internet Protocol">IP</abbr>, type et version de navigateur utilisé.</em></p>
<p><em>En aucun cas nous ne collectons l'adresse e-mail des visiteurs sans que ces derniers ne nous la communiquent délibérément dans le cadre de l'inscription à notre newsletter ou de l'envoi d'e-mail à nos annonceurs.</em></p>
<p><em>Les données de trafic ont pour  finalité de nous permettre de procéder, en interne, à des analyses de fréquentation de nos pages d'information afin d'en améliorer le contenu.</em></p>
<p><em>La durée de conservation de ces informations n'excède pas un an. Les données relatives aux transactions sont stockées nominativement. En revanche, celles relatives à la navigation des visiteurs ne le sont pas. Il s'agit de statistiques agrégées permettant de connaître les pages les plus et les moins populaires, les chemins préférés, les niveaux d'activité par jour de la semaine et par heure de la journée, les principales erreurs clients ou serveur.</em></p>
<h2><em>Les e-mails commerciaux</em></h2>
<p><em>Votre e-mail peut  être utilisé lors d'envois ponctuels destinés à vous présenter une offre ou une nouveauté du site. Lors de la collecte de votre e-mail et lors de l'envoi de nos messages, nous nous engageons à respecter la loi pour la confiance dans l'économie numérique (LCEN) et notamment :</em></p>
<ul>
  <li><em>à recueillir vos informations personnelles de manière loyale en vérifiant votre consentement lors de l'inscription</em></li>
  <li><em>à vous offrir la possibilité de vous désabonner via un lien présent sur chacun de nos messages</em></li>
  <li><em>à mentionner systématiquement le nom de l'émetteur Louer-en-France</em></li>
</ul>
<br />

	{# << Fin contenu de la page  #}
{% endblock %}
