{% extends '::base.html.twig' %}

{% block body -%}
	<div class="row">
		<div class="col-sm-3">
			{% block col_3_left %}
				{% block pub2 %} {{ parent() }} {% endblock %}
			{% endblock %}
		</div>
		<div class="col-sm-9">
			{% block col_9_left %}
				{% block pub1 %} {{ parent() }} {% endblock %}
				<hr>
				<h1>{{titrePage}}</h1>
			{% endblock %}
		</div>
	</div>
{% endblock %}
