{% extends 'LefFoBundle:Static:layout.html.twig' %}

{% block col_9_left%}
	{{ parent() }}
	{# Contenu de la page >> #}
<h1>&nbsp;</h1>
<div>
  <h2 align="center">Charte du Site Louer-En-France.com</h2>
  <p> </p>
</div>
<blockquote>
  <div>1-       Evenement-ciel Editions SARL met ce site à disposition de l'ensemble des loueurs de Bungalow, Mobil home, Chalet, Studio, Appartement, Maison de village, Péniche à port d'attache fixe, Villa, Maison de campagne, Demeure, Château.</div>
  <div>2-       Toute location n'entrant pas de manière indiscutable dans l'une de ces catégories ne peut être annoncée sur le site sans une autorisation formelle de l'éditeur.</div>
  <div>3-       Le passage de toute annonce sur le site sous-entend l'adhésion pleine, entière et sans restriction aucune à la présente charte.</div>
  <div>4-       Définition de l'annonceur :<br />
    L'annonceur est la personne qui rédige l'annonce. Il peut-être une personne morale ou physique. L'annonceur est soit la personne qui exploite directement le bien annoncé sur le site, soit celui qui est en charge de sa promotion, soit celui qui réunit ces deux fonctions.<br />
    l'annonceur est tenu de maintenir ses coordonnées à jours en fonction des modifications intervenant dans celles-ci.</div>
  <div>5-       Limitation de l'offre gratuite :<br />
    Tout nouvel annonceur bénéficie d'une offre gratuite. Cette offre est destinée à faire tester l'efficacité de notre site en toute tranquillité pour chaque nouvel annonceur.</div>
  <div>-          Cette offre est limitée à cinq gratuité par annonceur et n'est pas renouvelable</div>
  <div>-          Il est strictement interdit de renouveler une annonce en créant un nouveau compte pour bénéficier une nouvelle fois de cette gratuité</div>
  <div>-          Un annonceur disposant de plusieurs locations ne peut bénéficier que de 5 annonces gratuites, les autres locations, si elles sont annoncées, doivent obligatoirement être souscrites sur le même compte annonceurs et bénéficieront d'une remise sur quantité adaptée et reconductible</div>
  <div>6-       Sanction en cas d'abus d'usage de l'offre gratuite :<br />
    Tout abus avéré constitue une fraude et sera sanctionnée par l'interruption de parution des annonces relevant de l'annonceur incriminé. En fonction du préjudice et de l'intentionnalité, cette interruption peut être temporaire ou définitive. <br />
    En cas d'interruption définitive, l'annonceur ne peut prétendre à aucun dédommagement ni aucun remboursement de quelque nature que ce soit. Et Evénement'Ciel Editions SARL se réserve le droit d'exiger le paiement des sommes dues au titre des parutions abusivement publiées, sur la base du tarif en vigueur au moment de la constatation et pour un montant de 1 an d'abonnement par annonce abusive constatée.</div>
  <div>7-       Responsabilité de contenu : <br />
    L'annonceur est seul responsable du contenu de l'annonce qu'il met en ligne. A ce titre, il est tenu de par la réglementation en vigueur de ne pas induire en erreur, volontairement ou par omission, le consommateur visiteur du site. Après validation de son annonce, il est tenu de vérifier le texte et les images effectivement mis en ligne et d'en vérifier l'exactitude.<br />
    En cas d'erreur du à un problème technique, il est tenu de la signaler à l'administration du site par le biais du lien contact de notre site, en notifiant ses coordonnées et sa référence d'annonce. Ce n'est qu'à partir de la date et de l'heure d'envoi de cette notification, et sous la condition d'un problème technique réel et avéré, que sa responsabilité est dégagée pour ce qui concerne les erreurs issues de ce seul problème technique.</div>
  <div>8-       <u>Chaque annonce doit obligatoirement correspondre à une location existante</u> et conforme en tout point aux caractéristiques stipulées dans l'annonce. L'annonceur doit s'efforcer de remplir tous les champs qui concernent son logement et les mettre a jour en fonction de leur evolution</div>
  <div>9-       Usage des labels<br />
    Notre moteur de création d'annonce autorise l'annonceur à stipuler les labels dont son logement bénéficie. Cette notification est facultative. Tous les labels sans exception peuvent y être notifiés, sous réserve du droit dont dispose effectivement l'annonceur à se prévaloir de ce label pour le logement annoncé.<br />
    En cas d'usage abusif d'un label, ou de toute autre classification, qu'elle soit public ou privé, l'annonceur est seul responsable tant vis-à-vis de ses visiteurs consommateurs que des organismes, publics ou privés, de labellisation ou de classification.</div>
  <div>10-   Annonceur de plusieurs locations<br />
    Chaque compte annonceur de notre site peut gérer un nombre illimité de location. Un tarif dégressif adapté peut-être proposé sur simple demande. <br />
    Nous n'imposons en aucune manière l'obligation de passer autant d'annonce que de location. Néanmoins, conformément au point 8 de la présente charte, chaque annonce doit impérativement être l'exact description d'un logement réel existant.<br />
    De cela découle plusieurs obligations :</div>
  <div>     -     A une annonce concernant un logement (en résidence, en chambre d'hôtes ou pour tout autre annonceur de locations multiples) doit obligatoirement correspondre la capacité réelle d'un logement existant parmi les locations proposées par l'annonceur.</div>
  <div>     -     L'ensemble des critères, et notamment la labellisation, doivent effectivement être réunis dans ce logement réel pour être stipulés</div>
  <div>     -     Seuls les 2 pavés texte libre français/anglais peut-être utilisés pour préciser que l'annonceur dispose d'autres types de logements</div>
  <div>11-   Photos<br />
    Les photos font parties des éléments essentiels d'information des visiteurs. Elles doivent être représentatives de la location annoncée. Leur mise en ligne ne faisant l'objet d'aucun supplément, nous demandons à chaque annonceur de ne pas laisser d'annonce sans y avoir adjoint au moins 3 photos.</div>
  <div>12-   Plan de la location<br />
    L'image téléchargée dans la zone réservée au plan de la location est facultative. Si elle n'est pas mise en ligne le lien &quot;voir le plan de la location&quot; n'apparaît pas dans l'annonce. A ce titre, l'image téléchargée doit impérativement être un plan. Dans le cas contraire, Evénement'Ciel Editions SARL se réserve le droits de supprimer sans avis préalable toute autre image.</div>
  <div>13-   Textes libres<br />
    Les pavé de texte libres sont destinés à amélioré la qualité de l'information délivré aux visiteurs du site. Il ne doivent contenir aucune information qui ne soit en rapport avec le champs de l'annonces auxquels ils se réfèrent.</div>
  <div>14-   sans objet</div>
  <div>15-   Tarifs<br />
    Les tarifs pratiqués par Evénement'Ciel Editions SARL sont ceux affichés sur le site et sur les bons de commandes au moment du passage de commande. Ils peuvent être modifiés sans préavis.</div>
  <div>16-    Données<br />
    L'ensemble des données transmises par l'annonceur sur le site sont destinées à la promotion de ses locations. L'annonceur est informé qu'Evénement'Ciel Editions SARL se réserve le droits de reprendre ces données sous d'autres formes. L'utilisation de ces données ne pourra avoir d'autre but que la promotion soit de la location directement, soit du site où cette location est promue. Elles ne sont pas transmises à des sociétés tiers.</div>
  <div>17-   Manquement à la charte<br />
    Tout manquement à l'un des articles de cette charte peut-être sanctionné de la suspension temporaire de l'annonce en attente de la régularisation de celle-ci par l'annonceur. En cas de manquement grave, et notamment en cas de manquement portant préjudice à l'image du site, Evénement'Ciel Editions SARL se réserve le droit de suspendre définitivement l'ensemble des parutions d'un annonceur et de demander un dédommagement proportionnel au préjudice subit.</div>
  <div>
    <p>18-   Attribution de compétence<br />
      Le tribunal de commerce de Montpellier est seul compétent pour le règlement de tout litige opposant Evénement'Ciel Editions SARL à un annonceur.</p>
    <p> </p>
    <p> </p>
    <p>Louer-en-France.com est un site édité par :</p>
    <p align="center">Evenement-ciel Editions SARL</p>
    <p align="center">38, avenue de Gignac</p>
    <p align="center">34230 Pouzols</p>
    <p align="center">N° TVA : FR13401579677</p>
    <p align="center">Siret 40157967700014</p>
    <p align="center">APE : 722Z</p>
    <p align="center">Capital : 7642,45 euros</p>
    <p><br />
      <br />
      Conformément à la loi du 6 janvier 1998 relative à l'informatique, aux fichiers et aux libertés, les fichiers du site Louer-en-France.com ont fait l'objet de la déclaration CNIL N°1042304</p>
  </div>
</blockquote>
<h1>&nbsp;</h1>


	{# << Fin contenu de la page  #}
{% endblock %}
