{% extends 'LefFoBundle:Static:layout.html.twig' %}

{% block col_9_left%}
	{{ parent() }}
	{# Contenu de la page >> #}

	<h1>La marque Belvilla</h1>
<div id="contentdiv">
  <div>
    <div>
      <h2>Trente ans d'expérience à votre service</h2>
    </div>
    <div>
      <p>Créée en 1980, Belvilla est un des principaux acteurs sur le marché européen de la location de vacances. Villas, chalets, gites, châteaux, fermes et résidences… nos locations (plus de 20 000 hébergements) sont implantées essentiellement en France, aux Pays-Bas, en Belgique, en Allemagne, en Italie, en Espagne et en Grande-Bretagne. Depuis 2007, Belvilla fait partie du holding européen @Leisure Group. Chaque année, plus de 550 000 vacanciers (français, néerlandais, belges, allemands, anglais...) séjournent dans nos villas, chalets, gites, châteaux, fermes et autres résidences.</p>
      <h3>Les maisons Belvilla : uniques, des activités à profusion et un prix intéressant</h3>
      <p>Belvilla vous offre la garantie d'une maison de vacances exclusive, dans un cadre accueillant et à un prix intéressant. Notre offre compte plus de 20 000 locations de vacances dans 20 pays d'Europe.</p>
      <p>Vous souhaitez partir en week-end, en vacances d'été ou aux sports d'hiver ? A la côte, à la campagne ou à la montagne ? Que vous cherchiez un chalet romantique pour deux ou un château avec plein de chambres pour un week-end entre amis, un appartement au cœur de Rome ou une villa dans les Landes, une maison dans les arbres ou une luxueuse villa de rêve, à proximité de chez vous ou plus loin…, vous trouverez toujours un logement Belvilla à votre goût !</p>
      <p>Dans un logement Belvilla, vous êtes libre de déjeuner en pyjama ou de discuter toute la nuit sans tenir compte de l'heure de fermeture des bars... De mitonner de bons petits plats avec les ingrédients de la région ou de vous amuser dans votre piscine privée ! Bref, de profiter pleinement de l'intimité de votre résidence de vacances.</p>
      <h4>Des maisons exceptionnelles</h4>
      <p>Les maisons Belvilla sont empreintes de l'ambiance typique de la région: maison traditionnelle en Allemagne, finca espagnole, mas provençal ou gite en pierre naturelle dans les Ardennes… Belvilla propose même des logements insolites, comme une grotte, un ancien moulin à eau ou une péniche!</p>
      <h4>Pas question de s'ennuyer</h4>
      <p>Dans un logement Belvilla, vous êtes véritablement &quot;chez vous&quot;. Profitez de votre séjour pour découvrir les curiosités alentours et participer aux multiples activités organisées dans la région. Mêlez-vous à la population locale et goûtez ainsi parfaitement l'ambiance de la région. Sur place, le propriétaire ou gérant se tient discrètement à votre disposition et se fera un plaisir de vous renseigner sur les activités et les sites à visiter...</p>
      <h4>Un prix avantageux</h4>
      <p>Il y a des maisons Belvilla pour tous les budgets. En haute saison, vous trouverez déjà une maison de vacances confortable pour un séjour en couple, en famille ou entre amis à partir de € 300. Pour les groupes, nous proposons un vaste choix de maisons comptant plusieurs chambres doubles, éventuellement avec salle de bains privative. Et toujours à des conditions particulièrement avantageuses.</p>
      <h3>Catalogue et réservation en ligne</h3>
      <p>Pour chercher et réserver une location, rien de plus simple! Le site belvilla.fr propose pour chaque maison de vacances une présentation détaillée avec photos ou vidéo. Vous y trouverez des informations sur la maison, une description des environs, la localisation sur Google Maps, les conseils du propriétaire, ainsi qu'un livre d'or avec note de satisfaction et commentaires.</p>
      <p>Le site Internet offre par ailleurs des informations touristiques utiles ainsi que divers conseils pratiques : activités, transports, location de voiture, hôtels d'étape, restauration… Nous vous proposons également des assurances voyages et annulation.</p>
      <h3>Service Clientèle et Service d'Urgence</h3>
      <p>Vous pouvez aussi réserver par téléphone. Notre Service Clientèle est joignable les lundi et vendredi de 9h à 20h, les mardi, mercredi et jeudi de 9h à 18h et le samedi de 10h à 16h. Nos conseillers parlent plusieurs langues.</p>
      <p>Notre Service d'Urgence, Assistance SOS est accessible 24h/24 et 7j/7.</p>
      <h3>Garantie et qualité</h3>
      <p>Un logement Belvilla vous offre la garantie d'une location de vacances agréable à vivre. Nos responsables 'achats' connaissent les maisons et entretiennent des liens étroits avec les propriétaires. Toutes les maisons Belvilla sont classées selon des critères stricts. Notre système de classification attribue des étoiles (1 à 5 étoiles), ce qui correspond à des catégories (de simple à luxueuse). Nos propriétaires ont un accès permanent à l'appréciation des vacanciers ayant déjà séjourné dans leur logement, ce qui leur permet de réagir aux critiques éventuelles et d'apporter les améliorations nécessaires afin qu'il corresponde toujours mieux aux souhaits des vacanciers.</p>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<h1>A propos d'Interhome</h1>
<div>
  <div>
    <div>
      <div>
        <h2>33 000 locations de vacances de qualité certifiée. Réservez en ligne!</h2>
        <p>Interhome propose 33 000 appartements et maisons de vacances dans 31 pays. Vous souhaitez louer un chalet à la montagne, une villa avec piscine, un appartement en ville, une maison de campagne ou même un château ? Nous avons la location qui vous convient. Avec Interhome, vous réservez votre location directement depuis notre site internet. Puis, nous nous occupons de tout : de la remise des clés au nettoyage de fin de séjour. Grâce à des standards européens très stricts, nous certifions la qualité de nos logements selon un système d'étoiles.<br />
        </p>
        <h2>Une question ? Contactez nos conseillers vacances 24h/24 &amp; 7j/7</h2>
        <p>Interhome est à votre disposition 24h/24, 7j/7. Nos conseillers vacances répondent à vos questions et vous conseillent sur votre location de vacances 24 heures par jour, 7 jours par semaine, dans de nombreuses langues. Contactez-nous et nous ferons notre maximum pour vous aider. <br />
        </p>
        <h2>Une présence locale : conseils et services sur place</h2>
        <p>L'une de nos forces : être là où vous en avez besoin. Nos agences locales, nos agences partenaires ou encore les responsables de clés vous accueillent, vous aident et vous proposent de nombreux services sur place. Cette présence locale assure conseils, assistance et services aux clients d'Interhome pendant le séjour. <br />
        </p>
        <h2>Nos locations de vacances : la qualité suisse depuis 1965</h2>
        <p>Interhome fut créée en 1965 en Suisse. Notre savoir-faire conforte, chaque jour, notre place de n°1 en Europe sur le marché de la location de maisons et appartements de vacances partout dans le monde. Interhome possède 15 filiales à l'échelon national. La maison mère Interhome AG, localisée à Glattburg-Zurich, est détenue à 100% par Hotelplan Holding AG. Cette dernière, filiale de Migros, et Migros, le n° 1 de la grande distribution en Suisse, ont également leur siège à Zurich. Nos valeurs suisses vous assurent une bonne qualité de service pour des vacances inoubliables. <br />
        </p>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>INTER CHALET – L&rsquo;entreprise</h1>
<p>Avec environ 26.000 maisons et appartements de vacances dans 16 pays d&rsquo;Europe et en Floride/USA, INTER CHALET est un des plus grands tour-opérateurs d&rsquo;Europe dans le secteur des locations saisonnières. Depuis 39 ans, INTER CHALET propose en qualité de voyagiste spécialisé, des locations de vacances individuelles en été comme en hiver du simple chalet à la villa haut de gamme. Le programme est présenté dans 7 catalogues disponibles dans les agences de voyages ainsi que sur internet (www.interchalet.com). Un grand nombre de locations se trouve dans le sud de l&rsquo;Europe en été et dans les régions alpines en hiver.</p>
<h3>Quels sont les &quot;plus&quot; d'INTER CHALET?</h3>
<p>Les clients et les agences de voyages bénéficient de la qualité et de la vaste gamme de maisons et d&rsquo;appartements de vacances, de nombreuses années d'expérience dans le secteur des locations saisonnières ainsi que de la connaissance approfondie des produits par les acheteurs et le service de réservations.</p>
<p>Les propriétaires apprécient la coopération étroite et individuelle avec toute l'équipe, le vaste réseau de distribution composé de 7000 agences de voyage en Allemagne, en Autriche, au Benelux et en Suisse.</p>
<p>&nbsp;</p>




	
	

	{# << Fin contenu de la page  #}
{% endblock %}
