{% extends 'LefFoBundle:Static:layout.html.twig' %}

{% block col_9_left%}
	{{ parent() }}
	{# Contenu de la page >> #}

<p>Depuis 2004, Louer-en-France.com permet aux loueurs de  maisons et d'appartement de vacances d&rsquo;annoncer gratuitement, leurs locations.</p>
<p>En dix ans nous avons permis à des milliers de vacanciers  de trouver leurs vacances de rêves parfois à la dernière minute</p>
<p>Aujourd&rsquo;hui, grâce à vous, à vos visites, et à vos réservations  notre site accueille de dizaines de milliers d&rsquo;annonces et vous permet de comparer  la meilleure offre partout dans le monde.</p>
<p>Louer-en-France.com est un site édité par Evénement&rsquo;ciel  Editions, 38 avenue de Gignac, 34230 Pouzols.</p>


	{# << Fin contenu de la page  #}
{% endblock %}
